<md-menu class="ma-input-button" md-position-mode="target-right target">
  <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button"><md-icon>arrow_drop_down</md-icon></md-button>
  <md-menu-content width="4" class="ma-permissions-menu">
    <md-menu-item ng-repeat="permission in $ctrl.permissions track by permission.name">
      <div flex layout layout-align="start center">
        <md-checkbox flex ng-model="permission.value" ng-change="$ctrl.checkboxChanged(permission)"><span ng-bind="permission.name"></span></md-checkbox>
        <div md-menu-align-target style="height:100%"></div>
      </div>
    </md-menu-item>
  </md-menu-content>
</md-menu>