
<div ng-class="{'desktop': $mdMedia('gt-sm')}" layout="column" layout-gt-sm="row" flex layout-align="end end">
    <md-table-pagination flex flex-order="3" flex-order-gt-sm="1" class="underline" md-limit="limit" md-limit-options="[5, 10, 15, 25, 50, 100, 200]" md-page="page" md-total="{{total}}" md-page-select md-on-paginate="onPaginate"></md-table-pagination>
    <md-button flex-order="2" class="md-raised md-primary md-hue-2" ng-click="acknowledgeAll()" ng-disabled="!totalUnAcknowledged"><span ma-tr="dashboards.v3.app.acknowledge"></span> {{totalUnAcknowledged}} <span ma-tr="dashboards.v3.app.events"></span></md-button>
</div>
<md-table-container class="events-table">
    <table md-table ng-class="{'mobile': !$mdMedia('gt-sm')}">
        <thead md-head md-order="sort">
            <tr md-row>
                <th md-column md-order-by="alarmLevel" ma-tr="dashboards.v3.app.alarmLvl" class="narrow-column"></th>
                <th md-column md-order-by="activeTimestamp" ma-tr="dashboards.v3.app.time" class="medium-column"></th>
                <th md-column md-order-by="message" ma-tr="dashboards.v3.app.msg" class="msg-column"></th>
                <th md-column ma-tr="dashboards.v3.app.status" class="medium-column"></th>
                <th md-column ma-tr="dashboards.v3.app.duration" class="medium-column"></th>
                <th md-column md-order-by="acknowledged" ma-tr="dashboards.v3.app.acknowledge" class="narrow-column"></th>
            </tr>
        </thead>
        <tbody md-body ng-hide="total">
            <tr md-row>
                <td md-cell colspan="6" style="height:60px; font-weight: bold;" ma-tr="dashboards.v3.app.noEventsFound"></td>
            </tr>
        </tbody>
        <tbody md-body ng-show="total">
            <tr md-row ng-repeat="event in events track by event.id">
                <td md-cell class="narrow-column">
                    <!-- <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x" style="color: rgb(255,133,0)" ng-if="event.active"></i>
                        <i class="fa fa-flag alarm-flag fa-stack-1x" ng-class="event.alarmLevel" ng-click="addNote($event, 'Event', event.id)">
                            <md-tooltip md-delay="250"  md-direction="right" md-autohide><span ma-tr="dashboards.v3.app.eventId"></span>: {{event.id}}</md-tooltip>
                        </i>
                    </span> -->
                    <i class="fa fa-flag alarm-flag fa-lg" ng-class="event.alarmLevel" ng-click="addNote($event, 'Event', event.id, null)">
                        <md-tooltip md-delay="250"  md-direction="right" md-autohide><span ma-tr="dashboards.v3.app.addUserNote"></span> - (<span ma-tr="dashboards.v3.app.eventId"></span>: {{event.id}})</md-tooltip>
                    </i>
                </td>
                <td md-cell class="medium-column" ng-bind="formatDate(event.activeTimestamp)"></td>
                <td md-cell class="msg-column" ng-class="{'truncated' : !toggle}">
                  <span ng-click="toggle = !toggle" ng-bind-html="parseHTML(event.message)"></span>
                </td>
                <td md-cell><span ng-if="event.returnToNormalTimestamp != 0"><span ng-bind="formatDate(event.returnToNormalTimestamp)"></span> - </span>{{event.status}}<span ng-if="event.active" md-colors="{'color': 'accent-hue-2'}" style="font-weight: bold;"> Active</span></td>
                <td md-cell ng-if="event.returnToNormalTimestamp === 0" class="medium-column">
                    <span ng-if="!event.active">N/A</span>
                    <span ng-if="event.active">
                        <ma-now update-interval="1 minutes" output="time"></ma-now>
                        {{time - event.activeTimestamp | duration: 'humanize'}}
                    </span>
                </td>
                <td md-cell ng-if="event.returnToNormalTimestamp != 0" class="medium-column">{{event.returnToNormalTimestamp - event.activeTimestamp | duration: 'humanize'}}</td>
                <td md-cell class="narrow-column">
                    <i class="fa fa-circle-o fa-lg acknowledged-checkbox" ng-click="acknowledgeEvents([event]);" ng-if="!event.acknowledged"></i>
                    <i class="fa fa-check-circle-o fa-lg acknowledged-checkbox" ng-if="event.acknowledged"></i>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
