<md-table-container ng-init="myOrder='-activeTimestamp'; myPage=1;">
    <table md-table>
        <thead md-head md-order="myOrder">
            <tr md-row>
                <th md-column md-order-by="activeTimestamp">Time</th>
                <th md-column md-order-by="message">Message</th>
                <th md-column md-order-by="eventType.eventType">Event Type</th>
                <th md-column md-order-by="alarmLevel">Alarm Level</th>
                <th md-column md-order-by="status">Status</th>
                <th md-column>Duration</th>
                <th md-column md-order-by="id">Id</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr ng-repeat="event in events | orderBy: myOrder | limitTo: limit: (myPage - 1) * limit">
                <td md-cell>{{event.activeTimestamp | moment:'format':'l LT'}}</td>
                <td md-cell ng-bind-html="parseHTML(event.message)"></td>
                <td md-cell>{{event.eventType.eventType}}</td>
                <td md-cell>{{event.alarmLevel}}</td>
                <td md-cell>{{event.status + event.active && ' Active'}}</td>
                <td md-cell ng-if="event.returnToNormalTimestamp === 0">N/A</td>
                <td md-cell ng-if="event.returnToNormalTimestamp != 0">{{event.returnToNormalTimestamp - event.activeTimestamp | duration: 'humanize'}}</td>
                <td md-cell>{{event.id}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="limit" md-limit-options="[5, 10, 15, 25, 50]" md-page="myPage" md-total="{{events.$total}}"></md-table-pagination>