<table class="statistics table table-striped">
	<thead>
		<tr>
			<th></th>
			<th ma-tr="common.value"></th>
			<th ma-tr="common.time"></th>
		</tr>
	</thead>
	<tbody ng-if="!statistics.hasData">
		<tr>
			<td colspan="3" ma-tr="common.stats.noDataForPeriod"></td>
		</tr>
	</tbody>
	<tbody ng-if="statistics.hasData">
		<tr ng-if="statistics.first" class="statistics-first">
			<td ma-tr="common.stats.start"></td>
			<td ng-bind="statistics.first.value"></td>
			<td ng-bind="formatTimestamp(statistics.first.timestamp)"></td>
		</tr>
		<tr ng-if="statistics.last" class="statistics-last">
			<td ma-tr="common.stats.end"></td>
			<td ng-bind="statistics.last.value"></td>
			<td ng-bind="formatTimestamp(statistics.last.timestamp)"></td>
		</tr>
		<tr ng-if="statistics.minimum" class="statistics-minimum">
			<td ma-tr="common.stats.min"></td>
			<td ng-bind="statistics.minimum.value"></td>
			<td ng-bind="formatTimestamp(statistics.minimum.timestamp)"></td>
		</tr>
		<tr ng-if="statistics.maximum" class="statistics-maximum">
			<td ma-tr="common.stats.max"></td>
			<td ng-bind="statistics.maximum.value"></td>
			<td ng-bind="formatTimestamp(statistics.maximum.timestamp)"></td>
		</tr>
		<tr ng-if="statistics.average" class="statistics-average">
			<td ma-tr="common.stats.avg"></td>
			<td ng-bind="statistics.average.value"></td>
			<td ng-bind="formatTimestamp(statistics.average.timestamp)"></td>
		</tr>
		<tr ng-if="statistics.integral" class="statistics-integral">
			<td ma-tr="common.stats.integral"></td>
			<td ng-bind="statistics.integral.value"></td>
			<td ng-bind="formatTimestamp(statistics.integral.timestamp)"></td>
		</tr>
		<tr ng-if="statistics.sum" class="statistics-sum">
			<td ma-tr="common.stats.sum"></td>
			<td ng-bind="statistics.sum.value"></td>
			<td ng-bind="formatTimestamp(statistics.sum.timestamp)"></td>
		</tr>
		<tr ng-if="statistics.count" class="statistics-count">
			<td ma-tr="common.stats.count"></td>
			<td ng-bind="statistics.count"></td>
			<td></td>
		</tr>
		<tr ng-if="statistics.changes" class="statistics-changes">
			<td ma-tr="common.stats.changes"></td>
			<td ng-bind="statistics.changes"></td>
			<td></td>
		</tr>
		<tr ng-if="statistics.startsAndRuntimes && !hideStartsAndRuntimes" class="statistics-summary">
			<td ma-tr="dashboards.v3.app.summary"></td>
			<td colspan="2">
				<ma-starts-and-runtimes-table starts-and-runtimes="statistics.startsAndRuntimes"></ma-starts-and-runtimes-table>
			</td>
		</tr>
	</tbody>
</table>