<md-card>
      <md-toolbar class="md-whiteframe-1dp md-hue-3">
            <div class="md-toolbar-tools">
                  <h2 flex>
                  <span ma-tr="dashboards.v3.app.pointComments"></span>
            </h2>
                  <md-button class="md-accent md-raised" aria-label="New Note" ng-click="addNote($event, 'Point', referenceId, updateWithNewNote)">
                        {{'dashboards.v3.app.add' | tr}}
                  </md-button>
            </div>
      </md-toolbar>
      <md-table-container ng-init="myOrder='-timestamp'; myPage=1;">
            <table md-table>
                  <thead md-head md-order="myOrder">
                        <tr md-row>
                              <th md-column md-order-by="timestamp" ma-tr="dashboards.v3.app.time"></th>
                              <th md-column md-order-by="comment" ma-tr="dashboards.v3.app.note"></th>
                              <th md-column md-order-by="username" ma-tr="dashboards.v3.app.user"></th>
                        </tr>
                  </thead>
                  <tbody md-body ng-hide="userNotes.length > 0">
                        <tr md-row>
                            <td md-cell colspan="3" style="height:60px; font-weight: bold;" ma-tr="dashboards.v3.app.noCommentsFound"></td>
                        </tr>
                   </tbody>
                  <tbody md-body ng-show="userNotes.length > 0">
                        <tr md-row ng-repeat="note in userNotes | orderBy: myOrder">
                              <td md-cell>{{note.timestamp | moment:'format':'l LT'}}</td>
                              <td md-cell>{{note.comment}}</td>
                              <td md-cell>{{note.username}}</td>
                        </tr>
                  </tbody>
            </table>
      </md-table-container>
</md-card>