<ul>
  <li ng-if="$ctrl.showNewButton" ng-click="$ctrl.newButtonClicked({'$event': $event})">
    <strong ma-tr="dashboards.v3.app.new"></strong>
    <em ma-tr="dashboards.v3.app.newWatchList"></em>
    <button ng-click="$ctrl.newButtonClicked({'$event': $event})" ma-tr="dashboards.v3.app.new"></button>
  </li>
  <li ng-repeat="item in $ctrl.items track by item.xid"
      ng-class="{'ma-list-selected': $ctrl.selected.xid === item.xid}"
      ng-click="$ctrl.setViewValue(item)">
    <strong ng-bind="item.name"></strong>
    <em ng-bind="item.username"></em>
    <button ng-click="$ctrl.editButtonClicked({'$event': $event, 'watchList': item})" ma-tr="common.edit"
        ng-if="$ctrl.user.hasPermission(item.editPermission) || $ctrl.user.username === item.username"></button>
  </li>
</ul>