<ul>
  <li ng-if="$ctrl.showNewButton" ui-sref="dashboard.watchListBuilder()">
    <strong ma-tr="dashboards.v3.app.new"></strong>
    <em ma-tr="dashboards.v3.app.newWatchList"></em>
    <button ui-sref="dashboard.watchListBuilder()" ma-tr="dashboards.v3.app.new"></button>
  </li>
  <li ng-repeat="wl in $ctrl.watchLists track by wl.xid"
      ng-class="{'watchlist-selected': $ctrl.watchList.xid === wl.xid}"
      ng-click="$ctrl.setViewValue(wl)">
    <strong ng-bind="wl.name"></strong>
    <em ng-bind="wl.username"></em>
    <button ui-sref="dashboard.watchListBuilder({watchListXid: wl.xid})" ma-tr="common.edit"></button>
  </li>
</ul>