<ul>
  <li ng-if="$ctrl.showNewButton" ui-sref="dashboard.watchListBuilder()">
    <strong ma-tr="dashboards.v3.app.new"></strong>
    <em ma-tr="dashboards.v3.app.newWatchList"></em>
    <button ui-sref="dashboard.watchListBuilder()" ma-tr="dashboards.v3.app.new"></button>
  </li>
  <li ng-repeat="item in $ctrl.items track by item.xid"
      ng-class="{'ma-list-selected': $ctrl.selected.xid === item.xid}"
      ng-click="$ctrl.setViewValue(item)">
    <strong ng-bind="item.name"></strong>
    <em ng-bind="item.username"></em>
    <button ui-sref="dashboard.watchListBuilder({watchListXid: item.xid})" ma-tr="common.edit"></button>
  </li>
</ul>