<md-list>
  <md-list-item ng-if="$ctrl.showNewButton" class="md-2-line" ng-click="$ctrl.newButtonClicked({'$event': $event})">
    <div class="md-list-item-text">
      <h3 ma-tr="dashboards.v3.app.new"></h3>
      <p ma-tr="dashboards.v3.app.newWatchList"></p>
    </div>
    <md-button class="md-secondary md-icon-button" ng-click="$ctrl.newButtonClicked({'$event': $event})">
      <md-icon>add</md-icon>
    </md-button>
  </md-list-item>
  <md-list-item class="md-2-line"
      ng-repeat="item in $ctrl.items track by item.xid"
      ng-class="{'ma-list-selected': $ctrl.selected.xid === item.xid}"
      md-colors="{'color': $ctrl.selected.xid === item.xid ? 'accent' : 'background-800'}"
      ng-click="$ctrl.setViewValue(item)">
    <div class="md-list-item-text">
      <h3 ng-bind="item.name"></h3>
      <p ng-bind="item.username"></p>
    </div>
    <md-button class="md-secondary md-icon-button" ng-click="$ctrl.editButtonClicked({'$event': $event, 'watchList': item})"
        ng-if="$ctrl.user.hasPermission(item.editPermission) || $ctrl.user.username === item.username">
      <md-icon>edit</md-icon>
    </md-button>
  </md-list-item>
</md-list>