<ul class="nav navbar-top-links navbar-right">
	<li class="dropdown" ng-if="errors.length">
        <a class="dropdown-toggle warning" data-toggle="dropdown" tooltip-placement="bottom" uib-tooltip="API Errors">
            <i class="fa fa-exclamation-triangle fa-fw text-danger"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li ng-repeat-start="error in errors">
                <a>
                    <div>
                        <i class="fa fa-ban fa-fw"></i> {{error.msg}}
                        <span class="pull-right text-muted small">{{error.time | moment:'format':'lll'}}</span>
                    </div>
                </a>
            </li>
            <li class="divider" ng-repeat-end></li>
            <li>
                <a class="text-center" ng-click="clearErrors()">
                    <strong>Clear errors</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" href="/events.shtm" tooltip-placement="bottom" uib-tooltip="Mango Events">
            <i class="fa fa-bell fa-fw"></i>
        </a>
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" tooltip-placement="bottom" uib-tooltip="Mango User Menu">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li tooltip-placement="left" uib-tooltip="Mango User Profile"><a href="/users.shtm"><i class="fa fa-user fa-fw"></i> {{user.username}}</a></li>
            <li ng-if="user.hasPermission('superadmin')" tooltip-placement="left" uib-tooltip="Mango System Settings"><a href="/system_settings.shtm"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
            <li class="divider"></li>
            <li tooltip-placement="left" uib-tooltip="Logout"><a href="/logout.htm"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>

