<div class="point-hierarchy-item">
  <md-checkbox ng-model="$ctrl.folder.checked" ng-change="$ctrl.folderCheckChanged()"
    ng-disabled="$ctrl.browserCtrl.selectSubfolders && $ctrl.browserCtrl.selectOneFolder && $ctrl.parent.checked" ng-class="{'md-indeterminate': $ctrl.folder.partial}">
  </md-checkbox>
  
  <span ng-click="$ctrl.folderClicked($event)">
    <md-icon>folder</md-icon>
    <strong>{{$ctrl.folder.name}}</strong>&nbsp;<em>({{$ctrl.folder.points.length}} points)</em>
    <md-icon ng-show="$ctrl.folder.subfolders.length || ($ctrl.selectPoints && $ctrl.folder.points.length)">{{$ctrl.open ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
  </span>
</div>

<ul ng-if="$ctrl.open && !$ctrl.selectPoints">
  <li ng-repeat="subfolder in $ctrl.folder.subfolders track by subfolder.id">
    <ma-point-hierarchy-folder folder="subfolder" parent="$ctrl.folder" depth="$ctrl.depth + 1">
    </ma-point-hierarchy-folder>
  </li>
</ul>

<ul ng-if="$ctrl.open && $ctrl.selectPoints">
  <li ng-repeat="subfolder in $ctrl.folder.subfolders track by subfolder.id">
    <ma-point-hierarchy-folder folder="subfolder" parent="$ctrl.folder" depth="$ctrl.depth + 1"
      select-points="$ctrl.selectPoints" show-device-names="$ctrl.showDeviceNames">
    </ma-point-hierarchy-folder>
  </li>
  <li ng-repeat="point in $ctrl.folder.points | orderBy:['deviceName', 'name'] | limitTo:500 track by point.xid" class="point-hierarchy-item">
    <md-checkbox ng-model="point.checked" ng-change="$ctrl.pointCheckChanged(point)"></md-checkbox>
    <span ng-if="!$ctrl.showDeviceNames" ng-bind="point.name"></span>
    <span ng-if="$ctrl.showDeviceNames"><span ng-bind="point.deviceName"></span> - <span ng-bind="point.name"></span></span>
  </li>
</ul>
