<h1 ma-tr="header.systemSettings"></h1>

<div ma-accordion="accordion" ma-accordion-single>
  <md-card class="ma-accordion" ng-repeat="section in $ctrl.SystemSettings.getSections() track by $index">
    <md-card-title ng-click="accordion.toggle('section' + $index)">
      <md-card-title-text>
        <div class="md-headline" ng-class="{'ma-accordion-expanded': accordion.section['section' + $index]}" layout layout-align="start center">
          <span flex ma-tr="{{section.titleTr}}"></span><md-icon>keyboard_arrow_down</md-icon>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <ma-accordion-section id="{{'section' + $index}}" ma-accordion-open="$index === 0">
        <div layout="column" class="md-padding" ng-include="section.template"></div>
      </ma-accordion-section>
    </md-card-content>
  </md-card>
</div>