<li class="sidebar-date-controls">
    <div class="form-group">
        <ma-date-range-picker class="form-control" from="dateControls.from" to="dateControls.to"
        preset="LAST_1_DAYS" update-interval="{{dateControls.updateInterval}}"></ma-date-range-picker>
    </div>
    <div class="form-group">
    	<label for="date-controls-from" ma-tr="common.dateRangeFrom">From</label>
		<input ma-date-picker id="date-controls-from" ng-model="dateControls.from" class="form-control">
    </div>
    <div class="form-group">
    	<label for="date-controls-from" ma-tr="common.dateRangeTo">To</label>
		<input ma-date-picker id="date-controls-to" ng-model="dateControls.to" class="form-control">
    </div>
</li>