<form class="ma-set-point-value no-errors-spacer">
    <div layout="row">
        <md-input-container flex ng-if="point.pointLocator.dataType === 'NUMERIC'">
            <input type="number" step="any" ng-model="input.value"
                ma-copy-blurred="point.value" ng-disabled="!point.pointLocator.settable">
        </md-input-container>
        <md-input-container flex ng-if="point.pointLocator.dataType === 'ALPHANUMERIC'">
            <input type="text" ng-model="input.value"
                ma-copy-blurred="point.value" ng-disabled="!point.pointLocator.settable">
        </md-input-container>
        <md-select flex ng-if="point.pointLocator.dataType === 'BINARY' || point.pointLocator.dataType === 'MULTISTATE'"
            ng-model="input.value"
            ma-copy-blurred="point.value" ng-disabled="!point.pointLocator.settable">
            <md-option ng-value="option.id" ng-repeat="option in options track by option.id" ng-style="option.style">{{option.label}}</md-option>
        </md-select>
        <md-button type="submit" class="md-raised md-accent"
                ng-disabled="!point.pointLocator.settable || result.pending" ng-click="result=point.setValueResult(input.value)"
                ng-class="{'set-pending': result.pending, 'set-success': result.success, 'set-error': result.error, 'md-warn': result.error}"
                ma-tr="common.set">
            <div layout="row" layout-align="center center">
                <span ma-tr="common.set"></span>
                <md-progress-circular md-diameter="18px" md-mode="indeterminate" ng-if="result.pending"></md-progress-circular>
                <md-icon ng-if="result.success" class="md-primary">check</md-icon>
                <md-icon ng-if="result.error" class="md-primary">error</md-icon>
            </div>
        </md-button>
    </div>
</form>