<div class="input-group">
	<input ng-if="point.pointLocator.dataType === 'NUMERIC'" type="number" step="any" ng-model="input.value"
		ma-copy-blurred="point.value" class="form-control"  ng-disabled="!point.pointLocator.settable">
	<input ng-if="point.pointLocator.dataType === 'ALPHANUMERIC'" ng-model="input.value" ma-copy-blurred="point.value"
		type="text" class="form-control" ng-disabled="!point.pointLocator.settable">
	<select ng-if="point.pointLocator.dataType === 'BINARY' || point.pointLocator.dataType === 'MULTISTATE'"
		ng-model="input.value"  ma-copy-blurred="point.value"
		ng-options="option.id as option.label for option in options" class="form-control" ng-disabled="!point.pointLocator.settable">
	</select>
	<span class="input-group-btn">
      <button ng-disabled="!point.pointLocator.settable" ng-click="point.setValue(input.value)" ma-tr="common.set"
      	class="btn btn-default"></button>
    </span>
</div>
