<table class="starts-and-runtimes table table-striped">
	<thead>
		<tr>
			<th ma-tr="common.value"></th>
			<th ma-tr="common.stats.starts"></th>
			<th ma-tr="common.stats.runtime"></th>
			<th ma-tr="common.stats.proportion"></th>
		</tr>
	</thead>
	<tbody ng-if="startsAndRuntimes.length">
		<tr ng-repeat="state in startsAndRuntimes">
			<td ng-style="{color:state.renderedColor}">{{ state.renderedValue || state.value }}</td>
			<td ng-bind="state.starts"></td>
			<td>{{ state.runtime | duration:'humanize'}}</td>
			<td>{{ state.proportion * 100 | number:2 }}%</td>
		</tr>
	</tbody>
	<tbody ng-if="!startsAndRuntimes.length">
		<tr>
			<td colspan="4" ma-tr="common.stats.noDataForPeriod"></td>
		</tr>
	</tbody>
</table>
