<table class="statistics table table-striped">
	<thead>
		<tr>
			<th></th>
			<th ma-tr="common.value"></th>
			<th ma-tr="common.time"></th>
		</tr>
	</thead>
	<tbody ng-if="!statistics.hasData">
		<tr>
			<td colspan="3" ma-tr="common.stats.noDataForPeriod"></td>
		</tr>
	</tbody>
	<tbody ng-if="statistics.hasData">
		<tr ng-if="statistics.first" class="statistics-first">
			<td ma-tr="common.stats.start"></td>
			<td>{{statistics.first.value}}</td>
			<td>{{statistics.first.timestamp | moment:'format':'lll'}}</td>
		</tr>
		<tr ng-if="statistics.last" class="statistics-last">
			<td ma-tr="common.stats.end"></td>
			<td>{{statistics.last.value}}</td>
			<td>{{statistics.last.timestamp | moment:'format':'lll'}}</td>
		</tr>
		<tr ng-if="statistics.minimum" class="statistics-minimum">
			<td ma-tr="common.stats.min"></td>
			<td>{{statistics.minimum.value}}</td>
			<td>{{statistics.minimum.timestamp | moment:'format':'lll'}}</td>
		</tr>
		<tr ng-if="statistics.maximum" class="statistics-maximum">
			<td ma-tr="common.stats.max"></td>
			<td>{{statistics.maximum.value}}</td>
			<td>{{statistics.maximum.timestamp | moment:'format':'lll'}}</td>
		</tr>
		<tr ng-if="statistics.average" class="statistics-average">
			<td ma-tr="common.stats.avg"></td>
			<td>{{statistics.average.value}}</td>
			<td>{{statistics.average.timestamp | moment:'format':'lll'}}</td>
		</tr>
		<tr ng-if="statistics.integral" class="statistics-integral">
			<td ma-tr="common.stats.integral"></td>
			<td>{{statistics.integral.value}}</td>
			<td>{{statistics.integral.timestamp | moment:'format':'lll'}}</td>
		</tr>
		<tr ng-if="statistics.sum" class="statistics-sum">
			<td ma-tr="common.stats.sum"></td>
			<td>{{statistics.sum.value}}</td>
			<td>{{statistics.sum.timestamp | moment:'format':'lll'}}</td>
		</tr>
		<tr ng-if="statistics.count" class="statistics-count">
			<td ma-tr="common.stats.count"></td>
			<td>{{statistics.count}}</td>
			<td></td>
		</tr>
		<tr ng-if="statistics.changes" class="statistics-changes">
			<td ma-tr="common.stats.changes"></td>
			<td>{{statistics.changes}}</td>
			<td></td>
		</tr>
		<tr ng-if="statistics.startsAndRuntimes && !hideStartsAndRuntimes" class="statistics-summary">
			<td ma-tr="common.stats.summary"></td>
			<td colspan="2">
				<ma-starts-and-runtimes-table starts-and-runtimes="statistics.startsAndRuntimes"></ma-starts-and-runtimes-table>
			</td>
		</tr>
	</tbody>
</table>