<div>
	<h1>Mango Dashboards v3</h1>

	<h3>Welcome User</h3>

	<div flex layout="row" layout-align="start start" layout-margin layout-fill layout-wrap>
    <md-card flex="15" flex-xs="50">
        <md-card-content layout="column" layout-align="start center">
            <div>15</div>
			<md-icon style="font-size: 80px;">device_hub</md-icon>
			<div>Data Sources</div>
        </md-card-content>
    </md-card>
    <md-card flex="15" flex-xs="50">
        <md-card-content>
            Internal Metric 2
        </md-card-content>
    </md-card>
    <md-card flex="15" flex-xs="50">
        <md-card-content>
            Internal Metric 3
        </md-card-content>
    </md-card>
    <md-card flex="15" flex-xs="50">
        <md-card-content>
            Internal Metric 4
        </md-card-content>
    </md-card>
    <md-card flex="15" flex-xs="50">
        <md-card-content>
            Internal Metric 5
        </md-card-content>
    </md-card>
    <md-card flex="15" flex-xs="50">
        <md-card-content>
            Internal Metric 6
        </md-card-content>
    </md-card>
    <md-card flex="15" flex-xs="50">
        <md-card-content>
            Internal Metric 7
        </md-card-content>
    </md-card>
    <md-card flex="15" flex-xs="50">
        <md-card-content>
            Internal Metric 8
        </md-card-content>
    </md-card>
</div>
</div>
