<h1>Mango Dashboards v3</h1>

<h3>Welcome to Mango's New User Interface</h3>

<p>
	Mango 3.0 is bringing you a refreshed UI experience utilizing a modern single page application framework.
	We have completed the new versions of our <a ui-sref="dashboard.watchList">Watchlist</a>, 
	<a ui-sref="dashboard.events">Events</a>, and <a ui-sref="dashboard.dataPointDetails">Data Point Details</a> pages.
	They are designed to be faster, look great on any screen size, and provide more functionality then ever before.
</p>
<p>
	We have added a built in <code>CMS</code> like experience that allows you to create your own dashboard pages using our
	<a ui-sref="dashboard.settings.editPages">Page Editor</a> and library of <code>Mango UI Components</code>.
	They are designed to both impress and offer superior functionality and performance over previous methods of creating
	graphical views. The development environment is designed for rapid development and deployment by utilizing high level
	HTML coding with our <code>UI Components</code> and <code>Templates</code>.
</p>

<p>
	Interactive <code>Demos</code> and <code>Live Previews</code> can be found under <code>Examples</code> in the menu.
	Full documentation of all parameters of each component can be found under <code>API Docs</code>.
	<a ui-sref="dashboard.help.customPages">Learn more</a> about how to create pages and edit the menu to customize Mango to your needs.
</p>

<p>
	All legacy pages can be accessed from the menu on the left. The menu itself is completely 
	<a ui-sref="dashboard.help.menuEditor">customizable</a> and allows you to reorder and
	hide items, as well as create a hierarchy of your own custom pages. If you want to change the look and feel of the app you can change
	theme colors and set your own logo with the <a ui-sref="dashboard.settings.dashboardSettings">Dashboard Settings</a> page.
</p>

<p>
	For more information on all the featues of the new UI see the help guides under <code>Help</code> in the menu.
	For more help on getting started with Mango see our
	<a href="http://help.infiniteautomation.com/support/solutions/14000068323" target="_blank">Help Site</a> or
	visit our <a href="http://infiniteautomation.com/forum/category/21/mango-api-and-dashboards" target="_blank">Support Forum</a>
	to ask questions and we will get back in touch usually same-day.
</p>

<p>
	Have fun!
</p>