<div layout="row" flex>
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-print
        md-is-locked-open="navLockedOpen" md-swipe-left="closeMenu()" class="navigation-menu">
    <md-toolbar class="md-tall md-primary md-hue-1 dashboard-sidebar-header md-whiteframe-glow-z1">
      <ma-now update-interval="1 MINUTES" output="currentTime" time-zone="{{user.getTimezone()}}"></ma-now>
      <div flex layout="row">
        <img src="/modules/dashboards/web/img/logo.svg" ma-tr="header.dashboards.v3.dox.heading">
        <div flex layout="column" layout-align="start end" class="dashboard-user-datetime">
          <span ng-bind="currentTime.format('LT')" class="dashboard-user-time"></span>
          <span ng-bind="currentTime.format('ddd ll')" class="dashboard-user-date"></span>
          <span ng-bind="currentTime.format('z')" class="dashboard-user-date"></span>
        </div>
      </div>
      <md-select class="md-no-underline" ng-model="userMenu" ng-init="userMenu='user'" ng-change="userMenu === 'logout' && $state.go('logout')">
        <md-option value="user" class="user-menu">
          <div layout="row" layout-align="start center">
            <md-icon>person</md-icon>
            <div flex layout="column">
              <span ng-bind="user.username"></span>
              <span class="email" ng-bind="user.email"></span>
            </div>
          </div>
        </md-option>
        <md-option value="logout" class="user-menu">
          <div layout="row" layout-align="start center">
            <md-icon>power_settings_new</md-icon>
            <span ma-tr="header.logout" flex>Logout</span>
          </div>
        </md-option>
      </md-select>
    </md-toolbar>

    <md-content flex role="navigation">
      <json-store-menu user="user"></json-store-menu>
    </md-content>
  </md-sidenav>

  <div layout="column" tabIndex="-1" flex class="main-page-area">
    <md-toolbar md-theme="mangoDark" class="dashboard-main-toolbar" ng-class="{'md-whiteframe-glow-z1': !(mdAdmin.stateParams.dateBar && dateBar.expanded)}" role="toolbar">

      <div class="md-toolbar-tools dashboard-toolbar-tools" tabIndex="-1">
        <md-button id="menu-button" class="md-icon-button" ng-click="toggleMenu()" aria-label="Toggle Menu"> <md-icon class="md-light">menu</md-icon>
        </md-button>
        <div layout="row" flex class="fill-height">
          <h2 class="md-toolbar-item dashboard-breadcrumb" ng-class="{'gt-sm': $mdMedia('gt-sm')}">
            <span ng-repeat="crumb in crumbs track by $index" ng-class="{'hide-xs': !$last}">
                <span ma-tr="{{crumb.maTr}}" ng-bind="crumb.text"></span>
                <span ng-if="!$last">
                    <md-icon>chevron_right</md-icon>
                </span>
            </span>
          </h2>
          
          <span flex></span>
          <!-- use up the empty space -->

          <div class="md-toolbar-item dashboard-tools" layout="row" layout-align="start center">
            <ma-active-event-icons></ma-active-event-icons>

            <div ng-if="mdAdmin.stateParams.dateBar">
              <md-input-container class="date-preset">
                <ma-date-range-picker from="dateBar.from" to="dateBar.to" no-underline="true"
                  preset="{{dateBar.preset}}" update-interval="{{dateBar.updateIntervalString}}"
                  refresh="dateBar.refresh" on-change="dateBar.preset = preset"></ma-date-range-picker>
              </md-input-container>
              <md-button class="md-icon-button md-hue-1" ng-click="dateBar.expanded = !dateBar.expanded"
                aria-label="{{'dashboards.v3.app.moreDateSettings' | tr}}"
                ng-class="{'md-accent': dateBar.expanded}">
                  <md-icon>date_range</md-icon>
              </md-button>
            </div>
          </div>
        </div>
      </div>

    </md-toolbar>
    
    <md-toolbar md-theme="mangoDark" class="md-whiteframe-glow-z1 md-hue-2 date-bar" ng-if="mdAdmin.stateParams.dateBar" ng-show="dateBar.expanded">
      <div class="md-toolbar-tools">
        <date-bar flex layout-align="start center" on-refresh="dateBar.refresh = $event"></date-bar>
      </div>
    </md-toolbar>

    <md-content md-scroll-y layout="column" flex class="main-content">
      <div ui-view flex="noshrink" layout="column" class="dashboard-main-view" role="main"></div>
      
      <div class="dashboard-footer" layout>
        <div>&copy;2016 <a href="http://infiniteautomation.com/" target="_blank">Infinite Automation Systems Inc</a>. <span ma-tr="footer.rightsReserved"></span>.</div>
        <div flex></div>
        <div>Dashboards v3.3.0 (beta)</div>
      </div>
    </md-content>
  </div>
</div>