<h1 ma-tr="header.emport"></h1>

<div layout="row" layout-align="start start">
  <ma-config-export on-export="$ctrl.jsonString = $json" flex="100" flex-gt-sm="50"></ma-config-export>
  <ma-config-import json-string="$ctrl.jsonString" flex="100" flex-gt-sm="50"></ma-config-import>
</div>

<md-button class="md-raised" ng-click="$ctrl.clear()"><md-icon>clear</md-icon> <span ma-tr="dashboards.v3.app.clear"></span></md-button>
<md-button class="md-raised" ng-click="$ctrl.copyToClipboard()" ng-disabled="true"><md-icon>content_copy</md-icon> <span ma-tr="dashboards.v3.app.copyToClipboard"></span></md-button>

<md-checkbox ng-model="$ctrl.usePlainEditor">Use plain text area?</md-checkbox>

<div layout>
  <textarea flex ng-if="$ctrl.usePlainEditor" style="height: 600px;" ng-model="$ctrl.jsonString" ng-change="$ctrl.editorChanged()" class="ma-code-font"></textarea>
  <div flex ng-if="!$ctrl.usePlainEditor">
    <live-editor style="height: 600px;" ng-model="$ctrl.jsonString" ng-change="$ctrl.editorChanged()" mode="json" copy-to-clipboard="$ctrl.doCopy"></live-editor>
  </div>
</div>