<style ng-if="$ctrl.infoWindowTheme === 'dark'">
  ng-map .ng-map-info-window {
    background-color: rgb(66,66,66);
    color: #fff;
  }
  
  ng-map .ng-map-info-window div:first-child > div:nth-child(1) {
    border-top-color: rgb(66,66,66) !important;
  }
  
  ng-map .ng-map-info-window div:first-child > div:nth-child(3) div {
    background-color: transparent !important;
  }
  
  ng-map .ng-map-info-window div:first-child > div:nth-child(4) {
    background-color: transparent !important;
  }
</style>

<ng-map ng-if="$ctrl.render" center="{{$ctrl.center}}" style="display:block; height: {{$ctrl.height}}; min-height: 100%" trigger-resize="true" map-initialized="$ctrl.onMapLoaded()" zoom="{{$ctrl.zoom}}" map-type-id="{{$ctrl.mapType}}">
  <ng-transclude></ng-transclude>
</ng-map>

<strong ng-if="!$ctrl.render &&  !$ctrl.apiKeySet"><em>
  In order to user our &lt;ma-map&gt; component you must set up your own Google Maps API Key. You can <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">get your key</a> from Google then enter it into the <a ui-sref="dashboard.settings.dashboardSettings">Dashboard Settings</a> page.</em>
</strong>