<div ng-repeat="param in $ctrl.watchList.params" layout flex="100" flex-gt-sm="50" flex-gt-md="25">
  <md-input-container ng-if="param.type === 'input'" flex>
    <label ng-bind="param.label"></label>
    <input ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()" ng-model-options="{debounce: 1000}"
        pattern="{{param.options.pattern}}">
  </md-input-container>
  <md-input-container ng-if="param.type === 'select' && !param.options.filtering" flex>
    <label ng-bind="param.label"></label>
    <md-select ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()" ng-if="!param.options.multiple">
      <md-option ng-repeat="option in param.options.options" ng-value="option.value || option.label">
        <span ng-bind="option.label || option.value"></span>
      </md-option>
    </md-select>
    <md-select ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()" ng-if="param.options.multiple" multiple>
      <md-option ng-repeat="option in param.options.options" ng-value="option.value || option.label">
        <span ng-bind="option.label || option.value"></span>
      </md-option>
    </md-select>
  </md-input-container>
  <div ng-if="param.type === 'select' && param.options.filtering" flex>
    <md-autocomplete
      md-selected-item-change="$ctrl.inputChanged()"
      md-selected-item="$ctrl.parameters[param.name]"
      md-search-text="searchText"
      md-items="option in param.options.options | filter:{'$': searchText}"
      md-item-text="option.label || option.value"
      md-no-cache="true"
      md-min-length="0"
      md-floating-label="{{param.label}}"
      md-select-on-focus="true"
      md-escape-options="none" ma-clearable>
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="gi">{{option.label || option.value}}</span>
        </md-item-template>
        <md-not-found>
          <span ma-tr="dashboards.v3.app.notFound"></span>
        </md-not-found>
    </md-autocomplete>
  </div>
  <md-input-container ng-if="param.type === 'number'" flex>
    <label ng-bind="param.label"></label>
    <input ng-model="$ctrl.parameters[param.name]" type="number" ng-change="$ctrl.inputChanged()" ng-model-options="{debounce: 1000}"
        min="{{param.options.min}}" max="{{param.options.max}}" step="{{param.options.step}}">
  </md-input-container>
  <md-input-container ng-if="param.type === 'numberRange'" flex>
    <label ng-bind="param.label"></label>
    <md-select ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()">
      <md-option ng-repeat="val in [] | range:param.options.start:param.options.end:param.options.step" ng-value="val" ng-bind="val"></md-option>
    </md-select>
  </md-input-container>
  <md-input-container ng-if="param.type === 'date'" flex>
    <label ng-bind="param.label"></label>
    <ma-date-picker ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()" ng-model-options="{debounce: 1000}"
        mode="{{param.options.mode}}" format="{{param.options.format}}"></ma-date-picker>
  </md-input-container>
  <md-input-container ng-if="param.type === 'deviceName' && !param.options.filtering" flex>
    <label ng-bind="param.label"></label>
    <ma-device-name-list ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()"
        auto-init="false" show-clear="true" data-source-xid="$ctrl.interpolateOption(param.options.dataSourceXid)"
        contains="$ctrl.interpolateOption(param.options.contains)" ng-if="!param.options.multiple"></ma-device-name-list>
    <ma-device-name-list ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()"
        auto-init="false" show-clear="true" data-source-xid="$ctrl.interpolateOption(param.options.dataSourceXid)"
        contains="$ctrl.interpolateOption(param.options.contains)" ng-if="param.options.multiple" multiple></ma-device-name-list>
  </md-input-container>
  <ma-filtering-device-name-list ng-if="param.type === 'deviceName' && param.options.filtering" flex
      ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()"
      auto-init="false" data-source-xid="$ctrl.interpolateOption(param.options.dataSourceXid)"
      label-text="param.label">
  </ma-filtering-device-name-list>
  <md-input-container ng-if="param.type === 'dataSource' && !param.options.filtering" flex>
    <label ng-bind="param.label"></label>
    <ma-data-source-list ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()"
        auto-init="false" show-clear="true"
        query="$ctrl.createDsQuery(param.options)">
    </ma-data-source-list>
  </md-input-container>
  <ma-filtering-data-source-list ng-if="param.type === 'dataSource' && param.options.filtering" flex
      ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()"
      auto-init="false" query="$ctrl.createDsQuery(param.options)"
      label-text="param.label">
  </ma-filtering-data-source-list>
  <md-input-container ng-if="param.type === 'pointHierarchy'" flex>
    <label ng-bind="param.label"></label>
    <ma-point-hierarchy-select ng-if="!param.options.multiple" show-clear="true"
        ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()"
        path="$ctrl.interpolateOption(param.options.path)"
        subfolders-only="param.options.subfoldersOnly"
        max-depth="param.options.maxDepth"
        points="false"
        name-matches="{{$ctrl.interpolateOption(param.options.nameMatches)}}"
        replace-name="{{$ctrl.interpolateOption(param.options.replaceName)}}"
        unique-names="param.options.uniqueNames"></ma-point-hierarchy-select>
    <ma-point-hierarchy-select ng-if="param.options.multiple" multiple show-clear="true"
        ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged()"
        path="$ctrl.interpolateOption(param.options.path)"
        subfolders-only="param.options.subfoldersOnly"
        max-depth="param.options.maxDepth"
        points="false"
        name-matches="{{$ctrl.interpolateOption(param.options.nameMatches)}}"
        replace-name="{{$ctrl.interpolateOption(param.options.replaceName)}}"
        unique-names="param.options.uniqueNames"></ma-point-hierarchy-select>
  </md-input-container>
</div>