.events-page md-table-container {
    max-height: 600px;
}
.events-page div:not(.desktop) > .md-button {
    height: 25px;
	min-height: 25px;
	max-height: 25px;
    line-height: 25px;
	font-size: 10px;
    min-width: 30px;
	padding: 0 5px;
    margin: 6px 4px;
}