<md-card class="events-page">
      <md-toolbar class="md-whiteframe-1dp md-hue-3">
            <div class="md-toolbar-tools">
                  <h2 flex>
                    <span>Events Table</span>
                  </h2>
                  <div ng-class="{'desktop': $ctrl.$mdMedia('gt-sm')}">
                        <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': $ctrl.eventType === '*' }" ng-click="$ctrl.eventType='*'">All</md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': $ctrl.eventType === 'DATA_POINT' }" ng-click="$ctrl.eventType='DATA_POINT'"><span ng-if="$ctrl.$mdMedia('gt-sm')">Data </span>Point</md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': $ctrl.eventType === 'DATA_SOURCE' }" ng-click="$ctrl.eventType='DATA_SOURCE'"><span ng-if="$ctrl.$mdMedia('gt-sm')">Data </span>Source</md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': $ctrl.eventType === 'SYSTEM' }" ng-click="$ctrl.eventType='SYSTEM'">System</md-button>
                  </div>
            </div>
      </md-toolbar>
      <md-card-actions layout="row" layout-align="center center" layout-wrap>
            <md-input-container flex="40" flex-gt-xs="30" flex-gt-md="10">
                  <label>Alarm Level</label>
                  <md-select ng-model="$ctrl.alarmLevel">
                        <md-option value="*">All <i class="fa fa-flag fa-lg alarm-flag ALL"></i></md-option>
                        <md-option value="0">None <i class="fa fa-flag fa-lg alarm-flag NONE"></i></md-option>
                        <md-option value="1">Information <i class="fa fa-flag fa-lg alarm-flag INFORMATION"></i></md-option>
                        <md-option value="2">Urgent <i class="fa fa-flag fa-lg alarm-flag URGENT"></i></md-option>
                        <md-option value="3">Critical <i class="fa fa-flag fa-lg alarm-flag CRITICAL"></i></md-option>
                        <md-option value="4">Safety <i class="fa fa-flag fa-lg alarm-flag LIFE_SAFETY"></i></md-option 
                  </md-select>
            </md-input-container>
            <md-input-container flex="30" flex-gt-xs="20" flex-gt-md="10">
                  <label>Active Status</label>
                  <md-select ng-model="activeStatus" ng-init="activeStatus='*'">
                        <md-option value="*">All</md-option>
                        <md-option value="active">Active</md-option>
                        <md-option value="noRtn">No RTN</md-option>
                        <md-option value="normal">Returned To Normal</md-option>
                  </md-select>
            </md-input-container>
            <md-input-container flex="30" flex-gt-xs="20" flex-gt-md="10">
                  <label>Acknowledged</label>
                  <md-select ng-model="$ctrl.acknowledged">
                        <md-option value="*">All</md-option>
                        <md-option value="true">True</md-option>
                        <md-option value="false">False</md-option>
                  </md-select>
            </md-input-container>
            <md-input-container flex="60" flex-gt-xs="30" flex-gt-md="20">
                  <label>Time Range</label>
                  <ma-date-range-picker from="from" to="to" preset="LAST_1_MONTHS"></ma-date-range-picker>
            </md-input-container>
            <md-input-container flex="40" flex-gt-xs="20" flex-gt-md="10" class="no-errors-spacer">
                  <label>Refresh Interval (s)</label>
                  <input type="number" step="1" min="1" ng-init="updateInterval=30" ng-model="updateInterval">
            </md-input-container>
            <md-input-container flex="50" flex-gt-xs="40" flex-gt-md="20" class="no-errors-spacer">
                  <label>From Date</label>
                  <ma-date-picker ng-model="from"></ma-date-picker>
            </md-input-container>
            <md-input-container flex="50" flex-gt-xs="40" flex-gt-md="20" class="no-errors-spacer">
                  <label>To Date</label>
                  <ma-date-picker ng-model="to"></ma-date-picker>
            </md-input-container>
      </md-card-actions>
      <ma-events-table query="{eventType:$ctrl.eventType}" alarm-level="$ctrl.alarmLevel" acknowledged="$ctrl.acknowledged" event-id="eventId" active-status="activeStatus" date-range="true" from="from" to="to" limit="500" paginate-limit="15" sort-order="$ctrl.sortOrder"></ma-events-table>
</md-card>