<form name="autoLoginSettings">
  <div layout="column">

    <div><strong ma-tr="dashboards.v3.app.autoLoginWarning"></strong></div>
    <div ma-tr="dashboards.v3.app.autoLoginNote"></div>

    <md-input-container>
      <label ma-tr="login.userId"></label>
      <input required name="username" ng-model="$ctrl.username" ng-change="$ctrl.checkUser()" ng-model-options="{debounce: 1000}">
      <div ng-messages="autoLoginSettings.username.$error">
        <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
        <div ng-message="adminUser" ma-tr="dashboards.v3.app.cantBeAdminUser"></div>
        <div ng-message="notFound" ma-tr="dashboards.v3.app.userNotFound"></div>
      </div>
    </md-input-container>
    
    <md-input-container>
      <label ma-tr="login.password"></label>
      <input required type="password" name="password" ng-model="$ctrl.password">
      <div ng-messages="autoLoginSettings.password.$error">
        <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
      </div>
    </md-input-container>
    
    <div>
      <md-button type="submit" ng-click="$ctrl.saveCredentials()" ma-tr="common.save" class="md-primary md-raised" aria-label="{{'common.save'|tr}}"></md-button>
      <md-button ng-disabled="!$ctrl.storedUsername" ng-click="$ctrl.deleteCredentials()" ma-tr="common.delete" class="md-warn md-raised" aria-label="{{'common.delete'|tr}}"></md-button>
      
      <span ng-if="$ctrl.storedUsername" ma-tr="dashboards.v3.app.savedAutoLoginUser" ma-tr-args="[$ctrl.storedUsername]"></span>
      <span ng-if="!$ctrl.storedUsername" ma-tr="dashboards.v3.app.noSavedAutoLoginUser"></span>
    </div>
  </div>
</form>