a:not(.md-button) {
  color: {{getThemeColor('accent-500-1.0')}};
  border-bottom-color: {{getThemeColor('accent-500-0.2')}};
}

a:not(.md-button):hover,
a:not(.md-button):focus {
  color: {{getThemeColor('accent-700-1.0')}};
  border-bottom-color: {{getThemeColor('accent-700-1.0')}};
}

table.md-table.md-row-select tbody.md-body>tr.md-row.md-selected {
  background-color: {{getThemeColor('background-400-0.4')}} !important;
}

table.md-table.md-row-select tbody.md-body>tr.md-row:not([disabled]):hover {
  background-color: {{getThemeColor('background-400-0.6')}} !important;
}

md-menu-content md-menu-item {
  color: {{getThemeColor('background-900-1.0')}} !important;
}

mdp-calendar .md-button.md-raised:not(.md-accent) {
    background-color: {{getThemeColor('background-100-0.8')}} !important;
}

.mdp-clock .md-button:not(.md-primary):not(:hover) {
    color: {{getThemeColor('primary-hue-2-1.0')}} !important;
}

button, html, input, select, textarea, .ma-default-font {
  font-family: {{mdAdminSettings.fonts.default}}, sans-serif;
}

p, .ma-paragraph-font {
  font-family: {{mdAdminSettings.fonts.paragraph}}, sans-serif;
}

h1, h2, h3, h4, h5, h6, .ma-heading-font {
  font-family: {{mdAdminSettings.fonts.heading}}, sans-serif;
}

pre, code, div.ace_editor, .ma-code-font {
  font-family: {{mdAdminSettings.fonts.code}}, monospace;
}

code {
  background: {{getThemeColor('background-500-0.15')}};
}

md-input-container:not(.md-input-invalid).md-input-focused md-icon.md-accent {
  color: {{getThemeColor('accent')}};
}

md-input-container:not(.md-input-invalid).md-input-focused md-icon.md-warn {
  color: {{getThemeColor('warn')}};
}

/* AmCharts */

.amcharts-gauge-arrow, .amcharts-gauge-arrow-nail {
    fill: {{getThemeColor('accent')}};
    stroke: {{getThemeColor('accent')}};
}
