
#loading-bar-spinner {
	left: 50% !important;
	transform: translate(-50%, 0);
}

.dropdown .dropdown-toggle {
	cursor: pointer;
}

.ace_editor {
	height: 200px;
}

[ng-click] {
	cursor: pointer;
}

.sidebar .sidebar-date-controls {
    padding: 15px;
}

.login-branding {
	margin-top: 50px;
	margin-bottom: 20px;
}

[live-editor] {
	resize: vertical;
	overflow: auto;
	padding-bottom: 10px;
	min-height: 400px;
}

[live-editor] [ui-ace] {
	height: 100%;
}

.app-loading {
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

.app-loading i {
	font-size: 48px;
}

.login-logo {
	margin-bottom: 10px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }