<md-checkbox ng-model="$ctrl.folder.checked" ng-change="$ctrl.checkboxChanged()"
  ng-disabled="$ctrl.browserCtrl.selectSubfolders && $ctrl.parent.checked" ng-class="{'md-indeterminate': !!$ctrl.folder.partialPoints}">
</md-checkbox>

<span ng-click="$ctrl.folderClicked($event)">
  <strong>{{$ctrl.folder.name}}</strong>&nbsp;<em>({{$ctrl.folder.points.length}} points)</em>
  <md-icon>{{$ctrl.open ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
</span>

<ul ng-show="$ctrl.open">
  <li ng-repeat="subfolder in $ctrl.folder.subfolders">
    <ma-point-hierarchy-folder folder="subfolder" parent="$ctrl.folder"></ma-point-hierarchy-folder>
  </li>
</ul>