/* Table Component */

.watchlist-main md-table-container {
    padding-bottom: 10px;
}

.watchlist-main .md-toolbar-tools.mobile h2 {
    line-height: 18px;
    font-size: 16px;
}
.watchlist-main md-toolbar.md-table-toolbar form > input:focus {
    outline: none;
}
.watchlist-main md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin-left: 16px;
    border: none;
}
.watchlist-main th.md-checkbox-column > md-checkbox {
    display: none;
}
.watchlist-main table.md-table tbody.md-body>tr.md-row, .watchlist-main table.md-table tfoot.md-foot>tr.md-row {
    height: 30px;
}
.watchlist-main table.md-table:not(.desktop) td.md-cell, .watchlist-main table.md-table:not(.desktop) th.md-column {
    padding: 0 4px 0 4px !important;
}
.watchlist-main table.md-table:not(.desktop) td.md-cell, .watchlist-main table.md-table:not(.desktop) th.md-column {
    font-size: 1.1rem;
}
.watchlist-main table.md-table:not(.desktop)  td.md-cell.icons {
    font-size: 1.5rem;
}
.watchlist-main table.md-table td.md-cell i {
    color: rgb(0,173,239);
}
.watchlist-main table.md-table td.md-cell i.alternate {
    color: rgb(0,173,239);
}
.watchlist-main table.md-table td.md-cell {
    transition: color 0.2s;
}
.watchlist-main table.md-table td.md-cell.flash-on-change {
    color: rgb(255,133,0);
}

.watchlist-main .md-table-pagination {
  border: 0;
}

ma-watch-list-page ma-watch-list-parameters.md-padding {
  padding-bottom: 0;
}

/* Stats Dialog */

.stats-dialog {
    width: 700px;
}
.stats-dialog .md-toolbar-tools h2 {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}

.stats-dialog .md-toolbar-tools h2 span.nowrap {
    white-space: nowrap;
}
.stats-dialog.mobile table.md-table td.md-cell, table.md-table th.md-column {
    font-size: 1.4rem;
}
.stats-dialog table.md-table thead.md-head>tr.md-row {
    height: 0px;
}

/* Pagination mobile fixes*/
.watchlist-main .md-table-pagination, .stats-dialog .md-table-pagination {
    padding: 0 10px 0 0;
}
.watchlist-main .md-table-pagination md-select, .stats-dialog .md-table-pagination md-select {
    min-width: 40px;
}
.watchlist-main .md-table-pagination>.buttons>.label+.md-button.md-icon-button, .stats-dialog .md-table-pagination>.buttons>.label+.md-button.md-icon-button {
    margin-left: 10px;
}

.watchlist-main md-card {
  margin-left: 0;
  margin-right: 0;
}

.watchlist-main md-card:first-child {
  margin-top: 0;
}

.watchlist-main md-card:last-child {
  margin-bottom: 0;
}

ma-watch-list-page md-card.select-watch-list {
  margin: 0;
}

ma-watch-list-page md-card.select-watch-list md-select {
  margin: 0;
}

ma-watch-list-page .watchlist-2-pane md-card.select-watch-list {
  margin: 0 16px 0 0;
}

ma-watch-list-page .watchlist-2-pane .ma-scroll-parent {
  position: relative;
}

ma-watch-list-page .watchlist-2-pane .ma-scroll-parent md-list,
ma-watch-list-page .watchlist-2-pane .ma-scroll-parent .ma-scroll-child {
  overflow-y: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ma-watch-list-page md-card.select-watch-list md-list {
  padding: 0;
  overflow-x: hidden;
}

ma-watch-list-page .watch-list-back.md-button {
  margin-left: 0;
  margin-right: 0;
}

ma-watch-list-page .watch-list-filter md-input-container {
  margin: 8px;
}

ma-watch-list-page .watch-list-filter .md-button {
  margin: 0 0 0 -40px;
}

ma-watch-list-page md-list-item.md-2-line,
ma-watch-list-page md-list-item.md-2-line > .md-no-style,
ma-watch-list-page md-list-item.md-2-line:before,
ma-watch-list-page md-list-item.md-2-line > .md-no-style:before {
  height: 64px;
  min-height: 64px;
}

ma-watch-list-page md-list-item,
ma-watch-list-page md-list-item > .md-no-style,
ma-watch-list-page md-list-item:before,
ma-watch-list-page md-list-item > .md-no-style:before {
  height: 40px;
  min-height: 40px;
}

ma-watch-list-page md-card md-toolbar.watchlist-picker {
  max-height: 84px;
  height: 84px;
}

ma-watch-list-page md-card md-toolbar.watchlist-picker md-radio-button {
  margin: 0px;
  font-size: 18px;
  padding: 3px;
}
