<div layout="row" flex="noshrink" ng-class="{'watchlist-2-pane': $ctrl.$mdMedia('gt-md')}">
  <md-card layout="column" flex="100" flex-gt-md="25" flex-gt-lg="20"
      class="select-watch-list" ng-show="!$ctrl.watchList || $ctrl.$mdMedia('gt-md')">
    <md-toolbar class="md-whiteframe-1dp md-hue-3 watchlist-picker">
      <div flex layout="row">
        <!-- <md-select ng-model="$ctrl.listType" flex class="md-no-underline">
          <md-option value="watchLists" ma-tr="dashboards.v3.app.watchLists"></md-option>
          <md-option value="hierarchy" ma-tr="dashboards.v3.app.pointHierarchy"></md-option>
          <md-option value="deviceNames" ma-tr="dashboards.v3.app.deviceNames"></md-option>
          <md-option value="dataSources" ma-tr="dashboards.v3.app.dataSources"></md-option>
        </md-select> -->
        
        <md-radio-group ng-model="$ctrl.listType">
          <div class="row">
                <div flex layout='row' layout-padding layout-align="center start" layout-wrap>
                      <md-radio-button flex="45" value="watchLists" class="md-primary">Lists</md-radio-button>
                      <md-radio-button flex="45" value="hierarchy" class="md-primary">Hierarchy</md-radio-button>
                      <md-radio-button flex="45" value="deviceNames" class="md-primary">Devices</md-radio-button>
                      <md-radio-button flex="45" value="dataSources" class="md-primary">Sources</md-radio-button>
                </div>
          </div>
        </md-radio-group>
      </div>
    </md-toolbar>
    
    <div layout="row" layout-align="center center" ng-show="$ctrl.listType !== 'hierarchy'" class="watch-list-filter">
      <md-input-container flex md-no-float >
        <input ng-model="$ctrl.filter" ng-model-options="{debounce: 1000}" placeholder="{{'dashboards.v3.app.filter' | tr}}" ng-change="$ctrl.updateQuery()">
      </md-input-container>
      <md-button class="md-icon-button" ng-click="$ctrl.filter = ''; $ctrl.updateQuery()" aria-label="{{'dashboards.v3.app.clear' | tr}}"><md-icon>clear</md-icon></md-button>
    </div>
    
    <ma-watch-list-list ng-show="$ctrl.listType === 'watchLists'" flex layout="column" class="ma-scroll-parent"
        show-new-button="!$ctrl.filter" ng-model="$ctrl.selectWatchList" ng-change="$ctrl.watchListChanged()"
        query="$ctrl.watchListQuery"
        select-first="$ctrl.selectFirstWatchList"
        user="$ctrl.settings.user"
        new-button-clicked="$ctrl.editWatchList()"
        edit-button-clicked="$ctrl.editWatchList(watchList)">>
    </ma-watch-list-list>
    
    <ma-device-name-scroll-list ng-show="$ctrl.listType === 'deviceNames'" flex layout="column" class="ma-scroll-parent"
        contains="$ctrl.filter"
        ng-model="$ctrl.deviceName" ng-change="$ctrl.deviceNameChanged()" select-first="false">
    </ma-device-name-scroll-list>
    
    <ma-data-source-scroll-list ng-show="$ctrl.listType === 'dataSources'" flex layout="column" class="ma-scroll-parent"
        query="$ctrl.dataSourceQuery"
        ng-model="$ctrl.dataSource" ng-change="$ctrl.dataSourceChanged()" select-first="false">
    </ma-data-source-scroll-list>

    <div ng-show="$ctrl.listType === 'hierarchy'" flex layout="column" class="ma-scroll-parent">
          <ma-point-hierarchy-browser expanded="1" select-subfolders="true" select-one-folder="true" class="md-padding ma-scroll-child"
              ng-model="$ctrl.hierarchyFolders" ng-change="$ctrl.hierarchyChanged()">
          </ma-point-hierarchy-browser>
    </div>
  </md-card>
  
  <div flex layout="column" class="watchlist-main" md-no-ink ng-show="$ctrl.watchList || $ctrl.$mdMedia('gt-md')">
      <md-card class="watchlist-table" ng-include="$ctrl.baseUrl + '/watchListTable.html'">
      </md-card>

      <md-card class="watchlist-chart" ng-show="$ctrl.selected.length > 0">
          <watch-list-chart chart-config="$ctrl.chartConfig" to="to" from="from" add-checked="$ctrl.selected" rollup-type="rollupType" rollup-interval-number="rollupIntervalNumber" rollup-interval-period="rollupIntervalPeriod" auto-rollup="autoRollup"></watch-list-chart>
      </md-card>
  </div>
</div>