<md-toolbar class="md-whiteframe-1dp md-hue-3">
    <div class="md-toolbar-tools" ng-class="{'mobile': $ctrl.$mdMedia('xs')}">
      <md-button class="watch-list-back md-icon-button" ng-click="$ctrl.clear()" ng-if="!$ctrl.$mdMedia('gt-md')"><md-icon>arrow_back</md-icon></md-button>
      <h2><span ng-bind="$ctrl.watchList.name"></span></h2>
      <div flex></div>
      <md-button class="md-primary md-raised" ui-sref="dashboard.settings.watchListBuilder({watchListXid: $ctrl.watchList.xid})" ng-if="!$ctrl.watchList.isNew">
        <md-icon>edit</md-icon>
        <span ma-tr="common.edit"></span>
      </md-button>
      <md-button class="md-primary md-raised" ui-sref="dashboard.settings.watchListBuilder({watchList: $ctrl.watchList})" ng-if="$ctrl.watchList.isNew">
        <md-icon>save</md-icon>
        <span ma-tr="common.save"></span>
      </md-button>
    </div>
</md-toolbar>

<div class="parameter-inputs md-padding" ng-if="$ctrl.watchList.type === 'query' && $ctrl.watchList.params.length" layout layout-wrap>
  <div ng-repeat="param in $ctrl.watchList.params" layout flex="100" flex-gt-sm="50" flex-gt-md="25">
    <md-input-container ng-if="param.type === 'input'" flex>
      <label ng-bind="param.label"></label>
      <input ng-model="$ctrl.watchListParams[param.name]" ng-change="$ctrl.updateWatchListParameters()" ng-model-options="{debounce: 1000}"
          pattern="{{param.options.pattern}}">
    </md-input-container>
    <md-input-container ng-if="param.type === 'number'" flex>
      <label ng-bind="param.label"></label>
      <input ng-model="$ctrl.watchListParams[param.name]" type="number" ng-change="$ctrl.updateWatchListParameters()" ng-model-options="{debounce: 1000}"
          min="{{param.options.min}}" max="{{param.options.max}}" step="{{param.options.step}}">
    </md-input-container>
    <md-input-container ng-if="param.type === 'date'" flex>
      <label ng-bind="param.label"></label>
      <ma-date-picker ng-model="$ctrl.watchListParams[param.name]" ng-change="$ctrl.updateWatchListParameters()" ng-model-options="{debounce: 1000}"
          mode="{{param.options.mode}}" format="{{param.options.format}}"></ma-date-picker>
    </md-input-container>
    <md-input-container ng-if="param.type === 'deviceName'" flex>
      <label ng-bind="param.label"></label>
      <ma-device-name-list ng-model="$ctrl.watchListParams[param.name]" ng-change="$ctrl.updateWatchListParameters()"
          auto-init="false" contains="param.options.contains"></ma-device-name-list>
    </md-input-container>
    <md-input-container ng-if="param.type === 'dataSource'" flex>
      <label ng-bind="param.label"></label>
      <ma-data-source-list ng-model="$ctrl.watchListParams[param.name]" ng-change="$ctrl.updateWatchListParameters()"
          auto-init="false" query="param.options.nameIsLike && 'name=like=' + param.options.nameIsLike"></ma-data-source-list>
    </md-input-container>
  </div>
</div>

<md-table-pagination md-limit="$ctrl.numberOfRows" md-limit-options="[10, 15, 25, 50, 100, 200]" md-page="myPage" md-total="{{$ctrl.watchList.points.length}}"></md-table-pagination>

<md-table-container ng-class="{'lg-screen': $ctrl.$mdMedia('gt-lg')}" ng-init="myPage=1; myOrder=''">
    <table md-table md-row-select multiple ng-init="$ctrl.selected=[]" ng-model="$ctrl.selected" md-progress="promise" ng-class="{'desktop': $ctrl.$mdMedia('gt-sm')}">
        <thead md-head md-order="myOrder">
            <tr md-row>
                <th md-column ma-tr="dashboards.v3.app.tools"></th>
                <th md-column md-order-by="deviceName" ma-tr="dashboards.v3.app.device"></th>
                <th md-column md-order-by="name" ma-tr="dashboards.v3.app.name"></th>
                <th md-column md-numeric md-order-by="value" ma-tr="dashboards.v3.app.value"></th>
                <th md-column md-numeric md-order-by="time" ma-tr="dashboards.v3.app.time"></th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr ng-repeat="point in $ctrl.watchList.points | orderBy: myOrder | limitTo: $ctrl.numberOfRows: (myPage - 1) * $ctrl.numberOfRows" md-select="point" md-row md-select-id="xid" watch-list-table-row>
            </tr>
        </tbody>
    </table>
</md-table-container>