<md-toolbar class="md-whiteframe-1dp md-hue-3">
    <div class="md-toolbar-tools" ng-class="{'mobile': $ctrl.$mdMedia('xs')}">
      <md-button class="watch-list-back md-icon-button" ng-click="$ctrl.clear()" ng-if="!$ctrl.$mdMedia('gt-md')"><md-icon>arrow_back</md-icon></md-button>
      <h2><span ng-bind="$ctrl.watchList.name"></span></h2>
      <div flex></div>

      <md-button class="md-primary md-raised" ui-sref="dashboard.settings.watchListBuilder({watchListXid: $ctrl.watchList.xid})" ng-if="!$ctrl.watchList.isNew">
        <md-icon>edit</md-icon>
        <span ma-tr="common.edit"></span>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="$ctrl.saveSettings()">
        <md-icon>save</md-icon>
        <span ma-tr="common.save"></span>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="$ctrl.showDownloadDialog($event)">
        <md-icon>file_download</md-icon>
        <span ma-tr="common.download"></span>
      </md-button>
    </div>
</md-toolbar>

<ma-watch-list-parameters watch-list="$ctrl.watchList" parameters-changed="$ctrl.updateWatchListParameters(parameters)"
  ng-if="$ctrl.watchList.type === 'query' && $ctrl.watchList.params.length"
  class="parameter-inputs md-padding" parameters="$ctrl.watchListParams" layout layout-wrap>
</ma-watch-list-parameters>

<md-table-pagination md-limit="$ctrl.numberOfRows" md-limit-options="[10, 15, 25, 50, 100, 200]" md-page="myPage" md-total="{{$ctrl.watchList.points.length}}"></md-table-pagination>

<md-table-container ng-class="{'lg-screen': $ctrl.$mdMedia('gt-lg')}" ng-init="myPage=1; myOrder=''">
    <table md-table md-row-select multiple ng-init="$ctrl.selected=[]" ng-model="$ctrl.selected" md-progress="$ctrl.watchList.pointsPromise" ng-class="{'desktop': $ctrl.$mdMedia('gt-sm')}">
        <thead md-head md-order="myOrder">
            <tr md-row>
                <th md-column ma-tr="dashboards.v3.app.tools"></th>
                <th md-column md-order-by="deviceName" ma-tr="dashboards.v3.app.device"></th>
                <th md-column md-order-by="name" ma-tr="dashboards.v3.app.name"></th>
                <th md-column md-numeric md-order-by="value" ma-tr="dashboards.v3.app.value"></th>
                <th md-column md-numeric md-order-by="time" ma-tr="dashboards.v3.app.time"></th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr ng-repeat="point in $ctrl.watchList.points | orderBy: myOrder | limitTo: $ctrl.numberOfRows: (myPage - 1) * $ctrl.numberOfRows" md-select="point" md-row md-select-id="xid" watch-list-table-row>
            </tr>
        </tbody>
    </table>
</md-table-container>