
/* Date Pickers */

.watchlist-controls > md-card-content {
    padding-bottom: 0;
}
.watchlist-controls .date-picker-to-from input {
    margin: 0 !important;
    min-width: 135px !important;
    width: 135px !important;
}
.watchlist-controls .date-picker md-select {
    margin: 0 !important;
    min-width: 160px !important;
    width: 160px !important;
}
/* Rollup Pickers */
.watchlist-controls md-select, .watchlist-controls .md-input {
    margin: 0 !important;
    min-width: 100px !important;
    width: 100px !important;
}



/* Table Component */

/*md-table-container {
    height: 300px;
}
md-table-container.lg-screen {
    height: 350px;
}*/

.watchlist-main .md-toolbar-tools.mobile h2 {
    line-height: 18px;
    font-size: 16px;
}
.watchlist-main md-toolbar.md-table-toolbar form > input:focus {
    outline: none;
}
.watchlist-main md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin-left: 16px;
    border: none;
}
.watchlist-main th.md-checkbox-column > md-checkbox {
    display: none;
}
.watchlist-main table.md-table tbody.md-body>tr.md-row, .watchlist-main table.md-table tfoot.md-foot>tr.md-row {
    height: 30px;
}
.watchlist-main table.md-table:not(.desktop) td.md-cell, .watchlist-main table.md-table:not(.desktop) th.md-column {
    padding: 0 4px 0 4px !important;
}
.watchlist-main table.md-table:not(.desktop) td.md-cell, .watchlist-main table.md-table:not(.desktop) th.md-column {
    font-size: 1.1rem;
}
.watchlist-main table.md-table:not(.desktop)  td.md-cell.icons {
    font-size: 1.5rem;
}
.watchlist-main table.md-table td.md-cell i {
    color: rgb(0,173,239);
}
.watchlist-main table.md-table td.md-cell i.alternate {
    color: rgb(0,173,239);
}
.watchlist-main table.md-table td.md-cell {
    transition: color 0.2s;
}
.watchlist-main table.md-table td.md-cell.flash-on-change {
    color: rgb(255,133,0);
}


/* Chart Component */

.watchlist-main .chart-content {
    height: 300px;
}
.watchlist-main .chart-content.lg-screen {
    height: 400px;
}
.watchlist-main path.amcharts-graph-stroke {
    stroke-width: 2.5px;
    stroke-opacity: .7;
}
.watchlist-main path.amcharts-graph-fill {
    fill-opacity: 0.5;
}
.watchlist-main md-tabs.noTabPanel md-tabs-wrapper {
    display: none;
}

/* Stats Dialog */

.stats-dialog {
    width: 400px;
}
.stats-dialog .md-toolbar-tools h2 {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}

.stats-dialog .md-toolbar-tools h2 span.nowrap {
    white-space: nowrap;
}
.stats-dialog.mobile table.md-table td.md-cell, table.md-table th.md-column {
    font-size: 1.4rem;
}

/* Pagination mobile fixes*/
.watchlist-main .md-table-pagination, .stats-dialog .md-table-pagination {
    padding: 0 10px 0 0;
}
.watchlist-main .md-table-pagination md-select, .stats-dialog .md-table-pagination md-select {
    min-width: 40px;
}
.watchlist-main .md-table-pagination>.buttons>.label+.md-button.md-icon-button, .stats-dialog .md-table-pagination>.buttons>.label+.md-button.md-icon-button {
    margin-left: 10px;
}

.watchlist-main md-card {
  margin-left: 0;
  margin-right: 0;
}

.watchlist-main md-card:first-child {
  margin-top: 0;
}

.watchlist-main md-card:last-child {
  margin-bottom: 0;
}

ma-watch-list-page md-card.select-watch-list {
  margin: 0;
}

ma-watch-list-page .watchlist-2-pane md-card.select-watch-list {
  margin: 0 16px 0 0;
  max-height: 600px;
  overflow-y: scroll;
}

ma-watch-list-page md-card.select-watch-list md-list {
  padding: 0;
}

ma-watch-list-page .watch-list-back.md-button {
  margin-left: 0;
  margin-right: 0;
}