<div layout="row" flex="noshrink" ng-class="{'watchlist-2-pane': $ctrl.$mdMedia('gt-md')}">
  <md-card layout="column" flex="100" flex-gt-md="25" flex-gt-lg="20"
      class="select-watch-list" ng-show="!$ctrl.watchList || $ctrl.$mdMedia('gt-md')">
    <md-toolbar class="md-whiteframe-1dp md-hue-3">
      <div class="md-toolbar-tools" flex layout="row">
        <md-select ng-model="$ctrl.listType" flex>
          <md-option value="watchLists" ma-tr="dashboards.v3.app.watchLists"></md-option>
          <md-option value="hierarchy" ma-tr="dashboards.v3.app.pointHierarchy"></md-option>
          <md-option value="deviceNames" ma-tr="dashboards.v3.app.deviceNames"></md-option>
          <md-option value="dataSources" ma-tr="dashboards.v3.app.dataSources"></md-option>
        </md-select>
      </div>
    </md-toolbar>
    
    <div layout="row" layout-align="center center" ng-show="$ctrl.listType !== 'hierarchy'" class="watch-list-filter">
      <md-input-container flex md-no-float class="no-errors-spacer">
        <input ng-model="$ctrl.filter" ng-model-options="{debounce: 1000}" placeholder="{{'dashboards.v3.app.filter' | tr}}">
      </md-input-container>
      <md-button class="md-icon-button" ng-click="$ctrl.filter = ''" aria-label="{{'dashboards.v3.app.clear' | tr}}"><md-icon>clear</md-icon></md-button>
    </div>
    
    <ma-watch-list-list ng-show="$ctrl.listType === 'watchLists'" flex layout="column" class="ma-scroll-parent"
        show-new-button="!$ctrl.filter" ng-model="$ctrl.selectWatchList" ng-change="$ctrl.watchListChanged()"
        query="$ctrl.filter ? 'name=like=*' + $ctrl.filter + '*' : ''"
        select-first="$ctrl.selectFirstWatchList"
        user="$ctrl.settings.user"
        new-button-clicked="$ctrl.editWatchList()"
        edit-button-clicked="$ctrl.editWatchList(watchList)">>
    </ma-watch-list-list>
    
    <ma-device-name-scroll-list ng-show="$ctrl.listType === 'deviceNames'" flex layout="column" class="ma-scroll-parent"
        contains="$ctrl.filter"
        ng-model="$ctrl.deviceName" ng-change="$ctrl.deviceNameChanged()" select-first="false">
    </ma-device-name-scroll-list>
    
    <ma-data-source-scroll-list ng-show="$ctrl.listType === 'dataSources'" flex layout="column" class="ma-scroll-parent"
        query="$ctrl.filter ? 'name=like=*' + $ctrl.filter + '*' : ''"
        ng-model="$ctrl.dataSource" ng-change="$ctrl.dataSourceChanged()" select-first="false">
    </ma-data-source-scroll-list>

    <div ng-show="$ctrl.listType === 'hierarchy'" flex layout="column" class="ma-scroll-parent">
          <ma-point-hierarchy-browser expanded="true" select-subfolders="true" select-one-folder="true" class="md-padding ma-scroll-child"
              ng-model="$ctrl.hierarchyFolders" ng-change="$ctrl.hierarchyChanged()">
          </ma-point-hierarchy-browser>
    </div>
  </md-card>
  
  <div flex layout="column" class="watchlist-main" md-no-ink ng-show="$ctrl.watchList || $ctrl.$mdMedia('gt-md')">
      <md-card class="watchlist-table">
          <watch-list-table watch-list="$ctrl.watchList" clear="$ctrl.clear()"
            to="to" from="from" selected="selected"
            rollup-type="rollupType" rollup-interval-number="rollupIntervalNumber"
            rollup-interval-period="rollupIntervalPeriod" auto-rollup="autoRollup">
          </watch-list-table>
      </md-card>
      
      <md-card class="watchlist-controls">
          <md-card-content layout="row" layout-align="space-around center" layout-wrap>
                    <md-input-container class="date-picker">
                          <label>Date Range</label>
                          <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="1 minutes" aria-label="Date Preset">
                          </ma-date-range-picker>
                    </md-input-container>
                      <md-input-container class="date-picker-to-from">
                            <label>From Date</label>
                            <ma-date-picker ng-model="from" format="MMM Do, h:mma"></ma-date-picker>
                      </md-input-container>
                      <md-input-container class="date-picker-to-from">
                            <label>To Date</label>
                            <ma-date-picker ng-model="to" format="MMM Do, h:mma"></ma-date-picker>
                      </md-input-container>
                      <md-input-container>
                          <label>Rollup Type</label>
                          <md-select ng-model="rollupType" ng-init="rollupType='AVERAGE'">
                              <md-option value="MINIMUM">
                                  Minimum
                              </md-option>
                              <md-option value="MAXIMUM">
                                  Maximum
                              </md-option>
                              <md-option value="AVERAGE">
                                  Average
                              </md-option>
                              <md-option value="DELTA">
                                  Delta
                              </md-option>
                              <md-option value="NONE">
                                  None
                              </md-option>
                          </md-select>
                      </md-input-container>
                      <md-input-container>
                          <label>Rollup Interval</label>
                          <input ng-model="rollupIntervalNumber" type="number" step="1" ng-init="rollupIntervalNumber=5" ng-disabled="rollupType=='NONE' || autoRollup">
                      </md-input-container>
                      <md-input-container>
                          <label>Rollup Interval</label>
                          <md-select ng-model="rollupIntervalPeriod" ng-init="rollupIntervalPeriod='MINUTES'" ng-disabled="rollupType=='NONE' || autoRollup">
                              <md-option value="SECONDS">
                                  Seconds
                              </md-option>
                              <md-option value="MINUTES">
                                  Minutes
                              </md-option>
                              <md-option value="HOURS">
                                  Hours
                              </md-option>
                              <md-option value="DAYS">
                                  Days
                              </md-option>
                              <md-option value="WEEKS">
                                  Weeks
                              </md-option>
                              <md-option value="MONTHS">
                                  Months
                              </md-option>
                              <md-option value="YEARS">
                                  Years
                              </md-option>
                          </md-select>
                      </md-input-container>
                      <md-checkbox ng-model="autoRollup" ng-init="autoRollup = true">Auto-Interval</md-checkbox>
          </md-card-content>
      </md-card>
  
      <md-card class="watchlist-chart" ng-show="selected.length > 0">
          <watch-list-chart to="to" from="from" add-checked="selected" rollup-type="rollupType" rollup-interval-number="rollupIntervalNumber" rollup-interval-period="rollupIntervalPeriod" auto-rollup="autoRollup"></watch-list-chart>
      </md-card>
  </div>
</div>