<ma-query-group node="$ctrl.rootQueryNode" properties="$ctrl.properties" depth="0"></ma-query-group>

<md-card class="query-sort-limit" ng-if="!$ctrl.hideSortLimit">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <span ma-tr="dashboards.v3.app.sortAndLimit"></span>
    </div>
  </md-toolbar>
  <md-card-content>
    <div layout="row" layout-align="start center" layout-wrap flex>
      <div class="query-sort-property" layout="row" layout-align="start center" flex="35" flex-gt-sm="35" flex-gt-md="30" flex-gt-lg="20" ng-repeat="sort in $ctrl.sort track by $index">
        <md-input-container flex>
          <label ma-tr="dashboards.v3.app.sort" ma-tr-args="[$index+1]"></label>
          <md-select ng-model="sort.prop" ng-change="$ctrl.updateModel()">
            <md-option ng-value="undefined"></md-option>
            <md-option ng-repeat="prop in $ctrl.properties track by prop.value" ng-value="prop.value" ng-bind="prop.label"></md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-icon-button" ng-click="sort.desc = !sort.desc; $ctrl.updateModel()">
          <md-icon>{{sort.desc ? 'arrow_upwards' : 'arrow_downwards'}}</md-icon>
        </md-button>
      </div>
    </div>
    
    <div layout="row" layout-align="start center" flex>
      <md-input-container flex="35" flex-gt-sm="35" flex-gt-md="30" flex-gt-lg="20">
        <label ma-tr="dashboards.v3.app.limit"></label>
        <input type="number" min="0" ng-model="$ctrl.limit[0]" ng-change="$ctrl.updateModel()">
      </md-input-container>
      <md-input-container flex="35" flex-gt-sm="35" flex-gt-md="30" flex-gt-lg="20">
        <label ma-tr="dashboards.v3.app.start"></label>
        <input type="number" min="0" ng-model="$ctrl.limit[1]" ng-change="$ctrl.updateModel()">
      </md-input-container>
    </div>
  </md-card-content>
</md-card>
