<div layout="row" layout-align="start center">
  <md-input-container>
    <label>Property</label>
    <md-select ng-model="$ctrl.predicate.property" ng-change="$ctrl.updateModel()">
      <md-option ng-repeat="prop in $ctrl.properties track by prop.value" ng-value="prop.value" ng-bind="prop.label"></md-option>
    </md-select>
  </md-input-container>
  <md-input-container>
    <label>Operation</label>
    <md-select ng-model="$ctrl.predicate.operation" ng-change="$ctrl.updateModel()">
      <md-option ng-repeat="op in $ctrl.operations track by op.value" ng-value="op.value" ng-bind="op.label"></md-option>
    </md-select>
  </md-input-container>
  <md-input-container>
    <label>Value</label>
    <input ng-model="$ctrl.predicate.value" ng-change="$ctrl.updateModel()">
  </md-input-container>
</div>
