/* Date Pickers */

.date-picker-to-from input {
    margin: 0 !important;
    min-width: 150px !important;
    width: 150px !important;
}
.date-picker md-select {
    margin: 0 !important;
    min-width: 160px !important;
    width: 160px !important;
}
/* Rollup Pickers */
md-select, .md-input {
    margin: 0 !important;
    min-width: 100px !important;
    width: 100px !important;
}


/* Table Component */

/*md-table-container {
    height: 300px;
}
md-table-container.lg-screen {
    height: 350px;
}*/
.md-toolbar-tools.mobile h2 span {
    font-size: 16px;
}
.md-toolbar-tools.mobile h2 {
    line-height: 18px;
}
md-toolbar.md-table-toolbar form > input:focus {
    outline: none;
}
md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin-left: 16px;
    border: none;
}
th.md-checkbox-column > md-checkbox {
    display: none;
}

/* Chart Component */
.chart-content {
    height: 300px;
}
.chart-content.lg-screen {
    height: 400px;
}
path.amcharts-graph-stroke {
    stroke-width: 2.5px;
    stroke-opacity: .7;
}
path.amcharts-graph-fill {
    fill-opacity: 0.5;
}
md-tabs.noTabPanel md-tabs-wrapper {
    display: none;
}