<td md-cell nowrap ng-class="{'icons': !$mdMedia('gt-sm')}">
      <md-icon md-font-icon="fa-line-chart" md-colors="{'color': 'accent-hue-1'}" class="fa fa-lg" ng-click="showStats($event)"><md-tooltip md-delay="250" md-direction="right" md-autohide><span ma-tr="dashboards.v3.app.statsAndHistory"></span></md-tooltip></md-icon>
      <md-icon md-font-icon="fa-wrench" ng-show="point.pointLocator.settable" md-colors="{'color': 'accent-hue-1'}" class="fa fa-lg" ng-click="showSetPoint($event)"><md-tooltip md-delay="250" md-direction="right" md-autohide><span ma-tr="dashboards.v3.app.setPointValue"></span></md-tooltip></md-icon>
      
      <!-- <i class="fa fa-commenting-o fa-lg md-accent" ng-click="addNote($event, 'Point', point.id)" style="padding: 5px;"><md-tooltip md-delay="250"  md-direction="right">Add User Note</md-tooltip></i>
      <a ng-if="$mdMedia('gt-sm')" ng-href="{{'/data_point_edit.shtm?dpid=' + point.id}}" target="_blank"><i class="fa fa-pencil fa-lg alternate" style="padding: 5px;"><md-tooltip md-delay="250"  md-direction="right">Edit Data Point</md-tooltip></i></a> -->
</td>
<td md-cell ng-bind="point.deviceName"></td>
<td md-cell ng-bind="point.name"></td>
<td md-cell class="point-value">
  <ma-point-value point="point" value-updated="pointValueChanged(point)"></ma-point-value>
</td>
<td md-cell class="point-time"></td>
<td md-cell>
  <md-icon ng-click="openPage('dashboard.dataPointDetails', point.xid)" md-colors="{'color': 'accent-hue-1'}">timeline<md-tooltip md-delay="250" md-direction="left" md-autohide><span ma-tr="dashboards.v3.app.dpd"></span></md-tooltip></md-icon>
</td>