<td md-cell>
      <i class="fa fa-info-circle fa-lg md-primary" ng-click="showStats($event, point, from, to, rollupType, rollupIntervalNumber, rollupIntervalPeriod, autoRollup)" style="padding: 5px 5px 0 0;"></i>
      <i ng-if="point.pointLocator.settable" class="fa fa-cogs fa-lg md-primary" style="padding-top:5px;" ng-click="showSetPoint($event, point)"></i>
</td>
<td md-cell>{{point.deviceName}}</td>
<td md-cell>{{point.name}}</td>
<td md-cell ng-class="{flash: Updated}">
      {{point.renderedValue}} 
</td>
<td md-cell>{{point.time | moment:'format':'LTS'}}</td>
<td md-cell>
      <a ng-href="{{'/data_point_edit.shtm?dpid=' + point.id}}" target="_blank">
            <i class="fa fa-pencil fa-lg alternate"></i>
      </a>
</td>