<md-toolbar class="md-whiteframe-1dp md-hue-3">
    <div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
      <span>Chart &amp; Compare</span>
      <div flex></div>
      <md-button class="md-raised" ng-click="points=[]; stats=[]; addChecked=[];">Clear</md-button>
    </div>
</md-toolbar>

<div layout="row">
    <md-tabs md-selected="currentTab" md-stretch-tabs="auto" flex="60">
        <md-tab id="tab1">CHART</md-tab>
        <md-tab id="tab2">STATS</md-tab>
    </md-tabs>
    <span flex></span>
    <md-select ng-model="chartType" ng-init="chartType='smoothedLine'" flex="10" flex-xs="30" aria-label="Chart Type">
        <md-option value="smoothedLine">
            Smooth
        </md-option>
        <md-option value="line">
            Line
        </md-option>
        <md-option value="step">
            Step
        </md-option>
        <md-option value="column">
            Bar
        </md-option>
        <md-option value="stacked">
            Stacked
        </md-option>
        <md-option value="area">
            Area
        </md-option>
    </md-select>
</div>

<md-tabs md-dynamic-height md-swipe-content md-selected="currentTab" class="noTabPanel">
    <md-tab label="Chart">
        <md-content class="md-padding">
            
            <ma-point-values points="points" values="chartValues" from="from" to="to" rollup="{{rollupType}}" rollup-interval="{{rollupIntervalNumber}} {{rollupIntervalPeriod}}" auto-rollup-interval="autoRollup">
            </ma-point-values>

            <div class="chart-content" ng-class="{'lg-screen': $mdMedia('gt-lg')}" ng-if="points.length">
                <ma-serial-chart ng-if="chartType!='stacked' && chartType!='area'" default-balloon-text="[[title]]: [[value]]" style="width: 100%; height:100%;" points="points" values="chartValues" default-type="{{chartType}}" stack-type="none" legend="true" balloon="true" export="true">
                </ma-serial-chart>
                <ma-serial-chart ng-if="chartType=='stacked'" default-balloon-text="[[title]]: [[value]]" style="width: 100%; height:100%;" points="points" values="chartValues" default-type="column" stack-type="regular" legend="true" balloon="true" export="true">
                </ma-serial-chart>
                <ma-serial-chart ng-if="chartType=='area'" default-balloon-text="[[title]]: [[value]]" style="width: 100%; height:100%;" points="points" values="chartValues" default-type="smoothedLine" stack-type="regular" legend="true" balloon="true" export="true">
                </ma-serial-chart>
            </div>
        </md-content>
    </md-tab>

    <md-tab label="Statistics">
        <md-content class="md-padding">
            <md-table-container>
                <div ng-repeat="point in points" style="display:none;">
                    <ma-get-point-value point-xid="{{point.xid}}" point="liveValue">
                    </ma-get-point-value>
                    <ma-point-statistics point="point" from="from" to="to" statistics="stats"></ma-point-statistics>
                    {{ $parent.stats[$index].name = point.name }} 
                    {{ $parent.stats[$index].device = point.deviceName }} 
                    {{ $parent.stats[$index].suffix = liveValue.textRenderer.suffix }}
                    {{ $parent.stats[$index].avg = parseFloat(stats.average.value) }} 
                    {{ $parent.stats[$index].min = parseFloat(stats.minimum.value) }} 
                    {{ $parent.stats[$index].max = parseFloat(stats.maximum.value) }}
                    {{ $parent.stats[$index].sum = parseFloat(stats.sum.value) }}
                    {{ $parent.stats[$index].first = parseFloat(stats.first.value) }}
                    {{ $parent.stats[$index].last = parseFloat(stats.last.value) }}
                    {{ $parent.stats[$index].count = stats.count }}
                </div>
                <table md-table ng-class="{'desktop': $mdMedia('gt-sm')}">
                    <thead md-head md-order="tableOrder">
                        <tr>
                            <th md-column md-order-by="device">Device</th>
                            <th md-column md-order-by="name">Name</th>
                            <th md-column md-numeric md-order-by="avg">Avg</th>
                            <th md-column md-numeric md-order-by="max">Max</th>
                            <th md-column md-numeric md-order-by="min">Min</th>
                            <th md-column md-numeric md-order-by="sum">Sum</th>
                            <th md-column md-numeric md-order-by="first">First</th>
                            <th md-column md-numeric md-order-by="last">Last</th>
                            <th md-column md-numeric md-order-by="count">Count</th>
                        </tr>
                    </thead>
                    <tbody md-body ng-init="tableOrder='device'">
                        <tr md-row ng-repeat="point in stats | orderBy: tableOrder">
                            <td md-cell>{{point.device}}</td>
                            <td md-cell>{{point.name}}</td>
                            <td md-cell>{{point.avg | noNaN:point.suffix }}</td>
                            <td md-cell>{{point.max | noNaN:point.suffix }}</td>
                            <td md-cell>{{point.min | noNaN:point.suffix }}</td>
                            <td md-cell>{{point.sum | noNaN:point.suffix }}</td>
                            <td md-cell>{{point.first | noNaN:point.suffix }}</td>
                            <td md-cell>{{point.last | noNaN:point.suffix }}</td>
                            <td md-cell>{{point.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-content>
    </md-tab>
</md-tabs>