<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span ma-tr="intelict.electric">Elektrisch</span> -
        <span ma-tr="intelict.total">Gesamt</span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<ma-point-statistics point-xid="DP_499683" point="gas" statistics="gasValues"
	from="dateControls.from" to="dateControls.to">
</ma-point-statistics>

<ma-point-statistics point-xid="DP_816963" point="dust" statistics="dustValues"
	from="dateControls.from" to="dateControls.to">
</ma-point-statistics>

<ma-point-statistics point-xid="DP_610404" point="steam" statistics="steamValues"
	from="dateControls.from" to="dateControls.to">
</ma-point-statistics>

<ma-point-statistics point-xid="DP_460229" point="oil" statistics="oilValues"
	from="dateControls.from" to="dateControls.to">
</ma-point-statistics>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Gas</th>
			<th>Dust</th>
			<th>Steam</th>
			<th>Oil</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Total 1</td>
			<td><ma-calc input="Math.abs(gasValues.last.value - gasValues.first.value)" output="gasTotal1">{{gasTotal1 | number:2}}</ma-calc></td>
			<td><ma-calc input="Math.abs(dustValues.last.value - dustValues.first.value)" output="dustTotal1">{{dustTotal1 | number:2}}</ma-calc></td>
			<td><ma-calc input="Math.abs(steamValues.last.value - steamValues.first.value)" output="steamTotal1">{{steamTotal1 | number:2}}</ma-calc></td>
			<td><ma-calc input="Math.abs(oilValues.last.value - oilValues.first.value)" output="oilTotal1">{{oilTotal1 | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>Total 2</td>
			<td><ma-calc input="Math.abs(gasValues.last.value - gasValues.first.value)" output="gasTotal2">{{gasTotal2 | number:2}}</ma-calc></td>
			<td><ma-calc input="Math.abs(dustValues.last.value - dustValues.first.value)" output="dustTotal2">{{dustTotal2 | number:2}}</ma-calc></td>
			<td><ma-calc input="Math.abs(steamValues.last.value - steamValues.first.value)" output="steamTotal2">{{steamTotal2 | number:2}}</ma-calc></td>
			<td><ma-calc input="Math.abs(oilValues.last.value - oilValues.first.value)" output="oilTotal2">{{oilTotal2 | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>Grand Total</td>
			<td>{{ gasTotal1 + gasTotal2 | number:2 }}</td>
			<td>{{ dustTotal1 + dustTotal2 | number:2 }}</td>
			<td>{{ steamTotal1 + steamTotal2 | number:2 }}</td>
			<td>{{ oilTotal1 + oilTotal2 | number:2 }}</td>
		</tr>
	</tbody>
</table>