<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span ma-tr="intelict.electric">Elektrisch</span> -
        <span ma-tr="intelict.total">Gesamt</span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div ng-init="stats=[]; tableData=[]; rowTitles=[null, 'HOLZAUFBEREITUNG', 'DRUCKLUFTANLAGEN', 'WAERMEGEWINNUNG','ZERFASERUNG / REFINING', 'TROCKNUNG', 'KERNPROZESS', 'SCHLEIFSTRASSE', 'ELEKTROFILTER', 'BIOKLAERANLAGE', 'GESAMTWERBRAUCH']"></div>

<div class="row">
<div class="col-lg-12 table-responsive">
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th></th>
			<th colspan="3">ROHPLATTENPRODUKTION</th>
			<th>HILFSANLAGEN</th>
			<th colspan="5">VEREDELUNG UND LAGERUNG</th>
			<th colspan="2">KLÄRUNG WASSER</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>MDF</th>
			<th>SPAN</th>
			<th>GSB</th>
			<th>PERIPHERE</th>
			<th>BESCHICHTUNG</th>
			<th>ZUSCHNITT</th>
			<th>FUBO</th>
			<th>IMPRÄGNIERUNG</th>
			<th>LEIM</th>
			<th>KLAERANLAGE</th>
			<th>WASSERAUFBEREITUNG</th>
			<th>SUMME PROZESSE</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="i in range(1,10)" ng-init="stats[i]=[]; tableData[i]=[]">
			<td>{{rowTitles[i]}}</td>
			<td ng-repeat="j in range(1,11)">
				<ma-point-statistics point-xid="Accum{{(i-1)*11+j | pad:3}}" statistics="stats[i][j]"
					from="dateControls.from" to="dateControls.to"></ma-point-statistics>
				<ma-calc input="stats[i][j].last.value - stats[i][j].first.value"
					output="tableData[i][j]"></ma-calc>
				{{tableData[i][j] | number:2}}
			</td>
			<td><ma-calc input="tableData[i] | sum" output="rowTotals[i]">{{rowTotals[i] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>Totals</td>
			<td ng-repeat="i in range(1,11)">
				<ma-calc input="tableData | sumColumn:i" output="colTotals[i]">{{colTotals[i] | number:2}}</ma-calc>
			</td>
			<td rowspan="2" style="background-color:DarkGray">GESAMTVERBRAUCH<br><ma-calc input="rowTotals | sum" output="grandTotal">{{grandTotal | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>Group totals</td>
			<td colspan="3" style="background-color:IndianRed"><ma-calc input="colTotals[1] + colTotals[2] + colTotals[3]" output="group1Total">{{group1Total | number:2}}</ma-calc></td>
			<td style="background-color:LightSkyBlue"><ma-calc input="colTotals[4]" output="group2Total">{{group2Total | number:2}}</ma-calc></td>
			<td colspan="5" style="background-color:Khaki"><ma-calc input="colTotals[5] + colTotals[6] + colTotals[7] + colTotals[8] + colTotals[9]" output="group3Total">{{group3Total | number:2}}</ma-calc></td>
			<td colspan="2" style="background-color:DarkSeaGreen" ><ma-calc input="colTotals[10] + colTotals[11]" output="group4Total">{{group4Total | number:2}}</ma-calc></td>
		</tr>
	</tbody>
</table>
</div>
</div>