<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span ma-tr="intelict.electric">Elektrisch</span> -
        <span ma-tr="intelict.total">Gesamt</span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<ma-point-statistics point-xid="Accum001" statistics="row01Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum002" statistics="row01Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum003" statistics="row01Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum004" statistics="row01Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum005" statistics="row01Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum006" statistics="row01Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum007" statistics="row01Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum008" statistics="row01Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum009" statistics="row01Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum010" statistics="row01Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum011" statistics="row01Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum012" statistics="row02Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum013" statistics="row02Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum014" statistics="row02Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum015" statistics="row02Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum016" statistics="row02Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum017" statistics="row02Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum018" statistics="row02Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum019" statistics="row02Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum020" statistics="row02Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum021" statistics="row02Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum022" statistics="row02Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum023" statistics="row03Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum024" statistics="row03Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum025" statistics="row03Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum026" statistics="row03Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum027" statistics="row03Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum028" statistics="row03Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum029" statistics="row03Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum030" statistics="row03Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum031" statistics="row03Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum032" statistics="row03Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum033" statistics="row03Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum034" statistics="row04Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum035" statistics="row04Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum036" statistics="row04Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum037" statistics="row04Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum038" statistics="row04Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum039" statistics="row04Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum040" statistics="row04Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum041" statistics="row04Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum042" statistics="row04Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum043" statistics="row04Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum044" statistics="row04Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum045" statistics="row05Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum046" statistics="row05Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum047" statistics="row05Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum048" statistics="row05Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum049" statistics="row05Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum050" statistics="row05Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum051" statistics="row05Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum052" statistics="row05Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum053" statistics="row05Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum054" statistics="row05Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum055" statistics="row05Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum056" statistics="row06Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum057" statistics="row06Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum058" statistics="row06Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum059" statistics="row06Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum060" statistics="row06Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum061" statistics="row06Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum062" statistics="row06Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum063" statistics="row06Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum064" statistics="row06Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum065" statistics="row06Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum066" statistics="row06Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum067" statistics="row07Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum068" statistics="row07Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum069" statistics="row07Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum070" statistics="row07Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum071" statistics="row07Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum072" statistics="row07Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum073" statistics="row07Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum074" statistics="row07Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum075" statistics="row07Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum076" statistics="row07Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum077" statistics="row07Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum078" statistics="row08Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum079" statistics="row08Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum080" statistics="row08Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum081" statistics="row08Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum082" statistics="row08Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum083" statistics="row08Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum084" statistics="row08Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum085" statistics="row08Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum086" statistics="row08Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum087" statistics="row08Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum088" statistics="row08Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum089" statistics="row09Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum090" statistics="row09Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum091" statistics="row09Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum092" statistics="row09Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum093" statistics="row09Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum094" statistics="row09Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum095" statistics="row09Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum096" statistics="row09Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum097" statistics="row09Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum098" statistics="row09Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum099" statistics="row09Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum100" statistics="row10Col01" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum101" statistics="row10Col02" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum102" statistics="row10Col03" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum103" statistics="row10Col04" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum104" statistics="row10Col05" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum105" statistics="row10Col06" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum106" statistics="row10Col07" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum107" statistics="row10Col08" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum108" statistics="row10Col09" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum109" statistics="row10Col10" from="dateControls.from" to="dateControls.to"></ma-point-statistics>
<ma-point-statistics point-xid="Accum110" statistics="row10Col11" from="dateControls.from" to="dateControls.to"></ma-point-statistics>

<div class="row">
<div class="col-lg-12 table-responsive">
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th></th>
			<th colspan="3">ROHPLATTENPRODUKTION</th>
			<th>HILFSANLAGEN</th>
			<th colspan="5">VEREDELUNG UND LAGERUNG</th>
			<th colspan="2">KLÄRUNG WASSER</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>MDF</th>
			<th>SPAN</th>
			<th>GSB</th>
			<th>PERIPHERE</th>
			<th>BESCHICHTUNG</th>
			<th>ZUSCHNITT</th>
			<th>FUBO</th>
			<th>IMPRÄGNIERUNG</th>
			<th>LEIM</th>
			<th>KLAERANLAGE</th>
			<th>WASSERAUFBEREITUNG</th>
			<th>SUMME PROZESSE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>HOLZAUFBEREITUNG</td>
			<td><ma-calc input="row01Col01.last.value - row01Col01.first.value" output="tableData[01][01]">{{tableData[01][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col02.last.value - row01Col02.first.value" output="tableData[01][02]">{{tableData[01][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col03.last.value - row01Col03.first.value" output="tableData[01][03]">{{tableData[01][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col04.last.value - row01Col04.first.value" output="tableData[01][04]">{{tableData[01][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col05.last.value - row01Col05.first.value" output="tableData[01][05]">{{tableData[01][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col06.last.value - row01Col06.first.value" output="tableData[01][06]">{{tableData[01][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col07.last.value - row01Col07.first.value" output="tableData[01][07]">{{tableData[01][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col08.last.value - row01Col08.first.value" output="tableData[01][08]">{{tableData[01][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col09.last.value - row01Col09.first.value" output="tableData[01][09]">{{tableData[01][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col10.last.value - row01Col10.first.value" output="tableData[01][10]">{{tableData[01][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row01Col11.last.value - row01Col11.first.value" output="tableData[01][11]">{{tableData[01][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[01] | sum" output="rowTotals[01]">{{rowTotals[01] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>DRUCKLUFTANLAGEN</td>
			<td><ma-calc input="row02Col01.last.value - row02Col01.first.value" output="tableData[02][01]">{{tableData[02][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col02.last.value - row02Col02.first.value" output="tableData[02][02]">{{tableData[02][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col03.last.value - row02Col03.first.value" output="tableData[02][03]">{{tableData[02][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col04.last.value - row02Col04.first.value" output="tableData[02][04]">{{tableData[02][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col05.last.value - row02Col05.first.value" output="tableData[02][05]">{{tableData[02][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col06.last.value - row02Col06.first.value" output="tableData[02][06]">{{tableData[02][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col07.last.value - row02Col07.first.value" output="tableData[02][07]">{{tableData[02][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col08.last.value - row02Col08.first.value" output="tableData[02][08]">{{tableData[02][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col09.last.value - row02Col09.first.value" output="tableData[02][09]">{{tableData[02][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col10.last.value - row02Col10.first.value" output="tableData[02][10]">{{tableData[02][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row02Col11.last.value - row02Col11.first.value" output="tableData[02][11]">{{tableData[02][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[02] | sum" output="rowTotals[02]">{{rowTotals[02] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>WAERMEGEWINNUNG</td>
			<td><ma-calc input="row03Col01.last.value - row03Col01.first.value" output="tableData[03][01]">{{tableData[03][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col02.last.value - row03Col02.first.value" output="tableData[03][02]">{{tableData[03][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col03.last.value - row03Col03.first.value" output="tableData[03][03]">{{tableData[03][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col04.last.value - row03Col04.first.value" output="tableData[03][04]">{{tableData[03][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col05.last.value - row03Col05.first.value" output="tableData[03][05]">{{tableData[03][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col06.last.value - row03Col06.first.value" output="tableData[03][06]">{{tableData[03][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col07.last.value - row03Col07.first.value" output="tableData[03][07]">{{tableData[03][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col08.last.value - row03Col08.first.value" output="tableData[03][08]">{{tableData[03][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col09.last.value - row03Col09.first.value" output="tableData[03][09]">{{tableData[03][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col10.last.value - row03Col10.first.value" output="tableData[03][10]">{{tableData[03][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row03Col11.last.value - row03Col11.first.value" output="tableData[03][11]">{{tableData[03][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[03] | sum" output="rowTotals[03]">{{rowTotals[03] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>ZERFASERUNG / REFINING</td>
			<td><ma-calc input="row04Col01.last.value - row04Col01.first.value" output="tableData[04][01]">{{tableData[04][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col02.last.value - row04Col02.first.value" output="tableData[04][02]">{{tableData[04][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col03.last.value - row04Col03.first.value" output="tableData[04][03]">{{tableData[04][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col04.last.value - row04Col04.first.value" output="tableData[04][04]">{{tableData[04][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col05.last.value - row04Col05.first.value" output="tableData[04][05]">{{tableData[04][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col06.last.value - row04Col06.first.value" output="tableData[04][06]">{{tableData[04][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col07.last.value - row04Col07.first.value" output="tableData[04][07]">{{tableData[04][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col08.last.value - row04Col08.first.value" output="tableData[04][08]">{{tableData[04][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col09.last.value - row04Col09.first.value" output="tableData[04][09]">{{tableData[04][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col10.last.value - row04Col10.first.value" output="tableData[04][10]">{{tableData[04][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row04Col11.last.value - row04Col11.first.value" output="tableData[04][11]">{{tableData[04][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[04] | sum" output="rowTotals[04]">{{rowTotals[04] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>TROCKNUNG</td>
			<td><ma-calc input="row05Col01.last.value - row05Col01.first.value" output="tableData[05][01]">{{tableData[05][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col02.last.value - row05Col02.first.value" output="tableData[05][02]">{{tableData[05][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col03.last.value - row05Col03.first.value" output="tableData[05][03]">{{tableData[05][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col04.last.value - row05Col04.first.value" output="tableData[05][04]">{{tableData[05][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col05.last.value - row05Col05.first.value" output="tableData[05][05]">{{tableData[05][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col06.last.value - row05Col06.first.value" output="tableData[05][06]">{{tableData[05][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col07.last.value - row05Col07.first.value" output="tableData[05][07]">{{tableData[05][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col08.last.value - row05Col08.first.value" output="tableData[05][08]">{{tableData[05][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col09.last.value - row05Col09.first.value" output="tableData[05][09]">{{tableData[05][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col10.last.value - row05Col10.first.value" output="tableData[05][10]">{{tableData[05][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row05Col11.last.value - row05Col11.first.value" output="tableData[05][11]">{{tableData[05][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[05] | sum" output="rowTotals[05]">{{rowTotals[05] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>KERNPROZESS</td>
			<td><ma-calc input="row06Col01.last.value - row06Col01.first.value" output="tableData[06][01]">{{tableData[06][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col02.last.value - row06Col02.first.value" output="tableData[06][02]">{{tableData[06][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col03.last.value - row06Col03.first.value" output="tableData[06][03]">{{tableData[06][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col04.last.value - row06Col04.first.value" output="tableData[06][04]">{{tableData[06][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col05.last.value - row06Col05.first.value" output="tableData[06][05]">{{tableData[06][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col06.last.value - row06Col06.first.value" output="tableData[06][06]">{{tableData[06][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col07.last.value - row06Col07.first.value" output="tableData[06][07]">{{tableData[06][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col08.last.value - row06Col08.first.value" output="tableData[06][08]">{{tableData[06][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col09.last.value - row06Col09.first.value" output="tableData[06][09]">{{tableData[06][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col10.last.value - row06Col10.first.value" output="tableData[06][10]">{{tableData[06][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row06Col11.last.value - row06Col11.first.value" output="tableData[06][11]">{{tableData[06][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[06] | sum" output="rowTotals[06]">{{rowTotals[06] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>SCHLEIFSTRASSE</td>
			<td><ma-calc input="row07Col01.last.value - row07Col01.first.value" output="tableData[07][01]">{{tableData[07][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col02.last.value - row07Col02.first.value" output="tableData[07][02]">{{tableData[07][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col03.last.value - row07Col03.first.value" output="tableData[07][03]">{{tableData[07][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col04.last.value - row07Col04.first.value" output="tableData[07][04]">{{tableData[07][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col05.last.value - row07Col05.first.value" output="tableData[07][05]">{{tableData[07][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col06.last.value - row07Col06.first.value" output="tableData[07][06]">{{tableData[07][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col07.last.value - row07Col07.first.value" output="tableData[07][07]">{{tableData[07][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col08.last.value - row07Col08.first.value" output="tableData[07][08]">{{tableData[07][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col09.last.value - row07Col09.first.value" output="tableData[07][09]">{{tableData[07][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col10.last.value - row07Col10.first.value" output="tableData[07][10]">{{tableData[07][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row07Col11.last.value - row07Col11.first.value" output="tableData[07][11]">{{tableData[07][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[07] | sum" output="rowTotals[07]">{{rowTotals[07] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>ELEKTROFILTER</td>
			<td><ma-calc input="row08Col01.last.value - row08Col01.first.value" output="tableData[08][01]">{{tableData[08][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col02.last.value - row08Col02.first.value" output="tableData[08][02]">{{tableData[08][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col03.last.value - row08Col03.first.value" output="tableData[08][03]">{{tableData[08][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col04.last.value - row08Col04.first.value" output="tableData[08][04]">{{tableData[08][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col05.last.value - row08Col05.first.value" output="tableData[08][05]">{{tableData[08][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col06.last.value - row08Col06.first.value" output="tableData[08][06]">{{tableData[08][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col07.last.value - row08Col07.first.value" output="tableData[08][07]">{{tableData[08][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col08.last.value - row08Col08.first.value" output="tableData[08][08]">{{tableData[08][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col09.last.value - row08Col09.first.value" output="tableData[08][09]">{{tableData[08][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col10.last.value - row08Col10.first.value" output="tableData[08][10]">{{tableData[08][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row08Col11.last.value - row08Col11.first.value" output="tableData[08][11]">{{tableData[08][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[08] | sum" output="rowTotals[08]">{{rowTotals[08] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>BIOKLAERANLAGE</td>
			<td><ma-calc input="row09Col01.last.value - row09Col01.first.value" output="tableData[09][01]">{{tableData[09][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col02.last.value - row09Col02.first.value" output="tableData[09][02]">{{tableData[09][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col03.last.value - row09Col03.first.value" output="tableData[09][03]">{{tableData[09][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col04.last.value - row09Col04.first.value" output="tableData[09][04]">{{tableData[09][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col05.last.value - row09Col05.first.value" output="tableData[09][05]">{{tableData[09][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col06.last.value - row09Col06.first.value" output="tableData[09][06]">{{tableData[09][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col07.last.value - row09Col07.first.value" output="tableData[09][07]">{{tableData[09][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col08.last.value - row09Col08.first.value" output="tableData[09][08]">{{tableData[09][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col09.last.value - row09Col09.first.value" output="tableData[09][09]">{{tableData[09][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col10.last.value - row09Col10.first.value" output="tableData[09][10]">{{tableData[09][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row09Col11.last.value - row09Col11.first.value" output="tableData[09][11]">{{tableData[09][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[09] | sum" output="rowTotals[09]">{{rowTotals[09] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>GESAMTWERBRAUCH</td>
			<td><ma-calc input="row10Col01.last.value - row10Col01.first.value" output="tableData[10][01]">{{tableData[10][01] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col02.last.value - row10Col02.first.value" output="tableData[10][02]">{{tableData[10][02] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col03.last.value - row10Col03.first.value" output="tableData[10][03]">{{tableData[10][03] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col04.last.value - row10Col04.first.value" output="tableData[10][04]">{{tableData[10][04] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col05.last.value - row10Col05.first.value" output="tableData[10][05]">{{tableData[10][05] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col06.last.value - row10Col06.first.value" output="tableData[10][06]">{{tableData[10][06] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col07.last.value - row10Col07.first.value" output="tableData[10][07]">{{tableData[10][07] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col08.last.value - row10Col08.first.value" output="tableData[10][08]">{{tableData[10][08] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col09.last.value - row10Col09.first.value" output="tableData[10][09]">{{tableData[10][09] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col10.last.value - row10Col10.first.value" output="tableData[10][10]">{{tableData[10][10] | number:2}}</ma-calc></td>
			<td><ma-calc input="row10Col11.last.value - row10Col11.first.value" output="tableData[10][11]">{{tableData[10][11] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData[10] | sum" output="rowTotals[10]">{{rowTotals[10] | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>Totals</td>
			<td><ma-calc input="tableData | sumColumn:01" output="colTotals[01]">{{colTotals[01] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:02" output="colTotals[02]">{{colTotals[02] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:03" output="colTotals[03]">{{colTotals[03] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:04" output="colTotals[04]">{{colTotals[04] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:05" output="colTotals[05]">{{colTotals[05] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:06" output="colTotals[06]">{{colTotals[06] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:07" output="colTotals[07]">{{colTotals[07] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:08" output="colTotals[08]">{{colTotals[08] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:09" output="colTotals[09]">{{colTotals[09] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:10" output="colTotals[10]">{{colTotals[10] | number:2}}</ma-calc></td>
			<td><ma-calc input="tableData | sumColumn:11" output="colTotals[11]">{{colTotals[11] | number:2}}</ma-calc></td>
			<td rowspan="2" style="background-color:DarkGray">GESAMTVERBRAUCH<br><ma-calc input="rowTotals | sum" output="grandTotal">{{grandTotal | number:2}}</ma-calc></td>
		</tr>
		<tr>
			<td>Group totals</td>
			<td colspan="3" style="background-color:IndianRed"><ma-calc input="colTotals[1] + colTotals[2] + colTotals[3]" output="group1Total">{{group1Total | number:2}}</ma-calc></td>
			<td style="background-color:LightSkyBlue"><ma-calc input="colTotals[4]" output="group2Total">{{group2Total | number:2}}</ma-calc></td>
			<td colspan="5" style="background-color:Khaki"><ma-calc input="colTotals[5] + colTotals[6] + colTotals[7] + colTotals[8] + colTotals[9]" output="group3Total">{{group3Total | number:2}}</ma-calc></td>
			<td colspan="2" style="background-color:DarkSeaGreen" ><ma-calc input="colTotals[10] + colTotals[11]" output="group4Total">{{group4Total | number:2}}</ma-calc></td>
		</tr>
	</tbody>
</table>
</div>
</div>