<ma-json-store xid="{{$ctrl.dashboardId}}" item="markerStoreItem" value="$ctrl.markerList"></ma-json-store>

<div layout="row" layout-wrap ng-init="$ctrl.markerList.markers=[]; $ctrl.markerList.id = $ctrl.dashboardId">
    <div layout="row" flex="100" layout-align="start center">
        <md-input-container flex>
            <label>Name</label>
            <input ng-model="nextMarker.name">
        </md-input-container>
        <md-input-container flex>
            <label>Latitude</label>
            <input type="number" ng-model="nextMarker.lat">
        </md-input-container>
        <md-input-container flex>
            <label>Longitude</label>
            <input type="number" ng-model="nextMarker.long">
        </md-input-container>
        <ma-watch-list-select watch-list="addWatchList"></ma-watch-list-select>
        <md-button class="md-raised md-primary md-hue-3" ng-disabled="!nextMarker.name || !nextMarker.lat || !nextMarker.long || !addWatchList.xid" 
        ng-click="nextMarker.xid = addWatchList.xid; $ctrl.markerList.markers.push(nextMarker); markerStoreItem.$save()"><md-icon>save</md-icon> Add</md-button>
        <md-button class="md-raised md-warn" ng-click="$ctrl.markerList = {};"><md-icon>delete</md-icon> Clear</md-button>
    </div>
</div>