<style>
ma-watch-list-chart path.amcharts-graph-stroke {
    stroke-width: 2.5px;
    stroke-opacity: .7;
}
ma-watch-list-chart path.amcharts-graph-fill {
    fill-opacity: 0.5;
}
ma-watch-list-chart md-tabs.noTabPanel md-tabs-wrapper {
    display: none;
}
ma-watch-list-chart md-input-container, watch-list-chart md-checkbox {
  margin: 0;
}
</style>

<div layout="row">
    <md-tabs md-selected="currentTab" md-stretch-tabs="auto" flex="40">
        <md-tab id="tab1">{{'dashboards.v3.app.chart' | tr}}</md-tab>
        <md-tab id="tab2">{{'dashboards.v3.app.stats' | tr}}</md-tab>
    </md-tabs>
    <span flex></span>
    <md-input-container flex="15" flex-xs="30" ng-if="editMode">
        <label ma-tr="dashboards.v3.app.chartType"></label>
        <md-select ng-model="chartConfig.chartType" aria-label="{{'dashboards.v3.app.chartType' | tr}}">
            <md-option value="smoothedLine" ma-tr="dashboards.v3.app.smooth"></md-option>
            <md-option value="line" ma-tr="dashboards.v3.app.line"></md-option>
            <md-option value="step" ma-tr="dashboards.v3.app.step"></md-option>
            <md-option value="column" ma-tr="dashboards.v3.app.bar"></md-option>
            <!-- <md-option value="stacked" ma-tr="dashboards.v3.app.stacked"></md-option>
            <md-option value="area" ma-tr="dashboards.v3.app.area"></md-option> -->
        </md-select>
    </md-input-container>
    <md-input-container flex="15" flex-xs="30" ng-if="editMode">
        <label>Stack Type</label>
        <md-select ng-model="chartConfig.stackType.selected">
            <md-option value="none">None</md-option>
            <md-option value="regular">Stacked</md-option>
            <md-option value="100%">100% Stack</md-option>
        </md-select>
    </md-input-container>
</div>

<md-tabs md-dynamic-height md-swipe-content md-selected="currentTab" class="noTabPanel">
    <md-tab label="Chart">
        <ma-point-values points="points" values="chartValues" from="from" to="to" rollup="{{rollupType}}" rollup-interval="{{rollupIntervalNumber}} {{rollupIntervalPeriod}}">
        </ma-point-values>
        <div class="chart-content" ng-if="points.length">
            <ma-serial-chart default-balloon-text="[[title]]: [[value]]" style="width: 100%; height:100%;" points="points" values="chartValues" legend="true" 
            balloon="true" export="true" graph-options="chartConfig.graphOptions" 
            options="{valueAxes:[{axisColor:chartConfig.axisColors.leftAxisColor, color:chartConfig.axisColors.leftAxisColor, stackType: chartConfig.stackType.left}, 
            {axisColor:chartConfig.axisColors.rightAxisColor, color:chartConfig.axisColors.rightAxisColor, stackType: chartConfig.stackType.right}, 
            {axisColor:chartConfig.axisColors.left2AxisColor, color:chartConfig.axisColors.left2AxisColor, stackType: chartConfig.stackType['left-2']}, 
            {axisColor:chartConfig.axisColors.right2AxisColor, color:chartConfig.axisColors.right2AxisColor, stackType: chartConfig.stackType['right-2']}]}">
            </ma-serial-chart>
        </div>
        <div layout="row" layout-wrap layout-align="space-between start" ng-if="editMode">
            <md-input-container flex="70" flex-xs="100" layout="row" layout-padding>
                <span>Selected Axis</span>
                <md-radio-group ng-model="chartConfig.selectedAxis" layout="row" layout-align="start center">
                    <md-radio-button value="left">{{'dashboards.v3.app.left' | tr}}</md-radio-button>
                    <md-radio-button value="right">{{'dashboards.v3.app.right' | tr}}</md-radio-button>
                    <md-radio-button value="left-2">{{'dashboards.v3.app.farLeft' | tr}}</md-radio-button>
                    <md-radio-button value="right-2">{{'dashboards.v3.app.farRight' | tr}}</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <md-input-container flex="20" flex-xs="100" layout="row" layout-align="end" layout-align-xs="start" layout-padding>
                <md-checkbox ng-model="chartConfig.assignColors">{{'dashboards.v3.app.pickColors' | tr}}</md-checkbox>
            </md-input-container>
        </div>
        <div layout="row" layout-margin ng-show="chartConfig.assignColors" ng-if="editMode">
            <md-input-container flex>
                <label ma-tr="dashboards.v3.app.nextLineColor"></label>
                <input type="color" ng-model="chartConfig.selectedColor" ng-disabled="!chartConfig.assignColors">
            </md-input-container>
            <md-input-container flex>
                <label ma-tr="dashboards.v3.app.leftAxis"></label>
                <input type="color" ng-model="chartConfig.axisColors.leftAxisColor" ng-disabled="!chartConfig.assignColors">
            </md-input-container>
            <md-input-container flex>
                <label ma-tr="dashboards.v3.app.rightAxis"></label>
                <input type="color" ng-model="chartConfig.axisColors.rightAxisColor" ng-disabled="!chartConfig.assignColors">
            </md-input-container>
            <md-input-container flex>
                <label ma-tr="dashboards.v3.app.outerLeftAxis"></label>
                <input type="color" ng-model="chartConfig.axisColors.left2AxisColor" ng-disabled="!chartConfig.assignColors">
            </md-input-container>
            <md-input-container flex>
                <label ma-tr="dashboards.v3.app.OuterRightAxis"></label>
                <input type="color" ng-model="chartConfig.axisColors.right2AxisColor" ng-disabled="!chartConfig.assignColors">
            </md-input-container>
        </div>
    </md-tab>

    <md-tab label="Statistics">
        <md-table-container>
            <div ng-repeat="point in points" style="display:none;">
                <ma-get-point-value point-xid="{{point.xid}}" point="liveValue">
                </ma-get-point-value>
                <ma-point-statistics point="point" from="from" to="to" statistics="stats"></ma-point-statistics>
                {{ $parent.stats[$index].name = point.name }} 
                {{ $parent.stats[$index].device = point.deviceName }} 
                {{ $parent.stats[$index].suffix = liveValue.textRenderer.suffix }}
                {{ $parent.stats[$index].avg = parseFloat(stats.average.value) }} 
                {{ $parent.stats[$index].min = parseFloat(stats.minimum.value) }} 
                {{ $parent.stats[$index].max = parseFloat(stats.maximum.value) }}
                {{ $parent.stats[$index].sum = parseFloat(stats.sum.value) }}
                {{ $parent.stats[$index].first = parseFloat(stats.first.value) }}
                {{ $parent.stats[$index].last = parseFloat(stats.last.value) }}
                {{ $parent.stats[$index].count = stats.count }}
            </div>
            <table md-table ng-class="{'desktop': $mdMedia('gt-sm')}">
                <thead md-head md-order="tableOrder">
                    <tr>
                        <th md-column md-order-by="device" ma-tr="dashboards.v3.app.device"></th>
                        <th md-column md-order-by="name" ma-tr="dashboards.v3.app.name"></th>
                        <th md-column md-numeric md-order-by="avg" ma-tr="dashboards.v3.app.avg"></th>
                        <th md-column md-numeric md-order-by="max" ma-tr="dashboards.v3.app.max"></th>
                        <th md-column md-numeric md-order-by="min" ma-tr="dashboards.v3.app.min"></th>
                        <th md-column md-numeric md-order-by="sum" ma-tr="dashboards.v3.app.sum"></th>
                        <th md-column md-numeric md-order-by="first" ma-tr="dashboards.v3.app.first"></th>
                        <th md-column md-numeric md-order-by="last" ma-tr="dashboards.v3.app.last"></th>
                        <th md-column md-numeric md-order-by="count" ma-tr="dashboards.v3.app.count"></th>
                    </tr>
                </thead>
                <tbody md-body ng-init="tableOrder='device'">
                    <tr md-row ng-repeat="point in stats | orderBy: tableOrder">
                        <td md-cell>{{point.device}}</td>
                        <td md-cell>{{point.name}}</td>
                        <td md-cell>{{point.avg | noNaN:point.suffix }}</td>
                        <td md-cell>{{point.max | noNaN:point.suffix }}</td>
                        <td md-cell>{{point.min | noNaN:point.suffix }}</td>
                        <td md-cell>{{point.sum | noNaN:point.suffix }}</td>
                        <td md-cell>{{point.first | noNaN:point.suffix }}</td>
                        <td md-cell>{{point.last | noNaN:point.suffix }}</td>
                        <td md-cell>{{point.count}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-tab>
</md-tabs>