/*
 * Primary = #96281B
 * Seconcdary = #d5d5d5 // 3498DB
 * Text = #FFF
 * border = 88888888
 * 
 * background = #d3d3d3
*/

h1,h2,h3,h4,h5 {
    color:#FFF!important;
    font-family:"Lucida Console",Monaco,monospace
}

body {
    background-color:#d3d3d3!important;
    border:1px solid #d3d3d3;
    -webkit-animation:bodyAnimation 2s ease-in;
    animation:topRight 2s ease-in
}

p {
    color:#FFF !important
}

td {
    color:#FFF
}

th {
    color:#FFF!important
}

.nav>li>a {
    position:relative;
    display:block;
    padding:10px 15px;
    color:#F3F3E7
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
    color:#fff !important;
    cursor:default;
    background-color:#424242 !important;
    border:1px solid #ddd;
    border-bottom-color:transparent
}

.nav-tabs,a:hover {
    background-color: transparent !important;
color: black
  
}

#chart-tabs {
    background-color:#424242;
    border-right:1px solid #ededed;
    border-left:1px solid #ededed;
    border-bottom:1px solid #ededed
}

.leftName {
    color:#FFF
}

.topLeftChartMin {
    width:16em;
    height:8em;
    vertical-align:top;
    display:inline-block;
    padding:10px
}

.topLeftChartMax {
    width:150% !important;
    height:8em;
    vertical-align:top;
    display:inline-block;
    padding:10px;
}

.amChartsTab {
    width:100%;
    height:20em;
    vertical-align:top;
    display:inline-block;
    padding:10px;
    overflow:visible !important
}

.amChartsTabBig {
    width:100%;
    height:61em;
    vertical-align:top;
    display:inline-block;
    padding:10px;
}

.amChartsTabDaily {
    width:100%;
    height:20em;
    vertical-align:top;
    display:inline-block;
    padding:10px;
}

#overview-tabs {
    background-color:#424242;
    border-right:1px solid #ededed;
    border-left:1px solid #ededed;
    border-bottom:1px solid #ededed
}

#groupListDiv {
    background-color:#F22613;
    width:100%
}

#pannelHeader {
    background-color:#96281B !important;
    width:100%;
    height:10%;
    margin-top:1em;
    margin-bottom:1em;
    border:1px solid #ededed;
    border-radius:5px;
    text-align:center;
    -webkit-animation:pannelAnimation 2.5s ease-out;
    animation:pannelAnimation 2.5s ease-out
}

#pannelHeaderButton {
    background-color:#96281B !important;
    width:100%;
    height:3em !important;
    margin-top:1em;
    margin-bottom:1em;
    border:1px solid #ededed;
    border-radius:5px;
    text-align:center;
    -webkit-animation:pannelAnimation 2.5s ease-out;
    animation:pannelAnimation 2.5s ease-out
}

.pannelHeaderText {
    display:inline-block;
    color:#888
}

#settingsCog {
    margin-right:auto;
    margin-left:96%
}

#optionsPannel {
    width:50px;
    height:50px;
    background-color:blue
}

#meterName {
    color:#fff;
    height:2em !important;
    background-color:#96281B;
    font-size:2em;
    margin-left:auto;
    margin-right:auto;
    text-align:center
}

.divider {
    height:4px;
    width:100%;
    background-color:#96281B;
    margin-top:5px;
    margin-bottom:5px;
    -webkit-animation:borderAnimation 2.5s ease-out;
    animation:borderAnimation 2.5s ease-out
}

.selectpicker {
    margin-right:auto;
    margin-left:20%!important;
    margin-top:1em;
    margin-bottom:1em!important
}

.dropdown-menu {
    border:1px solid #d3d3d3;
    margin-right:auto;
    margin-left:20%!important
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    margin-right:auto;
    margin-left:0!important
}

.statsTable,tr,td,th {
    border:1px solid #d3d3d3;
    padding:2px
}

#bottomRightCharts {
    background:#96281B;
    border:3px solid #d5d5d5 ;
    -webkit-animation:topRight 1.5s ease-in;
    animation:topRight 1.5s ease-in;
    margin-top:1em;
    margin-bottom:1em
}

/* charts animations */
#topRightCharts {
    border:3px solid #d5d5d5;
    background:#96281B;
    -webkit-animation:topRight 1.5s ease-in;
    animation:topRight 1.5s ease-in
}

#topLeftCharts {
    border:3px solid #d5d5d5;
    background:#96281B;
    -webkit-animation:topLeft 1.5s ease-in;
    animation:topLeft 1.5s ease-in;
    height:61em!important
}

.windowBar {
    background-color: transparent!important;
    height:2em%;
    text-align:right;
    margin-top:-2em
/*     -webkit-animation: pannelAnimation 2.5s ease-out; */
/*     animation:pannelAnimation 2.5s ease-out */
}

.restoreChart {
    background-color:#F22613 !important;
    width:100%;
    height:2em%;
    color:#fff;
    border:1px solid #ededed;
    border-radius:5px;
    text-align:center;
    -webkit-animation:pannelAnimation 2.5s ease-out;
    animation:pannelAnimation 2.5s ease-out
}

/*  Start Animations */
@-webkit-keyframes topLeft {
from {
    background:#d3d3d3;
    border:3px solid #d3d3d3;
    height:0
}

to {
    background:#96281B;
    border:3px solid #d5d5d5;
    height:61em
}
}

@keyframes topLeft {
from {
    background:#d3d3d3;
    border:0 solid #d3d3d3;
    height:0
}

to {
    background:#96281B;
    border:3px solid #d5d5d5;
    height:80em
}
}

@-webkit-keyframes topRight {
from {
    background:#d3d3d3;
    border:3px solid #d3d3d3
}

to {
    background:#96281B;
    border:3px solid #d5d5d5
}
}

@keyframes topRight {
from {
    background:#d3d3d3;
    border:0 solid #d3d3d3
}

to {
    background:#d5d5d5;
    border:3px solid #888
}
}

/* BODY ANIMATION */
@-webkit-keyframes bodyAnimation {
from {
    background-color:#d3d3d3
}

to {
    background-color:#fff
}
}

@keyframes bodyAnimation {
from {
    background-color:#d3d3d3
}

to {
    background-color:#fff
}
}

/*Border Animations */
@-webkit-keyframes borderAnimation {
from {
    background-color:#d3d3d3;
    windowheaderwidth:0
}

to {
    background-color:#d5d5d5;
    width:100%
}
}

@keyframes borderAnimation {
from {
    class:windowBar;
    background-color:#d3d3d3;
    width:0
}

to {
    background-color:#3498DB;
    width:100%
}
}

/* pannelAnimation */
@-webkit-keyframes pannelAnimation {
from {
    background-color:#d3d3d3;
    width:0
}

to {
    background-color:#96281B;
    width:100%
}
}

@keyframes pannelAnimation {
from {
    background-color:#d3d3d3;
    width:0
}

to {
    background-color:#96281B;
    width:100%
}
}