<md-menu md-position-mode="target-right target" ng-if="$ctrl.eventsSummary.length">
    <md-button aria-label="Active Events" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-tooltip md-autohide>Un-Acknowledged Events</md-tooltip>
        <md-icon md-menu-origin>alarm</md-icon>
    </md-button>
    <md-menu-content width="3">
        
        <md-menu-item ng-if="$ctrl.events.INFORMATION.unsilencedCount">
            <md-button ui-sref="dashboard.events({sortOrder: 'acknowledged', eventType: '*', alarmLevel: 1})">
                <div layout="row" flex layout-align="start center" layout-fill>
                    <i class="fa fa-flag fa-lg alarm-flag INFORMATION" style="padding-right:10px"></i>
                    <p flex> {{$ctrl.events.INFORMATION.unsilencedCount}} Information Events</p>
                </div>
            </md-button>
        </md-menu-item>
        
        <md-menu-item ng-if="$ctrl.events.URGENT.unsilencedCount">
            <md-button ui-sref="dashboard.events({sortOrder: 'acknowledged', eventType: '*', alarmLevel: 2})">
                <div layout="row" flex layout-align="start center" layout-fill>
                    <i class="fa fa-flag fa-lg alarm-flag URGENT" style="padding-right:10px"></i>
                    <p flex> {{$ctrl.events.URGENT.unsilencedCount}} Urgent Events</p>
                </div>
            </md-button>
        </md-menu-item>
        
        <md-menu-item ng-if="$ctrl.events.CRITICAL.unsilencedCount">
            <md-button ui-sref="dashboard.events({sortOrder: 'acknowledged', eventType: '*', alarmLevel: 3})">
                <div layout="row" flex layout-align="start center" layout-fill>
                    <i class="fa fa-flag fa-lg alarm-flag CRITICAL" style="padding-right:10px"></i>
                    <p flex> {{$ctrl.events.CRITICAL.unsilencedCount}} Critical Events</p>
                </div>
            </md-button>
        </md-menu-item>
        
        <md-menu-item ng-if="$ctrl.events.LIFE_SAFETY.unsilencedCount">
            <md-button ui-sref="dashboard.events({sortOrder: 'acknowledged', eventType: '*', alarmLevel: 4})">
                <div layout="row" flex layout-align="start center" layout-fill>
                    <i class="fa fa-flag fa-lg alarm-flag LIFE_SAFETY" style="padding-right:10px"></i>
                    <p flex> {{$ctrl.events.LIFE_SAFETY.unsilencedCount}} Safety Events</p>
                </div>
            </md-button>
        </md-menu-item>
        
        <md-menu-item>
            <md-button ui-sref="dashboard.events({sortOrder: 'acknowledged', eventType: '*', alarmLevel: '*'})">
                <div layout="row" flex layout-align="start center" layout-fill>
                    <i class="fa fa-flag fa-lg alarm-flag ALL" style="padding-right:10px"></i>
                    <p flex> All Events</p>
                </div>
            </md-button>
        </md-menu-item>
        
    </md-menu-content>
</md-menu>