<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 ma-tr="emport.import"></h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="$ctrl.close()" ng-disabled="$ctrl.importStatus && $ctrl.importStatus.progress !== 100">
      <md-icon>close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-dialog-content layout="column" class="md-padding" flex>
  <md-progress-linear md-mode="determinate" value="{{$ctrl.importStatus.progress}}"></md-progress-linear>
  <div flex class="ma-config-import-messages">
    <div ng-repeat="msg in $ctrl.importStatus.genericMessages" ng-bind="msg"></div>
  </div>
</md-dialog-content>

<md-dialog-actions layout="row">
  <md-button class="md-raised md-warn" ng-click="$ctrl.cancelImport()" ng-if="$ctrl.importStatus && $ctrl.importStatus.progress !== 100">
    <md-icon>cancel</md-icon> <span ma-tr="common.cancel"></span>
  </md-button>
  <md-button class="md-raised" ng-click="$ctrl.close()" ng-disabled="$ctrl.importStatus && $ctrl.importStatus.progress !== 100">
    <md-icon>close</md-icon> <span ma-tr="common.close"></span>
  </md-button>
</md-dialog-actions>