<div><span ng-if="::$ctrl.coreModule.version" ma-tr="dashboards.v3.app.poweredBy" ma-tr-args="::[$ctrl.productName + ' v' + $ctrl.coreModule.version]"></span>
  &copy;<span ng-bind="::$ctrl.year"></span>
  <a ng-href="{{::$ctrl.coreModule.vendorUrl}}" target="_blank" ng-bind="::$ctrl.coreModule.vendor"></a>
<span ma-tr="footer.rightsReserved"></span>.</div>
<div flex></div>
<em md-colors="::{color: 'warn'}" ng-if="::$ctrl.coreModule && !$ctrl.coreModule.licenseType" ma-tr="footer.coreUnlicenced"></em>
