<form name="$ctrl.userForm" novalidate ng-submit="$ctrl.save($event)">
  <div layout layout-align="start start" layout-wrap>
    <p flex="100" md-colors="{color: 'warn'}" ng-if="$ctrl.user.oldHashAlgorithm" ma-tr="dashboards.v3.app.insecureHash"></p>

    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>label</md-icon>
      <label ma-tr="users.username"></label>
      <input name="username" ng-model="$ctrl.user.username" required maxlength="40">
      <div ng-show="$ctrl.showMessages('username')">
        <div ng-messages="$ctrl.userForm.username.$error">
          <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
          <div ng-message="maxlength" ma-tr="dashboards.v3.app.maxLength" ma-tr-args="[40, $ctrl.userForm.username.$viewValue.length]"></div>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>person</md-icon>
      <label ma-tr="users.name"></label>
      <input name="name" ng-model="$ctrl.user.name" required maxlength="255">
      <div ng-show="$ctrl.showMessages('name')">
        <div ng-messages="$ctrl.userForm.name.$error">
          <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
          <div ng-message="maxlength" ma-tr="dashboards.v3.app.maxLength" ma-tr-args="[255, $ctrl.userForm.name.$viewValue.length]"></div>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>email</md-icon>
      <label ma-tr="users.email"></label>
      <input type="email" name="email" ng-model="$ctrl.user.email" required maxlength="255">
      <div ng-show="$ctrl.showMessages('email')">
        <div ng-messages="$ctrl.userForm.email.$error">
          <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
          <div ng-message="email" ma-tr="dashboards.v3.app.invalidEmail"></div>
          <div ng-message="maxlength" ma-tr="dashboards.v3.app.maxLength" ma-tr-args="[255, $ctrl.userForm.email.$viewValue.length]"></div>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>phone</md-icon>
      <label ma-tr="users.phone"></label>
      <input type="tel" name="phone" ng-model="$ctrl.user.phone" pattern="^(?:\+?[0-9]{1,3}[ -]?)?(?:\([0-9 ]+\)[ -]?)?[0-9]+(?:[ -][0-9]+)*$" maxlength="40">
      <div ng-show="$ctrl.showMessages('phone')">
        <div ng-messages="$ctrl.userForm.phone.$error">
          <div ng-message="pattern" ma-tr="dashboards.v3.app.invalidPhone"></div>
          <div ng-message="maxlength" ma-tr="dashboards.v3.app.maxLength" ma-tr-args="[40, $ctrl.userForm.phone.$viewValue.length]"></div>
        </div>
      </div>
    </md-input-container>
    
    <div layout="column" flex="100" flex-gt-md="50">
      <md-input-container>
        <md-icon>vpn_key</md-icon>
        <label ma-tr="users.newPassword"></label>
        <input type="password" name="password" ng-model="$ctrl.user.password" minlength="8" ng-required="$ctrl.user.isNew">
        <div ng-show="$ctrl.showMessages('password')">
          <div ng-messages="$ctrl.userForm.password.$error">
            <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
            <div ng-message="minlength" ma-tr="dashboards.v3.app.minLength" ma-tr-args="[8, $ctrl.userForm.password.$viewValue.length]"></div>
          </div>
        </div>
      </md-input-container>
      <md-input-container ng-show="$ctrl.user.password">
        <md-icon>vpn_key</md-icon>
        <label ma-tr="users.confirmNewPassword"></label>
        <input type="password" name="confirmPassword" ng-model="$ctrl.user.confirmPassword" ng-pattern="$ctrl.regExpEscape($ctrl.user.password)" ng-required="!!$ctrl.user.password">
        <div ng-show="$ctrl.showMessages('confirmPassword')">
          <div ng-messages="$ctrl.userForm.confirmPassword.$error">
            <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
            <div ng-message="pattern" ma-tr="dashboards.v3.app.passwordsDoNotMatch"></div>
          </div>
        </div>
      </md-input-container>
    </div>

    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>info</md-icon>
      <label ma-tr="users.permissions"></label>
      <input name="permissions" ng-model="$ctrl.user.permissions" pattern="^\s*[\w-]+?\s*(,\s*[\w-]+?\s*)*$">
      <div ng-show="$ctrl.showMessages('permissions')">
        <div ng-messages="$ctrl.userForm.permissions.$error">
          <div ng-message="pattern" ma-tr="dashboards.v3.app.invalidPermissions"></div>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>alarm</md-icon>
      <label ma-tr="users.receiveAlarmEmails"></label>
      <md-select name="receiveAlarmEmails" ng-model="$ctrl.user.receiveAlarmEmails" required>
        <md-option value="NONE" ma-tr="common.alarmLevel.none"></md-option>
        <md-option value="INFORMATION" ma-tr="common.alarmLevel.info"></md-option>
        <md-option value="URGENT" ma-tr="common.alarmLevel.urgent"></md-option>
        <md-option value="CRITICAL" ma-tr="common.alarmLevel.critical"></md-option>
        <md-option value="LIFE_SAFETY" ma-tr="common.alarmLevel.lifeSafety"></md-option>
        <md-option value="DO_NOT_LOG" ma-tr="common.alarmLevel.doNotLog"></md-option>
        <md-option value="IGNORE" ma-tr="common.alarmLevel.ignore"></md-option>
      </md-select>
      <div ng-show="$ctrl.showMessages('receiveAlarmEmails')">
        <div ng-messages="$ctrl.userForm.receiveAlarmEmails.$error">
          <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>home</md-icon>
      <label ma-tr="users.homeURL"></label>
      <input name="homeUrl" ng-model="$ctrl.user.homeUrl" pattern="^\/(?!\/).*">
      <div ng-show="$ctrl.showMessages('homeUrl')">
        <div ng-messages="$ctrl.userForm.homeUrl.$error">
          <div ng-message="pattern" ma-tr="dashboards.v3.app.mustBeAbsolutePath"></div>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>language</md-icon>
      <label ma-tr="users.locale"></label>
      <md-select name="locale" ng-model="$ctrl.user.locale">
        <md-option ng-value="''"><em ma-tr="users.useServerLocale"></em></md-option>
        <md-option ng-repeat="locale in $ctrl.locales track by locale.id" ng-value="locale.id" ng-bind="locale.native"></md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <md-icon>access_time</md-icon>
      <label ma-tr="users.timezone"></label>
      <md-select name="timezone" ng-model="$ctrl.user.timezone">
        <md-option ng-value="''"><em ma-tr="users.timezone.def"></em></md-option>
        <md-option ng-repeat="zone in $ctrl.timezones" ng-value="zone" ng-bind="zone"></md-option>
      </md-select>
      <div ng-show="$ctrl.showMessages('timezone')">
        <div ng-messages="$ctrl.userForm.timezone.$error">
          <div ng-message="pattern" ma-tr="dashboards.v3.app.invalidTimezone"></div>
        </div>
      </div>
    </md-input-container>

    <div layout="column" flex="100">
      <md-checkbox name="muted" ng-model="$ctrl.user.muted">
        <span ma-tr="users.muted"></span>
      </md-checkbox>
      <md-checkbox name="disabled" ng-model="$ctrl.user.disabled" ng-disabled="$ctrl.User.current.username === $ctrl.originalUser.username">
        <span ma-tr="common.disabled"></span>
      </md-checkbox>
      <md-checkbox name="receiveOwnAuditEvents" ng-model="$ctrl.user.receiveOwnAuditEvents">
        <span ma-tr="users.receiveOwnAuditEvents"></span>
      </md-checkbox>
    </div>

    <div flex="100" layout="row" layout-align="start center">
      <md-button class="md-raised md-primary" type="submit">
        <md-icon>save</md-icon> <span ma-tr="common.save"></span>
      </md-button>
      <md-button class="" ng-click="$ctrl.revert($event)">
        <md-icon>undo</md-icon> <span ma-tr="dashboards.v3.app.revert"></span>
      </md-button>
      <md-button class="md-raised md-accent" ng-click="$ctrl.sendTestEmail($event)" ng-disabled="!$ctrl.userForm.$valid">
        <md-icon>email</md-icon> <span ma-tr="common.sendTestEmail"></span>
      </md-button>
      <md-button class="md-raised md-warn" ng-disabled="$ctrl.user.isNew || $ctrl.User.current.username === $ctrl.originalUser.username" ng-click="$ctrl.remove($event)">
        <md-icon>delete</md-icon> <span ma-tr="common.delete"></span>
      </md-button>
    </div>
  </div>
</form>
