<form name="$ctrl.userForm">
  <div layout="column">
    <md-input-container>
      <md-icon>person</md-icon>
      <label ma-tr="users.username"></label>
      <input name="username" ng-model="$ctrl.user.username">
    </md-input-container>
    <md-input-container>
      <md-icon>email</md-icon>
      <label ma-tr="users.email"></label>
      <input name="email" ng-model="$ctrl.user.email">
    </md-input-container>
    <md-input-container>
      <md-icon>phone</md-icon>
      <label ma-tr="users.phone"></label>
      <input name="phone" ng-model="$ctrl.user.phone">
    </md-input-container>
    <md-input-container>
      <md-icon>info</md-icon>
      <label ma-tr="users.permissions"></label>
      <input name="permissions" ng-model="$ctrl.user.permissions">
    </md-input-container>
    <md-input-container>
      <md-icon>language</md-icon>
      <label ma-tr="users.locale"></label>
      <input name="locale" ng-model="$ctrl.user.locale">
    </md-input-container>
    <md-input-container>
      <md-icon>access_time</md-icon>
      <label ma-tr="users.timezone"></label>
      <input name="timezone" ng-model="$ctrl.user.timezone">
    </md-input-container>
    <md-input-container>
      <md-icon>do_not_disturb</md-icon>
      <label ma-tr="common.disabled"></label>
      <input name="disabled" ng-model="$ctrl.user.disabled">
    </md-input-container>
    <md-input-container>
      <md-icon>home</md-icon>
      <label ma-tr="users.homeURL"></label>
      <input name="homeUrl" ng-model="$ctrl.user.homeUrl">
    </md-input-container>
    <md-input-container>
      <md-icon>volume_mute</md-icon>
      <label ma-tr="users.muted"></label>
      <input name="muted" ng-model="$ctrl.user.muted">
    </md-input-container>
    <md-input-container>
      <md-icon>vpn_key</md-icon>
      <label ma-tr="login.password"></label>
      <input name="password" ng-model="$ctrl.user.password">
    </md-input-container>
    <md-input-container>
      <md-icon>star</md-icon>
      <label ma-tr="common.administrator"></label>
      <input name="admin" ng-model="$ctrl.user.admin">
    </md-input-container>
    <md-input-container>
      <md-icon>done</md-icon>
      <label ma-tr="users.receiveOwnAuditEvents"></label>
      <input name="receiveOwnAuditEvents" ng-model="$ctrl.user.receiveOwnAuditEvents">
    </md-input-container>
    <md-input-container>
      <md-icon>alarm</md-icon>
      <label ma-tr="users.receiveAlarmEmails"></label>
      <input name="receiveAlarmEmails" ng-model="$ctrl.user.receiveAlarmEmails">
    </md-input-container>
  </div>
</form>
