<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" ma-tr="dashboards.v3.dox.advancedChart"></h1>
        <p>It is possible to override chart options, titles, colors, types and axes.</p>
        <p>Use <code>series-X-title</code>, <code>series-X-type</code> &amp; <code>series-X-color</code> to change the
        title, type and color of a series.</p>
        <p>Use <code>series-X-axis</code> to change the axis ID for a series. The default axis IDs which are available are
        <code>left</code>, <code>right</code>, <code>left-2</code> &amp; <code>right-2</code> or you can specify your own in <code>options</code></p>
        <p>Use <code>options</code> to set an <a href="https://docs.amcharts.com/3/javascriptcharts/AmSerialChart">AmCharts options</a>
        for the chart. The options will be merged with the default options. Use caution when dynamically setting options as some values
        may cause the chart rendering to fail.</p>
    </div>
    <!-- /.col-lg-12 -->
</div>

<dual-pane-editor>

<div class="form-group col-md-6">
	<label>Point 1</label>
	<ma-point-list ng-model="point1" class="form-control"></ma-point-list>
</div>
<div class="form-group col-md-6">
	<label>Point 2</label>
	<ma-point-list ng-model="point2" class="form-control"></ma-point-list>
</div>
<div class="form-group col-md-6" ng-init="point1Color='#ffaa00'">
	<label>Point 1 Color</label>
	<input class="form-control" type="color" ng-model="point1Color">
</div>
<div class="form-group col-md-6" ng-init="point2Color='#0000aa'">
	<label>Point 2 Color</label>
	<input class="form-control" type="color" ng-model="point2Color">
</div>
<div class="form-group col-md-6" ng-init="point1ChartType='line'">
	<label>Point 1 Chart Type</label>
	<select ng-model="point1ChartType" class="form-control" ng-options="t.type as t.label for t in chartTypes"></select>
</div>
<div class="form-group col-md-6" ng-init="point2ChartType='column'">
	<label>Point 2 Chart Type</label>
	<select ng-model="point2ChartType" class="form-control" ng-options="t.type as t.label for t in chartTypes"></select>
</div>
<div class="form-group col-md-6">
	<label>Update interval</label>
	<ma-interval-picker interval="updateInterval"></ma-interval-picker>
</div>
<div class="form-group col-md-6">
	<label>Date range preset</label>
	<ma-date-range-picker class="form-control" from="from" to="to" preset="LAST_30_MINUTES" update-interval="{{updateInterval}}"></ma-date-range-picker>
</div>
<div class="form-group col-md-6">
	<label>From date</label>
	<input class="form-control" ma-date-picker ng-model="from">
</div>
<div class="form-group col-md-6">
	<label>To date</label>
	<input class="form-control" ma-date-picker ng-model="to">
</div>
<div class="form-group col-md-6">
	<label>Rollup interval</label>
	<ma-interval-picker interval="rollupInterval"></ma-interval-picker>
</div>
<div class="form-group col-md-6" ng-init="rollupType='AVERAGE'">
	<label>Rollup type</label>
	<select class="form-control" ng-model="rollupType" ng-options="t.type as t.label for t in rollupTypes"></select>
</div>

<ma-point-values point="point1" values="point1Values"
	from="from" to="to"
	rollup="{{rollupType}}" rollup-interval="{{rollupInterval}}">
</ma-point-values>

<ma-point-values point="point2" values="point2Values"
	from="from" to="to"
	rollup="{{rollupType}}" rollup-interval="{{rollupInterval}}">
</ma-point-values>

<ma-serial-chart style="height: 300px; width: 100%"
	series-1-values="point1Values" series-1-point="point1" series-1-type="{{point1ChartType}}" series-1-color="{{point1Color}}"
	series-2-values="point2Values" series-2-point="point2" series-2-type="{{point2ChartType}}" series-2-color="{{point2Color}}" series-2-axis="right"
	options="{legend:{}, chartCursor:{}, valueAxes:[{minimum:0, axisColor:point1Color, color:point1Color}, {axisColor:point2Color, color:point2Color}]}">
</ma-serial-chart>

</dual-pane-editor>
