<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" ma-tr="dashboards.v3.dox.getPointByXid"></h1>
        <p>You can use this syntax for <code>&lt;ma-point-value&gt;</code>, <code>&lt;ma-get-point-value&gt;</code> &amp;
        <code>&lt;ma-point-values&gt;</code>.</p>
        <p>Note, this example uses point XIDs from the example virtual data sources, you can import <a href="../demoMangoConfig.json">this JSON file</a> or enter your own XIDs.</p>
    </div>
    <!-- /.col-lg-12 -->
</div>

<dual-pane-editor>

<!-- Display a point value using only its XID -->
<p>The point value is <ma-point-value point-xid="DP_355369"></ma-point-value>.</p>

<!-- Get a point (and value) using its XID and assign it to an output variable "myPoint" -->
<ma-get-point-value point-xid="DP_698831" point="myPoint"></ma-get-point-value>

<p>The point name is "{{myPoint.name}}" and its value is {{myPoint.renderedValue}}.</p>

</dual-pane-editor>
