<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" ma-tr="dashboards.v3.dox.templating"></h1>
        <p>Note that this example uses the date pickers in the left menu. These are accessible as <code>dateControls.from</code>
        and <code>dateControls.to</code>.</p>
        <p>You will need to import the example virtual data sources <a href="../demoMangoConfig.json">from this JSON file</a> for this example to work.</p>
    </div>
    <!-- /.col-lg-12 -->
</div>

<dual-pane-editor>
<div class="form-group">
	<label>Choose a device</label>
	<select class="form-control" ng-model="deviceName" ng-init="deviceName='Meter 1'">
	    <option value="Meter 1">Meter 1</option>
	    <option value="Meter 2">Meter 2</option>
	    <option value="Meter 3">Meter 3</option>
	</select>
</div>

<!-- Server side query for points with given device name, and server side sort -->
<ma-point-query query="deviceName=like=*{{deviceName}}*&sort(name)" points="points"></ma-point-query>
<ma-get-point-value points="points"></ma-get-point-value>

<!-- Client side filter by name -->
<ma-calc input="points | filter:{name:'Energy Accumulator (kWh)'} | first" output="energy"></ma-calc>
<ma-calc input="points | filter:{name:'Current Phase ' + phase + ' (A)'} | first" output="current"></ma-calc>
<ma-calc input="points | filter:{name:'Voltage ' + phase + '-N (V)'} | first" output="voltage"></ma-calc>
<ma-calc input="points | filter:{name:'Real Power ' + phase + ' (kW)'} | first" output="power"></ma-calc>
<ma-calc input="points | filter:{name:'Power Factor ' + phase + ''} | first" output="powerFactor"></ma-calc>

<h1>Details for {{deviceName}}</h1>
<p>There are {{points.length}} points for {{deviceName}}.</p>

<h2>Gauges</h2>

<div class="form-group">
	<label>Choose a Phase</label>
	<select class="form-control" ng-model="phase" ng-init="phase='A'">
	    <option value="A">Phase A</option>
	    <option value="B">Phase B</option>
	    <option value="C">Phase C</option>
	</select>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 text-center">
		<p><strong>Current</strong></p>
		<ma-gauge-chart point="current" start="0"
		band-1-end="100" band-1-color="green"
		band-2-end="150" band-2-color="yellow"
		band-3-end="300" band-3-color="red"
		style="width:100%; height:200px"></ma-gauge-chart>
	</div>
	<div class="col-lg-3 col-md-6 text-center">
		<p><strong>Voltage</strong></p>
		<ma-gauge-chart point="voltage" start="0"
		band-1-end="180" band-1-color="red"
		band-2-end="250" band-2-color="yellow"
		band-3-end="300" band-3-color="green"
		style="width:100%; height:200px"></ma-gauge-chart>
	</div>
		<div class="col-lg-3 col-md-6 text-center">
		<p><strong>Power</strong></p>
		<ma-gauge-chart point="power" start="0"
		band-1-end="100" band-1-color="green"
		band-2-end="150" band-2-color="yellow"
		band-3-end="200" band-3-color="red"
		style="width:100%; height:200px"></ma-gauge-chart>
	</div>
		<div class="col-lg-3 col-md-6 text-center">
		<p><strong>Power Factor</strong></p>
		<ma-gauge-chart point="powerFactor" start="0"
		band-1-end="0.3" band-1-color="red"
		band-2-end="0.8" band-2-color="yellow"
		band-3-end="1" band-3-color="green"
		style="width:100%; height:200px"></ma-gauge-chart>
	</div>
</div>

<ma-point-values point="energy" values="energyValues" from="dateControls.from" to="dateControls.to"
    rollup="DELTA" rollup-interval="15 minutes"
></ma-point-values>

<h2>Energy</h2>
<ma-serial-chart series-1-point="energy" series-1-values="energyValues" series-1-type="column"
style="height:200px; width:100%">
</ma-serial-chart>

<h2>All points for device:</h2>
<div ng-repeat="pt in points">
    <label>{{pt.name}}: </label> {{pt.renderedValue}}
</div>
</dual-pane-editor>
