<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span ma-tr="dashboards.v3.dox.settingPoint"></span> - <span ma-tr="dashboards.v3.dox.toggle"></span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<dual-pane-editor>

<div class="form-inline">
	<ma-point-list ng-model="myPoint" class="form-control"></ma-point-list>
</div>

<ma-switch-img point="myPoint" ng-click="myPoint.toggleValue()"
	src-false="img/ligthbulb_off.png"
	src-true="img/ligthbulb_on.png"
	default-src="img/close.png">
</ma-switch-img>

<ma-point-value point="myPoint"></ma-point-value>

</dual-pane-editor>
