<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" ma-tr="dashboards.v3.dox.translation"></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<dual-pane-editor>

<p>The translation for "common.pointWarning" is "<span ma-tr="common.pointWarning"></span>"</p>
<p>Example with argument - "<span ma-tr="common.copyPrefix" ma-tr-args="['myArg1']"></span>"</p>
<p>Example with 2 arguments - "<span ma-tr="common.alarmLevel.numOfEvents" ma-tr-args="['myArg1', 'myArg2']"></span>"</p>

</dual-pane-editor>
