.data-point-details-page md-card.dpd-small-card {
    height: 290px;
    max-height: 290px;
}
.data-point-details-page md-card.dpd-controls > md-card-content {
    padding-bottom: 0;
}
.data-point-details-page .amchart {
    height: 420px;
    max-height: 420px;
}
.data-point-details-page table.md-table thead.md-head>tr.md-row {
    height: 30px;
}