<div layout="column" ng-init="page={}" class="data-point-details-page">
	<div flex layout="column" layout-gt-sm="row">
		<ma-point-values point="myPoint" values="myPointValues" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" rendered="true" rollup="{{$ctrl.dateBar.rollupType}}"
	      rollup-interval="{{$ctrl.dateBar.rollupIntervals}} {{$ctrl.dateBar.rollupIntervalPeriod}}" auto-rollup-interval="$ctrl.dateBar.autoRollup">
	    </ma-point-values>

		<md-card flex class="dpd-small-card">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
		              <span>{{'dashboards.v3.app.dataPoint' | tr}}: {{myPoint.deviceName}} - {{myPoint.name}}</span>
			        </h2>
				</div>
			</md-toolbar>
			<md-card-content layout="column" layout-align="space-between" flex>
				<ma-filtering-point-list ng-model="myPoint" auto-init="true" point-xid="{{$ctrl.pointXid}}" point-id="{{$ctrl.pointId}}"></ma-filtering-point-list>
				
				<div layout="row" layout-wrap class="point-details">
					<div ng-if="myPoint.pointLocator.dataType !== 'IMAGE'" flex="100" layout>
                      <label flex="35">{{'dashboards.v3.app.value' | tr}}:</label>
                      <div class="point-value" flex="65"><ma-point-value point="myPoint" value-updated="$ctrl.pointValueChanged(myPoint)"></ma-point-value></div>
                    </div>
					<ma-point-value ng-if="myPoint.pointLocator.dataType == 'IMAGE'" flex="100"
                      point="myPoint" value-updated="$ctrl.pointValueChanged(myPoint)"></ma-point-value>
                    <label flex="35">XID:</label> <div flex="65" ng-bind="myPoint.xid"></div>
					<label flex="35">{{'dashboards.v3.app.time' | tr}}:</label> <div class="point-time" flex="65" ng-bind="$ctrl.pointTime"></div>
					<label flex="35">{{'dashboards.v3.app.path' | tr}}:</label>  <div flex="65"><span ng-repeat="folder in $ctrl.path">{{folder}} <span ng-if="!$last"> &gt; </span></span></div>
					<label flex="35">{{'dashboards.v3.app.dataSource' | tr}}:</label> <div flex="65" ng-bind="myPoint.dataSourceName"></div>
					<div flex="65">
						<!-- <ma-point-hierarchy></ma-point-hierarchy> -->
					</div>
				</div>
				<div layout="row">
					<ma-set-point-value ng-if="myPoint.pointLocator.dataType !== 'IMAGE'" point="myPoint" flex="95"></ma-set-point-value>
					<md-button class="md-accent md-raised" ng-click="$ctrl.openEditPage('dashboard.settings.dataSources', myPoint.id)">{{'dashboards.v3.app.edit' | tr}}</md-button>
				</div>
			</md-card-content>
		</md-card>
		
		<md-card flex class="dpd-small-card">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			            <span ma-tr="dashboards.v3.app.pointValueHistory"></span>
			        </h2>
					<h2 style="padding-right: 5px;">
			            <span>{{'dashboards.v3.app.realtime' | tr}}: </span>
			        </h2>
					<md-switch ng-model="$ctrl.realtimeMode" aria-label="Realtime Mode" ng-init="$ctrl.realtimeMode = true">
					</md-switch>
				</div>
			</md-toolbar>
			<md-table-container ng-init="myOrder='-timestamp'">
				<table md-table>
					<thead md-head md-order="myOrder">
						<tr md-row>
							<th md-column md-order-by="timestamp" ma-tr="dashboards.v3.app.time"></th>
							<th md-column md-order-by="value" ma-tr="dashboards.v3.app.pointValue"></th>
						</tr>
					</thead>
					<tbody md-body ng-if="!$ctrl.realtimeMode">
						<tr md-row ng-repeat="value in myPointValues | orderBy: myOrder">
							<td md-cell ng-bind="$ctrl.mdAdminSettings.user.formatDate(value.timestamp, 'shortDateTimeSeconds')"></td>
							<td ng-if="myPoint.pointLocator.dataType !== 'IMAGE'" md-cell>{{value.value}} <strong ng-if="value.annotation"><em>({{value.annotation}})</em></strong></td>
	                        <td ng-if="myPoint.pointLocator.dataType == 'IMAGE'" md-cell><img ng-src="{{value.value}}" alt="{{value.annotation||''}}" class="imageValue"></td>
						</tr>
					</tbody>
					<tbody md-body ng-if="$ctrl.realtimeMode">
						<ma-point-values point="myPoint" values="realtimePointValues" realtime="true" rendered="true" latest="100"></ma-point-values>
						<tr md-row ng-repeat="value in realtimePointValues | orderBy: myOrder">
							<td md-cell ng-bind="$ctrl.mdAdminSettings.user.formatDate(value.timestamp, 'shortDateTimeSeconds')"></td>
							<td ng-if="myPoint.pointLocator.dataType !== 'IMAGE'" md-cell>{{value.value}} <strong ng-if="value.annotation"><em>({{value.annotation}})</em></strong></td>
	                        <td ng-if="myPoint.pointLocator.dataType == 'IMAGE'" md-cell><img ng-src="{{value.value}}" alt="{{value.annotation||''}}" class="imageValue"></td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</md-card>
	</div>
	
	<div flex layout="column" layout-gt-sm="row">
		<md-card flex class="dpd-small-card">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			              <span ma-tr="dashboards.v3.app.pointStatistics"></span>
			        </h2>
				</div>
			</md-toolbar>
			<ma-point-statistics point="myPoint" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" statistics="statsObj"></ma-point-statistics>
			<ma-statistics-table statistics="statsObj"></ma-statistics-table>
			<br />
		</md-card>
		
		<ma-user-notes-table reference-id="myPoint.id" flex class="dpd-small-card"></ma-user-notes-table>	
	</div>
    

	
	<md-card flex ng-if="myPoint.pointLocator.dataType !== 'ALPHANUMERIC' && myPoint.pointLocator.dataType !== 'IMAGE'">
		<md-toolbar class="md-whiteframe-1dp md-hue-3">
			<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
				<h2 flex>
					  <span ma-tr="dashboards.v3.app.chart"></span>
				</h2>
				<md-select ng-model="chartType" ng-init="chartType='smoothedLine'" aria-label="Chart Type">
					<md-option value="smoothedLine" ma-tr="dashboards.v3.app.smooth"></md-option>
					<md-option value="line" ma-tr="dashboards.v3.app.line"></md-option>
					<md-option value="step" ma-tr="dashboards.v3.app.step"></md-option>
					<md-option value="column" ma-tr="dashboards.v3.app.bar"></md-option>
				</md-select>
			</div>
		</md-toolbar>
		<ma-serial-chart style="width: 100%" series-1-values="myPointValues" series-1-point="myPoint" legend="true" balloon="true" export="true" default-type="{{chartType}}">
		</ma-serial-chart>
	</md-card>

    <md-card flex ng-if="myPoint.pointLocator.dataType == 'IMAGE'">
      <md-toolbar class="md-whiteframe-1dp md-hue-3">
        <div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
          <h2 flex>
              <span ma-tr="dashboards.v3.app.images"></span>
          </h2>
        </div>
      </md-toolbar>
      <ma-image-slider point-values="myPointValues"></ma-image-slider>
    </md-card>

	<md-card flex>
		<md-toolbar class="md-whiteframe-1dp md-hue-3">
			<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
				<h2 flex>
					  <span ma-tr="dashboards.v3.app.pointEvents"></span>
				</h2>
			</div>
		</md-toolbar>
		<ma-events-table single-point="true" point-id="myPoint.id" limit="5" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to""></ma-events-table>
	</md-card>
</div>