<div layout="row" layout-wrap ng-init="page={}">
	<div flex="100" flex-gt-md="30" layout="column">
		<md-card>
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			              <span>{{myPoint.deviceName}} - {{myPoint.name}}</span>
			        </h2>
				</div>
			</md-toolbar>
			<md-card-content layout="column">
				<md-input-container class="no-errors-spacer">
					<label>Choose a point</label>
					<ma-filtering-point-list ng-model="myPoint" auto-init="true" point-xid="{{$ctrl.pointXid}}"></ma-filtering-point-list>
				</md-input-container>
				<div layout="row">
					<label flex="20">XID:</label>
					<div flex="80" ng-bind="myPoint.xid"></div>
				</div>
				<div layout="row">
					<label flex="20">Value:</label>
					<ma-point-value flex="80" point-xid="{{$ctrl.pointXid}}" point="myPoint"></ma-point-value>
				</div>
				<div layout="row">
					<label flex="20">Time:</label>
					<ma-point-value flex="80" point="myPoint" display-type="dateTime" date-time-format="l LTS"></ma-point-value>
				</div>
				<div layout="row">
					<ma-set-point-value point="myPoint" flex="95"></ma-set-point-value>
					<md-button class="md-accent md-raised" ng-href="{{'/data_point_edit.shtm?dpid=' + myPoint.id}}" target="_blank">edit</md-button>
				</div>
			</md-card-content>
		</md-card>

		<md-card>
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			              <span>Point Statistics</span>
			        </h2>
				</div>
			</md-toolbar>
			<md-card-content layout="column">
				<ma-point-statistics point="myPoint" from="from" to="to" statistics="statsObj"></ma-point-statistics>
				<ma-statistics-table statistics="statsObj"></ma-statistics-table>
			</md-card-content>
		</md-card>
	</div>

	<div flex="100" flex-gt-md="70" layout="row" layout-align="space-between" layout-wrap>
		<md-card flex="100" flex-gt-md="50">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			              <span>Realtime History</span>
			        </h2>
				</div>
			</md-toolbar>
			<md-card-content>
				<md-table-container ng-init="myLimit=15; myPage=1; myOrder='-timestamp'">
					<table md-table>
						<thead md-head md-order="myOrder">
							<tr md-row>
								<th md-column md-order-by="timestamp">TimeStamp</th>
								<th md-column md-order-by="value">Point Value</th>
							</tr>
						</thead>
						<tbody md-body>
							<tr ng-repeat="value in myPointValues | orderBy: myOrder | limitTo: myLimit: (myPage - 1) * myLimit">
								<td md-cell>{{value.timestamp | moment:'format':'l LTS'}}</td>
								<td md-cell>{{value.value}}</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<md-table-pagination md-limit="myLimit" md-limit-options="[5, 10, 15, 20, 25, 50]" md-page="myPage" md-total="{{myPointValues.length}}"></md-table-pagination>
			</md-card-content>
		</md-card>

		<md-card flex="100" flex-gt-md="45">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			              <span>User Notes</span>
			        </h2>
					<md-button class="md-accent md-raised" aria-label="New Note" ng-click="$ctrl.addNote($event, 'Point', myPoint.id)">
						Add
					</md-button>
				</div>
			</md-toolbar>
			<md-card-content>
				<ma-user-notes-table reference-id="myPoint.id" limit="5"></ma-user-notes-table>
			</md-card-content>
		</md-card>

		<md-card flex="100">
			<md-toolbar class="md-whiteframe-1dp md-hue-3">
				<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
					<h2 flex>
			              <span>Controls</span>
			        </h2>
				</div>
			</md-toolbar>
			<md-card-content>
				<div layout="row" layout-wrap>
					<md-input-container flex="100" flex-gt-sm="25" class="no-errors-spacer">
						<label>Date preset</label>
						<ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="{{updateInterval}} {{updateIntervalType}}"></ma-date-range-picker>
					</md-input-container>
					<md-input-container flex="50" flex-gt-sm="25" class="no-errors-spacer">
						<label>From date</label>
						<ma-date-picker ng-model="from" format="l LT"></ma-date-picker>
					</md-input-container>
					<md-input-container flex="50" flex-gt-sm="25" class="no-errors-spacer">
						<label>To date</label>
						<ma-date-picker ng-model="to" format="l LT"></ma-date-picker>
					</md-input-container>
					<md-input-container flex="15" flex-gt-sm="10" class="no-errors-spacer">
						<label>Update</label>
						<input type="number" step="1" min="1" ng-model="updateInterval" ng-init="updateInterval=1">
					</md-input-container>
					<md-input-container flex="35" flex-gt-sm="15" class="no-errors-spacer">
						<label>Interval</label>
						<ma-interval-type-picker ng-model="updateIntervalType" ng-init="updateIntervalType='MINUTES'"></ma-interval-type-picker>
					</md-input-container>

					<md-input-container flex="15" flex-gt-sm="10" class="no-errors-spacer">
						<label>Rollup</label>
						<input type="number" step="1" min="1" ng-model="rollupInterval" ng-init="rollupInterval=1" ng-disabled="rollupType=='NONE' || autoRollup">
					</md-input-container>
					<md-input-container flex="35" flex-gt-sm="15" class="no-errors-spacer">
						<label>Interval</label>
						<ma-interval-type-picker ng-model="rollupIntervalType" ng-init="rollupIntervalType='MINUTES'" ng-disabled="rollupType=='NONE' || autoRollup"></ma-interval-type-picker>
					</md-input-container>
					<md-input-container flex="50" flex-gt-sm="25" class="no-errors-spacer">
						<label>Rollup Type</label>
						<md-select ng-model="rollupType" ng-init="rollupType='AVERAGE'">
							<md-option value="MINIMUM">
								Minimum
							</md-option>
							<md-option value="MAXIMUM">
								Maximum
							</md-option>
							<md-option value="AVERAGE">
								Average
							</md-option>
							<md-option value="DELTA">
								Delta
							</md-option>
							<md-option value="NONE">
								None
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex="50" flex-gt-sm="25" class="no-errors-spacer" ng-init="rollupType='AVERAGE'">
						<md-checkbox ng-model="autoRollup" ng-init="autoRollup = true">Auto-Interval</md-checkbox>
					</md-input-container>

					<!-- Load point values for chart and table -->
					<ma-point-values point="myPoint" values="myPointValues" from="from" to="to" rollup="{{rollupType}}" rollup-interval="{{rollupInterval}} {{rollupIntervalType}}" auto-rollup-interval="autoRollup">
					</ma-point-values>

				</div>
			</md-card-content>
		</md-card>
	</div>

	<md-card flex="100">
		<md-toolbar class="md-whiteframe-1dp md-hue-3">
			<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
				<h2 flex>
					  <span>Chart</span>
				</h2>
				<md-select ng-model="chartType" ng-init="chartType='smoothedLine'" aria-label="Chart Type">
					<md-option value="smoothedLine">
						Smooth
					</md-option>
					<md-option value="line">
						Line
					</md-option>
					<md-option value="step">
						Step
					</md-option>
					<md-option value="column">
						Bar
					</md-option>
				</md-select>
			</div>
		</md-toolbar>
		<md-card-content>
			<ma-serial-chart style="height: 360px; width: 100%" series-1-values="myPointValues" series-1-point="myPoint" legend="true" balloon="true" export="true" default-type="{{chartType}}">
			</ma-serial-chart>
		</md-card-content>
	</md-card>

	<md-card flex="100">
		<md-toolbar class="md-whiteframe-1dp md-hue-3">
			<div class="md-toolbar-tools" ng-class="{'mobile': $mdMedia('xs')}">
				<h2 flex>
					  <span>Point Events</span>
				</h2>
			</div>
		</md-toolbar>
		<md-card-content>
			<ma-events-table point-id="myPoint.id" limit="500" paginate-limit="5"></ma-events-table>
		</md-card-content>
	</md-card>
</div>