<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<ma-point-values point="point1" values="point1Values"
	from="from" to="to"
	rollup="AVERAGE" rollup-interval="1 minutes">
</ma-point-values>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Controls</div>
            <div class="panel-body">
                Choose point: <ma-point-list ng-model="point1"></ma-point-list>
                <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="1 minutes"></ma-date-range-picker>
				From: <input ma-date-picker ng-model="from">
				To: <input ma-date-picker ng-model="to">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Line Chart</div>
            <div class="panel-body">
                <ma-serial-chart style="height: 500px; width: 100%"
					series-1-title="{{point1.name}}" series-1-values="point1Values" series-1-type="{{chartType}}" series-1-color="{{color}}"
					options="{legend:{}}">
				</ma-serial-chart>
            </div>
        </div>
    </div>
</div>
