<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span ma-tr="dashboards.v3.dox.settingPoint"></span> - <span ma-tr="dashboards.v3.dox.toggle"></span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<dual-pane-editor><ma-point-list ng-model="myPoint"></ma-point-list>
<ma-switch-img point="myPoint" ng-click="myPoint.toggleValue()"
	src-false="/modules/dashboards/web/private/maDashboard/img/ligthbulb_off.png"
	src-true="/modules/dashboards/web/private/maDashboard/img/ligthbulb_on.png"
	default-src="/modules/dashboards/web/private/maDashboard/img/close.png">
</ma-switch-img>
<ma-point-value point="myPoint"></ma-point-value></dual-pane-editor>
