<md-input-container class="ma-icon-inside">
  <label ma-tr="{{$ctrl.labelTr}}"></label>
  <input ng-if="!$ctrl.select && $ctrl.type !== 'INTEGER'" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" ng-model-options="{debounce: {default: 1000, blur: 0}, updateOn : 'default blur'}">
  <input ng-if="!$ctrl.select && $ctrl.type === 'INTEGER'" type="number" min="{{$ctrl.min}}" max="{{$ctrl.max}}" step="{{$ctrl.step}}" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()" ng-model-options="{debounce: {default: 1000, blur: 0}, updateOn : 'default blur'}">
  <md-select ng-if="$ctrl.select" ng-model="$ctrl.systemSetting.value" ng-change="$ctrl.settingChanged()">
    <div ng-transclude="options"></div>
  </md-select>
  <md-icon ng-show="$ctrl.saving || $ctrl.done || $ctrl.error" class="md-icon-button" ng-class="{'md-warn': $ctrl.error}">{{$ctrl.saving && 'sync' || $ctrl.done && 'done' || $ctrl.error && 'sync_problem' }}</md-icon>
  <div ng-messages="$ctrl.messages" md-auto-hide="false">
    <div ng-message="errorSaving" ma-tr="dashboards.v3.app.errorSavingSetting"></div>
  </div>
</md-input-container>