<div ui-sref-active="menu-active" ng-class="{'menu-open': $ctrl.isOpen}" class="menu-toggle">
    <a ui-sref="{{$ctrl.item.name}}" style="display:none"></a>
    <md-button class="menu-toggle-button" ng-click="$ctrl.toggle()" aria-label="{{$ctrl.item.menuText || ($ctrl.item.menuTr | tr)}}">
      <div flex layout="row">
        <span>
            <i ng-if="$ctrl.item.menuIcon" class="menu-icon fa-fw {{$ctrl.item.menuIcon}}"></i>
            <span ng-if="$ctrl.item.menuText" class="menu-text">{{$ctrl.item.menuText}}</span>
            <span ng-if="!$ctrl.item.menuText" class="menu-text" ma-tr="{{$ctrl.item.menuTr}}"></span>
        </span>
        <span flex></span>
        <span class="menu-toggle-icon">
          <md-icon>keyboard_arrow_up</md-icon>
        </span>
      </div>
    </md-button>
    
    <ul class="menu-toggle-list ng-hide" ng-show="$ctrl.isOpen" ng-class="'menu-level-' + ($ctrl.menuLevel + 1)">
      <li ng-repeat="child in $ctrl.item.children track by $index" ng-if="!child.menuHidden && $ctrl.menu.user.hasPermission(child.permission)">
        <menu-link menu-item="child" ng-if="!child.children"></menu-link>
        <menu-toggle menu-item="child" open-menu="$ctrl.openMenu" ng-if="child.children"></menu-toggle>
      </li>
    </ul>
</div>
