<div class="md-padding watchlist-parameters" layout="column" ng-model="$ctrl.watchlist.params" ui-sortable="{handle: '.watchlist-parameter-main > .move-handle'}">
  <p ng-if="!$ctrl.watchlist.params.length" ma-tr="dashboards.v3.app.noParameters"></p>
  <div ng-repeat="param in $ctrl.watchlist.params" layout="column" class="watchlist-parameter-row" >
    <div layout="row" layout-align="start center" class="watchlist-parameter-main">
      <md-button class="md-icon-button remove-parameter" ng-click="$ctrl.watchlist.params.splice($index, 1)"><md-icon>clear</md-icon></md-button>
      <md-input-container flex="33">
        <label ma-tr="dashboards.v3.app.label"></label>
        <input ng-model="param.label" required md-no-asterisk>
      </md-input-container>
      <md-input-container flex="33">
        <label ma-tr="dashboards.v3.app.parameterName"></label>
        <input ng-model="param.name" required md-no-asterisk>
      </md-input-container>
      <md-input-container flex="33">
        <label ma-tr="dashboards.v3.app.parameterType"></label>
        <md-select ng-model="param.type" required md-no-asterisk>
          <md-option ng-value="'input'" ma-tr="dashboards.v3.app.input"></md-option>
          <md-option ng-value="'select'" ma-tr="dashboards.v3.app.select"></md-option>
          <md-option ng-value="'number'" ma-tr="dashboards.v3.app.number"></md-option>
          <md-option ng-value="'numberRange'" ma-tr="dashboards.v3.app.numberRange"></md-option>
          <md-option ng-value="'date'" ma-tr="dashboards.v3.app.date"></md-option>
          <md-option ng-value="'deviceName'" ma-tr="common.deviceName"></md-option>
          <md-option ng-value="'dataSource'" ma-tr="dashboards.v3.app.dataSource"></md-option>
          <md-option ng-value="'pointHierarchy'" ma-tr="dashboards.v3.app.pointHierarchy"></md-option>
        </md-select>
      </md-input-container>
      <md-button class="md-icon-button" ng-click="showSettings=!showSettings" ng-class="{'md-accent': showSettings}"><md-icon>settings</md-icon></md-button>
      <md-icon class="move-handle">reorder</md-icon>
    </div>
    <div ng-if="showSettings" class="watchlist-parameter-options">
      <div ng-if="param.type === 'input'" layout="row" layout-align="end center">
        <md-input-container>
          <label ma-tr="dashboards.v3.app.pattern"></label>
          <input ng-model="param.options.pattern">
        </md-input-container>
      </div>
      <div ng-if="param.type === 'select'" layout="column" layout-align="start end" ng-model="param.options.options" ui-sortable="{handle: '.move-handle'}">
        <md-checkbox ng-model="param.options.filtering"><span ma-tr="dashboards.v3.app.filteringSelect"></span></md-checkbox>
        <md-checkbox ng-model="param.options.multiple" ng-disabled="param.options.filtering"><span ma-tr="dashboards.v3.app.selectMultiple"></span></md-checkbox>
        <div ng-repeat="option in param.options.options" layout="row" layout-align="end center">
          <md-button class="md-icon-button" ng-click="param.options.options.splice($index, 1)"><md-icon>clear</md-icon></md-button>
          <md-input-container>
            <label ma-tr="dashboards.v3.app.label"></label>
            <input ng-model="option.label">
          </md-input-container>
          <md-input-container>
            <label ma-tr="dashboards.v3.app.value"></label>
            <input ng-model="option.value">
          </md-input-container>
          <md-icon class="move-handle">reorder</md-icon>
        </div>
        <md-button class="md-raised" ng-click="param.options.options ? param.options.options.push({}) : param.options.options = [{}]" ma-tr="dashboards.v3.app.addOption"></md-button>
      </div>
      <div ng-if="param.type === 'number'" layout="row" layout-align="end center">
        <md-input-container>
          <label ma-tr="common.stats.min"></label>
          <input ng-model="param.options.min" type="number">
        </md-input-container>
        <md-input-container>
          <label ma-tr="common.stats.max"></label>
          <input ng-model="param.options.max" type="number">
        </md-input-container>
        <md-input-container>
          <label ma-tr="dashboards.v3.app.step"></label>
          <input ng-model="param.options.step" type="number" min="1">
        </md-input-container>
      </div>
      <div ng-if="param.type === 'numberRange'" layout="row" layout-align="end center">
        <md-input-container>
          <label ma-tr="common.stats.start"></label>
          <input ng-model="param.options.start" type="number">
        </md-input-container>
        <md-input-container>
          <label ma-tr="common.stats.end"></label>
          <input ng-model="param.options.end" type="number">
        </md-input-container>
        <md-input-container>
          <label ma-tr="dashboards.v3.app.step"></label>
          <input ng-model="param.options.step" type="number" min="1">
        </md-input-container>
      </div>
      <div ng-if="param.type === 'date'" layout="row" layout-align="end center">
        <md-input-container>
          <label ma-tr="dashboards.v3.app.dateMode"></label>
          <md-select ng-model="param.options.mode">
            <md-option ng-value="'both'" ma-tr="dashboards.v3.app.dateModeBoth"></md-option>
            <md-option ng-value="'date'" ma-tr="dashboards.v3.app.dateModeDate"></md-option>
            <md-option ng-value="'time'" ma-tr="dashboards.v3.app.dateModeTime"></md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label ma-tr="dashboards.v3.app.dateFormat"></label>
          <input ng-model="param.options.format">
        </md-input-container>
      </div>
      <div ng-if="param.type === 'deviceName'" layout="row" layout-align="end center">
        <md-input-container>
          <label ma-tr="dashboards.v3.app.dataSourceXid"></label>
          <input ng-model="param.options.dataSourceXid">
        </md-input-container>
        <md-input-container>
          <label ma-tr="dashboards.v3.app.nameContains"></label>
          <input ng-model="param.options.contains">
        </md-input-container>
        <md-checkbox ng-model="param.options.filtering"><span ma-tr="dashboards.v3.app.filteringSelect"></span></md-checkbox>
        <md-checkbox ng-model="param.options.multiple"><span ma-tr="dashboards.v3.app.selectMultiple"></span></md-checkbox>
      </div>
      <div ng-if="param.type === 'dataSource'" layout="row" layout-align="end center">
        <md-input-container>
          <label ma-tr="dashboards.v3.app.xidIsLike"></label>
          <input ng-model="param.options.xidIsLike">
        </md-input-container>
        <md-input-container>
          <label ma-tr="dashboards.v3.app.nameIsLike"></label>
          <input ng-model="param.options.nameIsLike">
        </md-input-container>
      </div>
      <div ng-if="param.type === 'pointHierarchy'" layout="row" layout-align="end center">
        <md-input-container>
          <label ma-tr="dashboards.v3.app.hierarchyPath"></label>
          <input ng-model="param.options.path">
        </md-input-container>
        <md-input-container>
          <label ma-tr="dashboards.v3.app.nameMatches"></label>
          <input ng-model="param.options.nameMatches">
        </md-input-container>
        <md-input-container>
          <label ma-tr="dashboards.v3.app.replaceName"></label>
          <input ng-model="param.options.replaceName">
        </md-input-container>
        <md-checkbox ng-model="param.options.uniqueNames"><span ma-tr="dashboards.v3.app.uniqueNames"></span></md-checkbox>
        <md-checkbox ng-model="param.options.multiple"><span ma-tr="dashboards.v3.app.selectMultiple"></span></md-checkbox>
        <md-checkbox ng-model="param.options.subfoldersOnly"><span ma-tr="dashboards.v3.app.subFoldersOnly"></span></md-checkbox>
        <md-input-container>
          <label ma-tr="dashboards.v3.app.maxDepth"></label>
          <input ng-model="param.options.maxDepth" type="number" min="0">
        </md-input-container>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="start center">
    <md-button class="md-raised" ma-tr="dashboards.v3.app.addParameter" ng-click="$ctrl.addParam()"></md-button>
  </div>
</div>
