<div class="watchlist-selected-points">
  <md-table-container>
    <table md-table md-row-select="true" multiple ng-model="$ctrl.staticSelected">
      <thead md-head md-order="$ctrl.staticTableQuery.order" md-on-reorder="$ctrl.sortAndLimit">
        <tr md-row>
            <th md-column md-order-by="dataSourceName" ma-tr="dashboards.v3.app.dataSource"></th>
            <th md-column md-order-by="deviceName" ma-tr="common.deviceName"></th>
            <th md-column md-order-by="name" ma-tr="common.pointName"></th>
            <th md-column md-order-by="xid" ma-tr="common.xid"></th>
            <th md-column></th>
          </tr>
      </thead>
      <tbody md-body ng-model="$ctrl.pointsInView" ui-sortable="{update: $ctrl.dragAndDrop, handle: '> td > .move-handle'}">
        <tr md-row md-select="point" md-select-id="xid" ng-repeat="point in $ctrl.pointsInView track by point.xid">
            <td md-cell ng-bind="point.dataSourceName"></td>
            <td md-cell ng-bind="point.deviceName"></td>
            <td md-cell ng-bind="point.name"></td>
            <td md-cell ng-bind="point.xid"></td>
            <td md-cell><md-icon class="move-handle">reorder</md-icon></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <div class="watchlist-selected-tools">
    <md-table-pagination md-limit="$ctrl.staticTableQuery.limit" md-limit-options="[5, 10, 20, 50, 100]" md-page="$ctrl.staticTableQuery.page" md-total="{{$ctrl.watchlist.points.length}}" md-page-select md-on-paginate="$ctrl.sortAndLimit"></md-table-pagination>
    <md-button class="watchlist-selected-delete md-accent" ng-disabled="!$ctrl.staticSelected.length" ng-click="$ctrl.removeFromWatchlist()"><md-icon>clear</md-icon>&nbsp;<span ma-tr="dashboards.v3.app.removeSelected"></span></md-button>
  </div>
</div>