<div class="md-padding watchlist-settings" layout="column">
  <md-radio-group ng-model="$ctrl.watchlist.type" layout="row" flex="100" flex-gt-md="50">
    <md-radio-button ng-value="'static'" class="md-primary"><span ma-tr="dashboards.v3.app.static"></span></md-radio-button>
    <md-radio-button ng-value="'query'"><span ma-tr="dashboards.v3.app.pointQuery"></span></md-radio-button>
  </md-radio-group>
  <div layout="row" layout-wrap>
    <md-input-container flex="100" flex-gt-md="50">
      <label ma-tr="common.name"></label>
      <input ng-model="$ctrl.watchlist.name">
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <label ma-tr="common.xid"></label>
      <input ng-model="$ctrl.watchlist.xid">
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <label ma-tr="common.user"></label>
      <input ng-model="$ctrl.watchlist.username">
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <label ma-tr="dashboards.v3.app.readPermission"></label>
      <input ng-model="$ctrl.watchlist.readPermission">
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
      <label ma-tr="dashboards.v3.app.editPermission"></label>
      <input ng-model="$ctrl.watchlist.editPermission">
    </md-input-container>
  </div>
</div>