<md-card class="watch-list-steps">
  <div ng-form="$ctrl.form">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-input-container flex="100" flex-gt-sm="50" flex-gt-lg="30">
        <md-select ng-model="$ctrl.selectedWatchlist" ng-model-options="{trackBy: '$value.xid'}" ng-change="$ctrl.watchlistSelected(11)">
          <md-option ng-value="undefined"><i ma-tr="dashboards.v3.app.unsavedWatchlist"></i></md-option>
          <md-option ng-value="watchlist" ng-repeat="watchlist in $ctrl.watchlists track by watchlist.xid" ng-bind="watchlist.name"></md-option>
        </md-select>
      </md-input-container>
      <div flex></div>
      <md-button class="md-raised" ng-click="$ctrl.newWatchlist()"><md-icon>add</md-icon>&nbsp;<span ma-tr="dashboards.v3.app.new"></span></md-button>
      <md-button class="md-warn md-raised" ng-click="$ctrl.deleteWatchlist($event)" ng-disabled="$ctrl.watchlist.isNew"><md-icon>delete</md-icon>&nbsp;<span ma-tr="common.delete"></span></md-button>
      <md-button class="md-primary md-raised" ng-click="$ctrl.save()"><md-icon>save</md-icon>&nbsp;<span ma-tr="common.save"></span></md-button>
      <md-button class="md-raised" ui-sref="dashboard.watchList({watchListXid: $ctrl.watchlist.xid})" ng-disabled="$ctrl.watchlist.isNew"><md-icon>visibility</md-icon>&nbsp;<span ma-tr="common.view"></span></md-button>
    </div>
  </md-toolbar>
  <md-card-content class="no-padding">
    <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.selectedTab">
      <md-tab id="watchlist-settings">
        <md-tab-label><span ma-tr="dashboards.v3.app.watchListSettings"></span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl + '/settings.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="watchlist-query" ng-if="$ctrl.watchlist.type === 'query'">
        <md-tab-label><span ma-tr="dashboards.v3.app.query"></span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl + '/query.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="watchlist-query-preview" ng-if="$ctrl.watchlist.type === 'query'">
        <md-tab-label><span ma-tr="dashboards.v3.app.queryPreview"></span>&nbsp;<span>({{$ctrl.total}})</span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl + '/queryPreview.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="watchlist-select-table" ng-if="$ctrl.watchlist.type === 'static'">
        <md-tab-label><span ma-tr="dashboards.v3.app.selectFromTable"></span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl + '/selectFromTable.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="watchlist-select-hierarchy" ng-if="$ctrl.watchlist.type === 'static'">
        <md-tab-label><span ma-tr="dashboards.v3.app.selectFromHierarchy"></span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl + '/selectFromHierarchy.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="watchlist-selected-points" ng-if="$ctrl.watchlist.type === 'static'">
        <md-tab-label><span ma-tr="dashboards.v3.app.selectedPoints"></span>&nbsp;({{$ctrl.watchlist.points.length}})</md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl + '/selectedPoints.html'"></div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary md-raised" ng-click="$ctrl.prevStep()" ng-disabled="$ctrl.selectedTab === 0"><md-icon>arrow_back</md-icon>&nbsp;<span ma-tr="dashboards.v3.app.prevStep"></span></md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.nextStep()" ng-disabled="$ctrl.watchlist.type === 'static' && $ctrl.selectedTab === 3 || $ctrl.watchlist.type !== 'static' && $ctrl.selectedTab === 2"><md-icon>arrow_forward</md-icon>&nbsp;<span ma-tr="dashboards.v3.app.nextStep"></span></md-button>
  </md-card-actions>
  </div>
</md-card>
