watch-list-builder md-toolbar.md-table-toolbar form > input:focus {
    outline: none;
}

watch-list-builder md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin-left: 16px;
    border: none;
}

watch-list-builder md-toolbar.ng-animate {
     transition: none;
}

watch-list-builder md-toolbar.md-table-toolbar em {
    font-size:1.6rem;
}

watch-list-builder md-card {
  margin: 16px 0;
}

watch-list-builder md-card md-card-content {
  padding: 0;
}

watch-list-builder md-card md-toolbar {
   min-height: 46px;
}

watch-list-builder md-card md-toolbar .md-toolbar-tools {
   height: 46px;
}

watch-list-builder ma-query-group md-card.query-group-depth-0 {
  margin: 0;
}

watch-list-builder ma-query-group .button-group {
  margin: 0;
}

watch-list-builder ma-query-group .button-group .md-button {
  font-weight: bold;
}