<md-card class="watch-list-steps">
  <div ng-form="$ctrl.form">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-input-container flex="100" flex-gt-sm="50" flex-gt-lg="30">
        <md-select ng-model="$ctrl.selectedWatchlist" ng-model-options="{trackBy: '$value.xid'}" ng-change="$ctrl.watchlistSelected(11)">
          <md-option ng-value="undefined"><i ma-tr="dashboards.v3.app.unsavedWatchlist"></i></md-option>
          <md-option ng-value="watchlist" ng-repeat="watchlist in $ctrl.watchlists track by watchlist.xid" ng-bind="watchlist.name"></md-option>
        </md-select>
      </md-input-container>
      <div flex></div>
      <md-button class="md-raised" ng-click="$ctrl.newWatchlist()"><md-icon>add</md-icon>&nbsp;<span ma-tr="dashboards.v3.app.new"></span></md-button>
      <md-button class="md-warn md-raised" ng-click="$ctrl.deleteWatchlist($event)" ng-disabled="$ctrl.watchlist.isNew"><md-icon>delete</md-icon>&nbsp;<span ma-tr="common.delete"></span></md-button>
      <md-button class="md-primary md-raised" ng-click="$ctrl.save()"><md-icon>save</md-icon>&nbsp;<span ma-tr="common.save"></span></md-button>
      <md-button class="md-raised" ui-sref="dashboard.watchList({watchListXid: $ctrl.watchlist.xid})" ng-disabled="$ctrl.watchlist.isNew"><md-icon>visibility</md-icon>&nbsp;<span ma-tr="common.view"></span></md-button>
    </div>
  </md-toolbar>
  <md-card-content class="no-padding">
    <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.selectedTab">
      <md-tab id="watchlist-settings">
        <md-tab-label><span ma-tr="dashboards.v3.app.watchListSettings"></span></md-tab-label>
        <md-tab-body>
          <div class="md-padding watchlist-settings" layout="column">
            <md-radio-group ng-model="$ctrl.watchlist.type" layout="row" flex="100" flex-gt-md="50">
              <md-radio-button ng-value="'static'" class="md-primary"><span ma-tr="dashboards.v3.app.static"></span></md-radio-button>
              <md-radio-button ng-value="'query'"><span ma-tr="dashboards.v3.app.pointQuery"></span></md-radio-button>
            </md-radio-group>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-md="50">
                <label ma-tr="common.name"></label>
                <input ng-model="$ctrl.watchlist.name">
              </md-input-container>
              <md-input-container flex="100" flex-gt-md="50">
                <label ma-tr="common.xid"></label>
                <input ng-model="$ctrl.watchlist.xid">
              </md-input-container>
              <md-input-container flex="100" flex-gt-md="50">
                <label ma-tr="common.user"></label>
                <input ng-model="$ctrl.watchlist.username">
              </md-input-container>
              <md-input-container flex="100" flex-gt-md="50">
                <label ma-tr="dashboards.v3.app.readPermission"></label>
                <input ng-model="$ctrl.watchlist.readPermission">
              </md-input-container>
              <md-input-container flex="100" flex-gt-md="50">
                <label ma-tr="dashboards.v3.app.editPermission"></label>
                <input ng-model="$ctrl.watchlist.editPermission">
              </md-input-container>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="watchlist-query">
        <md-tab-label><span ma-tr="dashboards.v3.app.query"></span></md-tab-label>
        <md-tab-body>
          <div class="md-padding watchlist-query" layout="column">
            <div layout="row">
              <md-input-container flex class="rql-input">
                <label ma-tr="dashboards.v3.app.rql"></label>
                <input ng-model="$ctrl.watchlist.query" ng-model-options="{debounce: 1000}" ng-change="$ctrl.queryChanged()">
              </md-input-container>
            </div>
            <ma-query-builder properties="$ctrl.queryProperties" ng-model="$ctrl.watchlist.query" ng-change="$ctrl.queryChanged()" hide-sort-limit="$ctrl.watchlist.type !== 'query'"></ma-query-builder>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="watchlist-query-results">
        <md-tab-label><span ma-tr="dashboards.v3.app.queryResults"></span>&nbsp;<span ng-if="$ctrl.allPoints.$total || $ctrl.allPoints.$total === 0">({{$ctrl.allPoints.$total}})</span></md-tab-label>
        <md-tab-body>
          <div class="watchlist-query-results">
            <md-table-container>
              <table md-table md-row-select="$ctrl.watchlist.type === 'static'" multiple ng-model="$ctrl.watchlist.points" md-progress="$ctrl.queryPromise">
                <thead md-head md-order="$ctrl.tableQuery.order" md-on-reorder="$ctrl.doPointQuery">
                  <tr md-row>
                      <th md-column md-order-by="dataSourceName" ma-tr="dashboards.v3.app.dataSource"></th>
                      <th md-column md-order-by="deviceName" ma-tr="common.deviceName"></th>
                      <th md-column md-order-by="name" ma-tr="common.pointName"></th>
                      <th md-column md-order-by="xid" ma-tr="common.xid"></th>
                    </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="point" md-select-id="xid" ng-repeat="point in $ctrl.allPoints track by point.xid">
                      <td md-cell ng-bind="point.dataSourceName"></td>
                      <td md-cell ng-bind="point.deviceName"></td>
                      <td md-cell ng-bind="point.name"></td>
                      <td md-cell ng-bind="point.xid"></td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination md-limit="$ctrl.tableQuery.limit" md-limit-options="[5, 10, 20, 50, 100]" md-page="$ctrl.tableQuery.page" md-total="{{$ctrl.allPoints.$total}}" md-page-select md-on-paginate="$ctrl.doPointQuery"></md-table-pagination>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="watchlist-selected-points" ng-if="$ctrl.watchlist.type === 'static'">
        <md-tab-label><span ma-tr="dashboards.v3.app.selectedPoints"></span>&nbsp;({{$ctrl.watchlist.points.length}})</md-tab-label>
        <md-tab-body>
          <div class="watchlist-selected-points">
            <md-table-container>
              <table md-table>
                <thead md-head md-order="$ctrl.staticTableQuery.order">
                  <tr md-row>
                      <th md-column md-order-by="dataSourceName" ma-tr="dashboards.v3.app.dataSource"></th>
                      <th md-column md-order-by="deviceName" ma-tr="common.deviceName"></th>
                      <th md-column md-order-by="name" ma-tr="common.pointName"></th>
                      <th md-column md-order-by="xid" ma-tr="common.xid"></th>
                    </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="point in $ctrl.watchlist.points | orderBy: $ctrl.staticTableQuery.order | limitTo:$ctrl.staticTableQuery.limit:($ctrl.staticTableQuery.page - 1)*$ctrl.staticTableQuery.limit track by point.xid">
                      <td md-cell ng-bind="point.dataSourceName"></td>
                      <td md-cell ng-bind="point.deviceName"></td>
                      <td md-cell ng-bind="point.name"></td>
                      <td md-cell ng-bind="point.xid"></td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination md-limit="$ctrl.staticTableQuery.limit" md-limit-options="[5, 10, 20, 50, 100]" md-page="$ctrl.staticTableQuery.page" md-total="{{$ctrl.watchlist.points.length}}" md-page-select></md-table-pagination>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary md-raised" ng-click="$ctrl.prevStep()" ng-disabled="$ctrl.selectedTab === 0"><md-icon>arrow_back</md-icon>&nbsp;<span ma-tr="dashboards.v3.app.prevStep"></span></md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.nextStep()" ng-disabled="$ctrl.watchlist.type === 'static' && $ctrl.selectedTab === 3 || $ctrl.watchlist.type !== 'static' && $ctrl.selectedTab === 2"><md-icon>arrow_forward</md-icon>&nbsp;<span ma-tr="dashboards.v3.app.nextStep"></span></md-button>
  </md-card-actions>
  </div>
</md-card>
