<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-date-controls></sidebar-date-controls>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-home fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.examples.playArea"><i class="fa fa-magic fa-fw"></i> <span ma-tr="dashboards.v3.dox.playArea"></span></a>
            </li>
            <li ng-class="{active: collapseVar==9}">
                <a href="" ng-click="check(9)"><i class="fa fa-info-circle fa-fw"></i> <span ma-tr="dashboards.v3.dox.basics"></span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=9">
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.angular" ma-tr="dashboards.v3.dox.angular"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.pageTemplate" ma-tr="dashboards.v3.dox.pageTemplate"></a>
                    </li>
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.pointList" ma-tr="dashboards.v3.dox.pointList"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.liveValues" ma-tr="dashboards.v3.dox.liveValues"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.filters" ma-tr="dashboards.v3.dox.filters"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.datePresets" ma-tr="dashboards.v3.dox.datePresets"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.pointValues" ma-tr="dashboards.v3.dox.pointValues"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.getPointByXid" ma-tr="dashboards.v3.dox.getPointByXid"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.translation" ma-tr="dashboards.v3.dox.translation"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.latestPointValues" ma-tr="dashboards.v3.dox.latestPointValues"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.jsonStore" ma-tr="dashboards.v3.dox.jsonStore"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.watchdog" ma-tr="dashboards.v3.dox.watchdog"></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==10}">
                <a href="" ng-click="check(10)"><i class="fa fa-tachometer fa-fw"></i> <span ma-tr="dashboards.v3.dox.singleValueDisplays"></span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=10">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.gauges" ma-tr="dashboards.v3.dox.gauges"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.switchImage" ma-tr="dashboards.v3.dox.switchImage"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.bars" ma-tr="dashboards.v3.dox.bars"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.tanks" ma-tr="dashboards.v3.dox.tanks"></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==5}">
                <a href="" ng-click="check(5)"><i class="fa fa-area-chart fa-fw"></i> <span ma-tr="dashboards.v3.dox.charts"></span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=5">
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.barChart" ma-tr="dashboards.v3.dox.barChart"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.lineChart" ma-tr="dashboards.v3.dox.lineChart"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.advancedChart" ma-tr="dashboards.v3.dox.advancedChart"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.stateChart" ma-tr="dashboards.v3.dox.stateChart"></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==11}">
                <a href="" ng-click="check(11)"><i class="fa fa-table fa-fw"></i> <span ma-tr="dashboards.v3.dox.statistics"></span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=11">
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.getStatistics" ma-tr="dashboards.v3.dox.getStatistics"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.statisticsTable" ma-tr="dashboards.v3.dox.statisticsTable"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.statePieChart" ma-tr="dashboards.v3.dox.statePieChart"></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==6}">
                <a href="" ng-click="check(6)"><i class="fa fa-pencil-square-o fa-fw"></i> <span ma-tr="dashboards.v3.dox.settingPoint"></span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=6">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.setPoint" ma-tr="dashboards.v3.dox.input"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.toggle" ma-tr="dashboards.v3.dox.toggle"></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==12}">
                <a href="" ng-click="check(12)"><i class="fa fa-list fa-fw"></i> <span ma-tr="dashboards.v3.dox.pointArrayTemplating"></span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=12">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.pointArrayTable" ma-tr="dashboards.v3.dox.pointArrayTable"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.pointArrayLineChart" ma-tr="dashboards.v3.dox.pointArrayLineChart"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.examples.templating" ma-tr="dashboards.v3.dox.templating"></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==7}">
                <a href="" ng-click="check(7)"><i class="fa fa-sun-o fa-fw"></i> <span ma-tr="intelict.thermal">Thermisch</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=7">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.thermal.mdf" ma-tr="intelict.dryer" ma-tr-args="['MDF']">MDF Trockner</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.thermal.span" ma-tr="intelict.dryer" ma-tr-args="['SPAN']">SPAN Trockner</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.thermal.osb" ma-tr="intelict.dryer" ma-tr-args="['OSB']">OSB Trockner</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==8}">
                <a href="" ng-click="check(8)"><i class="fa fa-bolt fa-fw"></i> <span ma-tr="intelict.electric">Elektrisch</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=8">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.electric.total" ma-tr="intelict.total">Gesamt</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li ng-class="{active: collapseVar==1}">
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">Panels and Wells</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Buttons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.notifications">Notifications</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.typography">Typography</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.icons"> Icons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.grid">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                        <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>

                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



