<h1 ma-tr="dashboards.v3.dox.adminTemplate"></h1>

<p>This is a complete <em>Material Design</em> admin template, similar to these documentation pages,
with a menu and toolbar which you can customize.</p>

<p>Copy the entire <code>${MA_HOME}/web/modules/dashboards/web/adminTemplate</code> folder into the
<code>${MA_HOME}/overrides/web/modules/dashboards/web</code> directory,
give it a new name then customize the menu and other behavior by editing <code>app.js</code> (shown below).</p>

<p>You will need change two references to <em>adminTemplate</em> in <code>index.html</code> to the name of the folder which you created in overrides.</p>

<p>You can add your own views, controllers, directives and filters. You may also want to define some of the constants shown
on the <a ui-sref="dashboard.examples.templates.extendApp">extend app</a> page</p>

<p><a href="/modules/dashboards/web/adminTemplate/" target="_blank">Click here to view the admin template.</a></p>

<md-card>
    <md-card-content layout="column">
        <div flex>
            <live-editor style="height:400px" ng-model="template1" src="/modules/dashboards/web/adminTemplate/app.js" mode="javascript"></live-editor>
        </div>
    </md-card-content>
</md-card>