<h1 ma-tr="dashboards.v3.dox.advancedChart"></h1>

<p>It is possible to override chart options, titles, colors, types and axes using attributes exposed to <code>&lt;ma-serial-chart&gt;</code>.</p>

<p>Use <code>legend="true"</code> to turn on the legend. Use <code>balloon="true"</code> to turn on timestamp and value tooltips on mouse hover.</p>

<p>Use <code>series-X-title</code>, <code>series-X-type</code> &amp; <code>series-X-color</code> to change the title, type and color of a series.</p>

<p>Use <code>series-X-axis</code> to change the axis ID for a series. The default axis IDs which are available are
    <code>left</code>, <code>right</code>, <code>left-2</code> &amp; <code>right-2</code> or you can specify your own in <code>options</code></p>

<p>Use <code>options</code> to set an <a href="https://docs.amcharts.com/3/javascriptcharts/AmSerialChart" target="_blank">AmCharts options</a> for the chart. The options will be merged with the default options. Use caution when dynamically setting options
    as some values may cause the chart rendering to fail.</p>
<p>
    Rollup Intervals can be applied manually using <code>rollup-interval</code> on <code>&lt;ma-point-values&gt;</code>. Alternatively you can turn on <code>auto-rollup-interval</code> by setting this attribute to <code>true</code> and the rollup interval will be based on the date range and rollup type.
</p>
<p>
    See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maSerialChart"><code>&lt;ma-serial-chart&gt;</code></a>,
    <a ui-sref="dashboard.docs.maDashboards.maPointValues"><code>&lt;ma-point-values&gt;</code></a>,
    <a ui-sref="dashboard.docs.maDashboards.maDatePicker"><code>&lt;ma-date-picker&gt;</code></a>,
    <a ui-sref="dashboard.docs.maDashboards.maDateRangePicker"><code>&lt;ma-date-range-picker&gt;</code></a>, and <a ui-sref="dashboard.docs.maDashboards.maIntervalTypePicker"><code>&lt;ma-interval-type-picker&gt;</code></a>.
</p>

<dual-pane-editor>

    <div layout="row">
        <ma-filtering-point-list flex="50" label="Point 1" ng-model="point1"></ma-filtering-point-list>
        <ma-filtering-point-list flex="50" label="Point 2" ng-model="point2"></ma-filtering-point-list>
    </div>

    <div layout="row">
        <md-input-container flex="50" ng-init="point1Color='#ffaa00'">
            <label>Point 1 Color</label>
            <input type="color" ng-model="point1Color">
        </md-input-container>
        <md-input-container flex="50" ng-init="point2Color='#0000aa'">
            <label>Point 2 Color</label>
            <input type="color" ng-model="point2Color">
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="50" ng-init="point1ChartType='line'">
            <label>Point 1 Chart Type</label>
            <md-select ng-model="point1ChartType">
                <md-option ng-value="t.type" ng-repeat="t in chartTypes">{{t.label}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="50" ng-init="point2ChartType='column'">
            <label>Point 2 Chart Type</label>
            <md-select ng-model="point2ChartType">
                <md-option ng-value="t.type" ng-repeat="t in chartTypes">{{t.label}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <ma-point-values point="point1" values="point1Values" from="dateBar.from" to="dateBar.to" rollup="{{dateBar.rollupType}}" rollup-interval="{{dateBar.rollupIntervals}} {{dateBar.rollupIntervalPeriod}}">
    </ma-point-values>
    <ma-point-values point="point2" values="point2Values" from="dateBar.from" to="dateBar.to" rollup="{{dateBar.rollupType}}" rollup-interval="{{dateBar.rollupIntervals}} {{dateBar.rollupIntervalPeriod}}">
    </ma-point-values>

    <ma-serial-chart style="height: 300px; width: 100%" series-1-values="point1Values" series-1-point="point1" series-1-type="{{point1ChartType}}" series-1-color="{{point1Color}}" series-2-values="point2Values" series-2-point="point2" series-2-type="{{point2ChartType}}"
        series-2-color="{{point2Color}}" series-2-axis="right" legend="true" balloon="true" options="{valueAxes:[{minimum:0, axisColor:point1Color, color:point1Color}, {axisColor:point2Color, color:point2Color}]}">
    </ma-serial-chart>

</dual-pane-editor>