<h1 ma-tr="dashboards.v3.dox.advancedChart"></h1>

<p>It is possible to override chart options, titles, colors, types and axes using attributes exposed to <code>&lt;ma-serial-chart&gt;</code>.</p>

<p>Use <code>legend="true"</code> to turn on the legend. Use <code>balloon="true"</code> to turn on timestamp and value tooltips on mouse hover.</p>

<p>Use <code>series-X-title</code>, <code>series-X-type</code> &amp; <code>series-X-color</code> to change the title, type and color of a series.</p>

<p>Use <code>series-X-axis</code> to change the axis ID for a series. The default axis IDs which are available are
    <code>left</code>, <code>right</code>, <code>left-2</code> &amp; <code>right-2</code> or you can specify your own in <code>options</code></p>

<p>Use <code>options</code> to set an <a href="https://docs.amcharts.com/3/javascriptcharts/AmSerialChart" target="_blank">AmCharts options</a> for the chart. The options will be merged with the default options. Use caution when dynamically setting options
    as some values may cause the chart rendering to fail.</p>
<p>
    Rollup Intervals can be applied manually using <code>rollup-interval</code> on <code>&lt;ma-point-values&gt;</code>. Alternatively you can turn on <code>auto-rollup-interval</code> by setting this attribute to <code>true</code> and the rollup interval will be based on the date range and rollup type.
</p>
<p>
    See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maSerialChart"><code>&lt;ma-serial-chart&gt;</code></a>,
    <a ui-sref="dashboard.docs.maDashboards.maPointValues"><code>&lt;ma-point-values&gt;</code></a>,
    <a ui-sref="dashboard.docs.maDashboards.maDatePicker"><code>&lt;ma-date-picker&gt;</code></a>,
    <a ui-sref="dashboard.docs.maDashboards.maDateRangePicker"><code>&lt;ma-date-range-picker&gt;</code></a>, and <a ui-sref="dashboard.docs.maDashboards.maIntervalTypePicker"><code>&lt;ma-interval-type-picker&gt;</code></a>.
</p>

<dual-pane-editor>

    <div layout="row">
        <md-input-container flex="50">
            <label>Point 1</label>
            <ma-point-list limit="200" ng-model="point1"></ma-point-list>
        </md-input-container>
        <md-input-container flex="50">
            <label>Point 2</label>
            <ma-point-list limit="200" ng-model="point2"></ma-point-list>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="50" ng-init="point1Color='#ffaa00'">
            <label>Point 1 Color</label>
            <input type="color" ng-model="point1Color">
        </md-input-container>
        <md-input-container flex="50" ng-init="point2Color='#0000aa'">
            <label>Point 2 Color</label>
            <input type="color" ng-model="point2Color">
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="50" ng-init="point1ChartType='line'">
            <label>Point 1 Chart Type</label>
            <md-select ng-model="point1ChartType">
                <md-option ng-value="t.type" ng-repeat="t in chartTypes">{{t.label}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="50" ng-init="point2ChartType='column'">
            <label>Point 2 Chart Type</label>
            <md-select ng-model="point2ChartType">
                <md-option ng-value="t.type" ng-repeat="t in chartTypes">{{t.label}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="">
            <label>Update interval</label>
            <input type="number" step="1" min="1" ng-model="updateInterval" ng-init="updateInterval=1">
        </md-input-container>
        <md-input-container>
            <label>Interval type</label>
            <ma-interval-type-picker ng-model="updateIntervalType" ng-init="updateIntervalType='MINUTES'"></ma-interval-type-picker>
        </md-input-container>
        <md-input-container flex="50">
            <label>Date range preset</label>
            <ma-date-range-picker from="from" to="to" preset="LAST_30_MINUTES" update-interval="{{updateInterval}} {{updateIntervalType}}"></ma-date-range-picker>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="50">
            <label>From date</label>
            <ma-date-picker ng-model="from"></ma-date-picker>
        </md-input-container>
        <md-input-container flex="50">
            <label>To date</label>
            <ma-date-picker ng-model="to"></ma-date-picker>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="25">
            <md-checkbox ng-model="autoRollup" ng-init="autoRollup = true">Auto-Rollup</md-checkbox>
        </md-input-container>

        <md-input-container flex="15">
            <label>Rollup interval</label>
            <input type="number" step="1" min="1" ng-model="rollupInterval" ng-init="rollupInterval=1" ng-disabled="rollupType=='NONE' || autoRollup">
        </md-input-container>
        <md-input-container flex>
            <label>Interval type</label>
            <ma-interval-type-picker ng-model="rollupIntervalType" ng-init="rollupIntervalType='MINUTES'" ng-disabled="rollupType=='NONE' || autoRollup"></ma-interval-type-picker>
        </md-input-container>
        <md-input-container flex ng-init="rollupType='AVERAGE'">
            <label>Rollup type</label>
            <md-select ng-model="rollupType">
                <md-option ng-value="t.type" ng-repeat="t in rollupTypes">{{t.label}}</md-option>
            </md-select>
        </md-input-container>


    </div>

    <ma-point-values point="point1" values="point1Values" from="from" to="to" rollup="{{rollupType}}" rollup-interval="{{rollupInterval}} {{rollupIntervalType}}" auto-rollup-interval="autoRollup">
    </ma-point-values>

    <ma-point-values point="point2" values="point2Values" from="from" to="to" rollup="{{rollupType}}" rollup-interval="{{rollupInterval}} {{rollupIntervalType}}" auto-rollup-interval="autoRollup">
    </ma-point-values>

    <ma-serial-chart style="height: 300px; width: 100%" series-1-values="point1Values" series-1-point="point1" series-1-type="{{point1ChartType}}" series-1-color="{{point1Color}}" series-2-values="point2Values" series-2-point="point2" series-2-type="{{point2ChartType}}"
        series-2-color="{{point2Color}}" series-2-axis="right" legend="true" balloon="true" options="{valueAxes:[{minimum:0, axisColor:point1Color, color:point1Color}, {axisColor:point2Color, color:point2Color}]}">
    </ma-serial-chart>

</dual-pane-editor>