<h1 ma-tr="dashboards.v3.dox.angular"></h1>

<p>The Mango v3 Dashboards module uses <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a href="https://material.angularjs.org/latest/" target="_blank">AngularJS Material Design</a> to make building dashboards easy
using simple HTML-like markup. The aim is that you should not have to write any JavaScript. This page will give you a basic
introduction to using AngularJS in your markup, please see <a href="http://www.w3schools.com/angular/angular_examples.asp" target="_blank">W3 Schools</a>
for more basic examples.</p>

<p>For a more advanced javascript tutorial on Angular Material specifically, check out this free
  <a href="https://egghead.io/series/angular-material-introduction" target="_blank">Video Training</a>.</p>

<p>Use <code ng-non-bindable>{{}}</code> double braces to surround AngularJS expressions that you want inserted onto your page.
This is called interpolation.</p>

<p>Use the <code>ng-bind</code> attribute to one-way bind the contents of a tag to a variable.
Use the <code>ng-model</code> attribute to two-way bind a variable with an input.</p>

<p>Insert the following code on your dashboards to see the contents of a variable <code>&lt;pre ng-bind="variableName | json"&gt;&lt;/pre&gt;</code></p>

<dual-pane-editor>

<div layout="column" ng-init="myVar = 'Hello'; myObj = {property1: 'test', property2: 433.555}">
  <div>Using interpolation, your variable is {{myVar}}</div>
  <div>Using ng-bind, your variable is <span ng-bind="myVar"></span></div>

  <md-input-container>
    <label>Enter a number</label>
    <input type="number" ng-model="myNumber">
  </md-input-container>

  <div>Your number plus 10 is {{myNumber + 10}}.</div>

  <h2>Output an object to the page as JSON</h2>
  <pre ng-bind="myObj | json"></pre>

</div>

</dual-pane-editor>
