<h1>Angular Material</h1>

<p>Create a page using Google's <em>Material Design</em> principals by leveraging the
<a href="https://material.angularjs.org/" target="_blank">Angular Material</a> library.
<a href="/modules/dashboards/web/templates/angularMaterial.html" target="_blank">Click here to view.</a></p>

<p>Note the use of the <code>ma-app</code> attribute on the <code>html</code> element.</p>

<md-card>
    <md-card-content layout="column">
        <div flex>
            <div style="height:400px" live-editor="template1" src="/modules/dashboards/web/templates/angularMaterial.html"></div>
        </div>
    </md-card-content>
</md-card>