<h1 ma-tr="dashboards.v3.dox.bars"></h1>
<p>You can use <a href="https://angular-ui.github.io/bootstrap/#/progressbar">Angular Bootstrap</a> components to build a bar display,
or create your own using CSS and the <code>ng-style</code> directive. Please see <a href="styles/examples.css">the examples.css file</a>
for the CSS styles used in this example.</p>

<dual-pane-editor>
<div layout="row">
    <md-input-container flex="75" class="no-errors-spacer">
        <label>Choose a point</label>
        <ma-point-list ng-model="myPoint"></ma-point-list>
    </md-input-container>
    <md-input-container flex="25" class="no-errors-spacer">
    	<label>Maximum value</label>
    	<input type="number" ng-model="max" ng-init="max=100">
    </md-input-container>
</div>


<ma-get-point-value point="myPoint"></ma-get-point-value>

<md-progress-linear md-mode="determinate" ng-value="myPoint.convertedValue / max * 100" style="height:10px;"></md-progress-linear>

<div class="bar-display" ng-class="{'point-disabled': !myPoint.enabled}">
	<div class="bar-display-fill" ng-style="{width: myPoint.convertedValue / max * 100 + '%'}" style=""></div>
	<div class="bar-display-text">{{myPoint.renderedValue}}</div>
</div>

<br>

<div class="bar-display bar-display-vertical" ng-class="{'point-disabled': !myPoint.enabled}">
	<div class="bar-display-fill" ng-style="{height: myPoint.convertedValue / max * 100 + '%'}" style=""></div>
	<div class="bar-display-text">{{myPoint.renderedValue}}</div>
</div>

</dual-pane-editor>