<h1 ma-tr="dashboards.v3.dox.buildPointArray"></h1>
<p>This is a more advanced example shonowing how to use the angular material chips components combined with
<code>&lt;ma-point-list&gt;</code> to create an editable array of points.</p>
<dual-pane-editor>

<div layout="row" ng-init="points=[]">
    <md-input-container flex class="md-block no-errors-spacer">
        <label>Add a point</label>
        <ma-point-list ng-model="point" init-point="false" ng-change="point && points.push(point); point=null"></ma-point-list>
    </md-input-container>
    <md-input-container flex="33" class="no-errors-spacer">
        <label>Time period</label>
        <ma-date-range-picker from="from" to="to" preset="LAST_5_MINUTES" update-interval="1 minutes"></ma-date-range-picker>
    </md-input-container>
</div>

<md-chips ng-model="points" name="name" readonly="true" md-max-chips="10">
    <md-chip-template ng-click="points.splice($$replacedScope.$index,1)">
        <strong>{{$chip.name}}</strong>
        <em>({{$chip.deviceName}})</em>
        <md-icon>close</md-icon>
    </md-chip-template>
</md-chips>

</dual-pane-editor>
