<h1 ma-tr="dashboards.v3.dox.buildPointArray"></h1>
<p>This is a more advanced example showing how to use the <a href="https://material.angularjs.org/latest/demo/chips" target="_blank">angular material chips</a> components combined with
<code>&lt;ma-point-list&gt;</code> to create an editable array of points.</p>

<p>
See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maPointList"><code>&lt;ma-point-list&gt;</code></a>.
</p>

<dual-pane-editor>

<div layout="row" ng-init="points=[]">
    <md-input-container flex>
        <label>Add a point</label>
        <ma-point-list limit="200" ng-model="point" init-point="false" ng-change="point && points.push(point); point=null"></ma-point-list>
    </md-input-container>
</div>

<md-chips ng-model="points" name="name" readonly="true" md-max-chips="10">
    <md-chip-template ng-click="points.splice($$replacedScope.$index,1)">
        <strong>{{$chip.name}}</strong>
        <em>({{$chip.deviceName}})</em>
        <md-icon>close</md-icon>
    </md-chip-template>
</md-chips>

</dual-pane-editor>
