<h1 ma-tr="dashboards.v3.dox.createDashboard"></h1>

<p>To create your own dashboard, copy one of the <a ui-sref="dashboard.examples.templates.angularMaterial">templates</a>
into a new folder in <code>${MA_HOME}/overrides/web/modules/dashboards/web</code> and name it <code>index.html</code>.</p>

<p>There is also a complete <em>Material Design</em> <a href="/modules/dashboards/web/adminTemplate" target="_blank">admin template</a> located at
<code>${MA_HOME}/web/modules/dashboards/web/adminTemplate</code> which you can copy into the overrides directory.
Give the folder a new name and customize the menu by editing <code>app.js</code>.</p>

<p>Once you have created a folder in overrides, your dashboard will be accessible at
<a href="/modules/dashboards/web/DASHBOARD_NAME/" target="_blank">/modules/dashboards/web/DASHBOARD_NAME/</a>.
You can change the Custom Dashboards link on the Mango menu bar to point to your new dashboard in the
<a href="/system_settings.shtm" target="_blank">System settings</a></p>

<p>Once you have a working template you can starting <a ui-sref="dashboard.examples.playArea">playing around</a> with the live
examples and copy and paste them into your template HTML file.</p>