<h1 ma-tr="dashboards.v3.dox.dailyComparisonChart"></h1>

<p>This example shows how to plot a data point for a whole week, splitting each day into a separate series so you can compare the values for each day.</p>
<p>The trick is to use multiple <code>&lt;ma-point-values&gt;</code> directives combined with the <a ui-sref="dashboard.examples.basics.filters">moment filter</a>
to get values for each day individually.
Then set the <code>time-format</code> attribute of <code>&lt;ma-serial-chart&gt;</code> to a format which doesn't show the date, only the time.</p>

<dual-pane-editor>

<div ng-init="page={rollup:'5 minutes', rollupType:'AVERAGE', week:0, values:{}}"></div>

<div layout="row">
    <md-input-container flex="">
        <label>Choose a point</label>
        <ma-point-list limit="200" ng-model="page.point"></ma-point-list>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container flex>
       <label>Select a week</label>
       
       <md-select ng-model="page.week">
          <md-option ng-value="0">This week</md-option>
          <md-option ng-value="-1">Last week</md-option>
        </md-select>
    </md-input-container>
</div>

<ma-now update-interval="1 HOURS" output="page.now"></ma-now>

<ma-point-values point="page.point" values="page.values.sunday"
  from="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'"
    to="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':1:'day'"
rollup="{{page.rollupType}}" rollup-interval="{{page.rollup}}">
</ma-point-values>

<ma-point-values point="page.point" values="page.values.monday"
  from="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':1:'day'"
    to="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':2:'day'"
rollup="{{page.rollupType}}" rollup-interval="{{page.rollup}}">
</ma-point-values>

<ma-point-values point="page.point" values="page.values.tuesday"
  from="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':2:'day'"
    to="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':3:'day'"
rollup="{{page.rollupType}}" rollup-interval="{{page.rollup}}">
</ma-point-values>

<ma-point-values point="page.point" values="page.values.wednesday"
  from="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':3:'day'"
    to="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':4:'day'"
rollup="{{page.rollupType}}" rollup-interval="{{page.rollup}}">
</ma-point-values>

<ma-point-values point="page.point" values="page.values.thursday"
  from="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':4:'day'"
    to="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':5:'day'"
rollup="{{page.rollupType}}" rollup-interval="{{page.rollup}}">
</ma-point-values>

<ma-point-values point="page.point" values="page.values.friday"
  from="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':5:'day'"
    to="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':6:'day'"
rollup="{{page.rollupType}}" rollup-interval="{{page.rollup}}">
</ma-point-values>

<ma-point-values point="page.point" values="page.values.saturday"
  from="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':6:'day'"
    to="page.now|moment:'startOf':'week'|moment:'add':page.week:'weeks'|moment:'add':7:'day'"
rollup="{{page.rollupType}}" rollup-interval="{{page.rollup}}">
</ma-point-values>

<ma-serial-chart style="height: 600px; width: 100%"
series-1-values="page.values.sunday" series-1-title="Sunday"
series-2-values="page.values.monday" series-2-title="Monday"
series-3-values="page.values.tuesday" series-3-title="Tuesday"
series-4-values="page.values.wednesday" series-4-title="Wednesday"
series-5-values="page.values.thursday" series-5-title="Thursday"
series-6-values="page.values.friday" series-6-title="Friday"
series-7-values="page.values.saturday" series-7-title="Saturday"
time-format="LTS"
 options="{legend:{}, chartCursor:{categoryBalloonDateFormat:'HH:NN'}, categoryAxis:{labelRotation:45}}">
</ma-serial-chart>

</dual-pane-editor>
