<h1 ma-tr="dashboards.v3.dox.dataSourceAndDeviceList"></h1>

<p>The <code>&lt;ma-data-source-list&gt;</code> directive displays a list of Mango data sources. The selected data source will be output to the variable specified
by the <code>ng-model</code> attribute.</p>

<p>The <code>&lt;ma-device-name-list&gt;</code> directive displays a list of Mango device names. The selected device name will be output to the variable specified
by the <code>ng-model</code> attribute.</p>

<p>There are also <code>&lt;ma-data-source-query&gt;</code> and <code>&lt;ma-device-name-query&gt;</code> directives which output an array of data source objects
and device name strings respectively.</p>

<dual-pane-editor>

<div layout="column">
    <md-input-container class="md-block no-errors-spacer">
        <label>Choose a data source</label>
        <ma-data-source-list ng-model="myDataSource"></ma-data-source-list>
    </md-input-container>

    <p>You have chosen data source "{{myDataSource.name}}". It is {{myDataSource.enabled ? 'enabled' : 'disabled'}} and has an XID of {{myDataSource.xid}}.</p>
    
    <md-input-container class="md-block no-errors-spacer">
        <label>Device names for selected data source</label>
        <ma-device-name-list ng-model="myDeviceName" data-source-xid="myDataSource.xid"></ma-device-name-list>
    </md-input-container>
    
    <md-input-container class="md-block no-errors-spacer">
        <label>Points for selected device name</label>
        <ma-point-list query="{deviceName: myDeviceName}" limit="100" ng-model="myPoint"></ma-point-list>
    </md-input-container>

    <ma-data-source-query data-sources="dataSourcesArray" query="{name: 'meter'}" limit="100"></ma-data-source-query>
    <h2>Data sources with name matching 'meter'</h2>
    <pre ng-bind="dataSourcesArray | json"></pre>
    
    <h2>Device names containing 'meter'</h2>
    <ma-device-name-query device-names="deviceNames" contains="'meter'"></ma-device-name-query>
    <pre ng-bind="deviceNames | json"></pre>
</div>

</dual-pane-editor>
