<h1 ma-tr="dashboards.v3.dox.datePresets"></h1>

<p>Use the <code>&lt;ma-date-range-picker&gt;</code> directive to insert a date range preset picker.
This enables you to choose from a list of commonly used date ranges, such as "Today so far" or "Previous week".
Set the <code>update-interval</code> attribute to have it update automatically.</p>

<p>Use the <code>&lt;ma-date-picker&gt;</code> directive to display a date/time picker, note that you can also add it as an attribute
to an existing <code>&lt;input&gt;</code> tag.</p>

<p>You can tie the <code>&lt;ma-date-range-picker&gt;</code> and <code>&lt;ma-date-picker&gt;</code> together using the <code>from</code> and <code>to</code> attributes,
and the <code>ng-model</code> attributes.</p>

<p>
See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maDatePicker"><code>&lt;ma-date-picker&gt;</code></a> and <a ui-sref="dashboard.docs.maDashboards.maDateRangePicker"><code>&lt;ma-date-range-picker&gt;</code></a>.
</p>
<dual-pane-editor>

<div layout="row" layout-xs="column" >
  <md-input-container flex>
    <label>Preset</label>
    <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="5 seconds"></ma-date-range-picker>
  </md-input-container>
  <md-input-container flex>
    <label>From date</label>
    <ma-date-picker ng-model="from"></ma-date-picker>
  </md-input-container>
  <md-input-container flex>
    <label>To date</label>
    <ma-date-picker ng-model="to"></ma-date-picker>
  </md-input-container>
</div>

<p>Alternatively use the date and time pickers individually</p>
<div layout="row">
    <mdp-date-picker mdp-placeholder="From date" mdp-open-on-click mdp-format="ll" ng-model="from"></mdp-date-picker>
	<mdp-time-picker mdp-placeholder="From time" mdp-open-on-click mdp-auto-switch="true" ng-model="from" mdp-format="LTS"></mdp-time-picker>
</div>
<div layout="row">
    <mdp-date-picker mdp-placeholder="To date" mdp-open-on-click mdp-format="ll" ng-model="to"></mdp-date-picker>
	<mdp-time-picker mdp-placeholder="To time" mdp-open-on-click mdp-auto-switch="true" ng-model="to" mdp-format="LTS"></mdp-time-picker>
</div>

<p>
    You have chosen a date range of {{ from | moment:'format':'ll LTS' }} to {{ to | moment:'format':'ll LTS' }}.
</p>

</dual-pane-editor>
