<h1 ma-tr="dashboards.v3.dox.eventsTable"></h1>

<p>
    This example shows you how to use <code>&lt;ma-events-table&gt;</code> to display a filterable table of events.
    A large amount of the markup below is for the dropdown controls for setting the filter options. Alternatively you can use <code>&lt;ma-events-table&gt;</code>
    and hard code the event filters as shown on the <code>API Doc</code> for this component.
</p>

<p>
    Add <code>single-point</code> and <code>point-id</code> attributes to display events for just a single Data Point.
</p>

<p>
    See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maEventsTable"><code>&lt;ma-events-table&gt;</code></a>.
</p>

<dual-pane-editor>
<md-card>
    
    <md-toolbar class="md-whiteframe-1dp md-hue-3">
        <div class="md-toolbar-tools">
            <h2 flex>
                  <span>Events Table</span>
                </h2>
            <div>
                <md-button class="md-raised md-primary md-hue-1" ng-init="eventType='*'" ng-class="{ 'active md-accent': eventType === '*' }" ng-click="eventType='*'">All</md-button>
                <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': eventType === 'DATA_POINT' }" ng-click="eventType='DATA_POINT'">Data Point</md-button>
                <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': eventType === 'DATA_SOURCE' }" ng-click="eventType='DATA_SOURCE'">Data Source</md-button>
                <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': eventType === 'SYSTEM' }" ng-click="eventType='SYSTEM'">System</md-button>
            </div>
        </div>
    </md-toolbar>
    
    <md-card-actions layout="row" layout-align="start center" layout-wrap="">
        <md-input-container flex="">
            <label>Alarm Level</label>
            <md-select ng-model="alarmLevel" ng-init="alarmLevel='*'">
                <md-option value="*">All <i class="fa fa-flag fa-lg alarm-flag ALL"></i></md-option>
                <md-option value="NONE">None <i class="fa fa-flag fa-lg alarm-flag NONE"></i></md-option>
                <md-option value="INFORMATION">Information <i class="fa fa-flag fa-lg alarm-flag INFORMATION"></i></md-option>
                <md-option value="URGENT">Urgent <i class="fa fa-flag fa-lg alarm-flag URGENT"></i></md-option>
                <md-option value="CRITICAL">Critical <i class="fa fa-flag fa-lg alarm-flag CRITICAL"></i></md-option>
                <md-option value="LIFE_SAFETY">Safety <i class="fa fa-flag fa-lg alarm-flag LIFE_SAFETY"></i></md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="">
            <label>Active Status</label>
            <md-select ng-model="activeStatus" ng-init="activeStatus='*'">
                <md-option value="*">All</md-option>
                <md-option value="active">Active</md-option>
                <md-option value="noRtn">No Return</md-option>
                <md-option value="normal">Returned to Normal</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="">
            <label>Acknowledged</label>
            <md-select ng-model="acknowledged" ng-init="acknowledged='*'">
                <md-option value="*">All</md-option>
                <md-option value="true">True</md-option>
                <md-option value="false">False</md-option>
            </md-select>
        </md-input-container>
    </md-card-actions>
    
    <ma-events-table event-type="eventType" alarm-level="alarmLevel" acknowledged="acknowledged" event-id="eventId" active-status="activeStatus" limit="10" sort="'-alarmLevel'"></ma-events-table>

</md-card>
</dual-pane-editor>