<h1 ma-tr="dashboards.v3.dox.extendApp"></h1>

<p>You can extend the AngularJS application and add your own directives, filters and functions to the root scope.
You will need to change the <code>require</code> line at the bottom of the file to suit the name of the folder
you create in overrides.</p>

<p>The JavaScript also contains a commented section that shows how to auto-login before bootstrapping the application.</p>

<p>Some constants that you may want to define on your app are:</p>
<ul>
  <li><strong>mangoBaseUrl</strong> &ndash; define the Mango base URL if you are displaying data from a remote Mango instance, i.e. not localhost</li>
  <li><strong>mangoTimeout</strong> &ndash; define REST API call timeout in ms</li>
  <li><strong>mangoWatchdogTimeout</strong> &ndash; <a ui-sref="dashboard.examples.utilities.watchdog">watchdog</a> timeout in ms</li>
  <li><strong>mangoReconnectDelay</strong> &ndash; time in ms before trying a reconnect if watchdog fails</li>
  <li><strong>mangoDefaultDateFormat</strong> &ndash; default Moment.js date format used by the app</li>
  <li><strong>maDashboardsInsertCss</strong> &ndash; if false, directives don't automatically insert CSS into the page</li>
</ul>

<p><a href="../templates/extendApp.js" target="_blank">Click here to view the javascript.</a><br>
<a href="../templates/extendApp.html" target="_blank">Click here to view the page.</a></p>

<md-card>
    <md-card-content layout="column">
        <div flex>
            <div style="height:400px" live-editor="template1" src="../templates/extendApp.html"></div>
        </div>
    </md-card-content>
</md-card>