<h1 ma-tr="dashboards.v3.dox.filters"></h1>

<p>We can use <a href="https://docs.angularjs.org/guide/filter" target="_blank">AngularJS filters</a> to format interpolated values and manipulate values.
    Filters in the HTML always follow the <code ng-non-bindable>{{ expression | filter }}</code> syntax.
    The standard AngularJS filters are available such as <code>number</code> and <code>currency</code> as well as custom filters included with the Dashboards v3 module.</p>

<p>Custom filters include <code>moment</code> and <code>duration</code> for using
<a href="http://momentjs.com/" target="_blank">Moment.js</a> to manipulate dates and durations.</p>

<dual-pane-editor>

<md-input-container class="md-block no-errors-spacer">
    <label>Choose a point</label>
    <ma-point-list limit="200" ng-model="myPoint"></ma-point-list>
</md-input-container>

<ma-get-point-value point="myPoint"></ma-get-point-value>

<p>The raw point value is {{myPoint.value}} at epoch timestamp {{myPoint.time}}.</p>
<p>The formatted point value is {{myPoint.value | number:2}} at time {{myPoint.time | moment:'format':'ll LTS'}}.</p>
<p ng-init="price=1234.565">The price is {{price | currency}}.</p>
<p>The time now as an ISO formatted string is {{'now' | moment:'toISOString'}}.</p>
<p ng-init="timeTaken=67223455">{{timeTaken}}ms is {{timeTaken|duration:'humanize'}}</p>
<p>The first day of the month was a {{'now' | moment:'startOf':'month' | moment:'format':'dddd'}}.</p>
<p>Three days from now is {{'now' | moment:'add':3:'days' | moment:'format':'LLL'}}.</p>

</dual-pane-editor>
