<h1 ma-tr="dashboards.v3.dox.lineChart"></h1>
<p>
    With v3.x of the dashboards module, we continue to use <a href="https://docs.amcharts.com/3/javascriptcharts/AmSerialChart">AmCharts</a>
    but have provided an easy to use angular directive.</p>
    <p>
    With <code>&lt;ma-serial-chart&gt;</code> you pass the point and value via
    <a ui-sref="dashboard.examples.basics.pointValues">&lt;ma-point-values&gt;</a>. You can provide your time range and
    rollup settings to <code>&lt;ma-point-values&gt;</code>, then pass the values data to <code>&lt;ma-serial-chart&gt;</code>.

</p>

<p>
See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maSerialChart"><code>&lt;ma-serial-chart&gt;</code></a> and <a ui-sref="dashboard.docs.maDashboards.maPointValues"><code>&lt;ma-point-values&gt;</code></a>.
</p>

<dual-pane-editor>

<div layout="row">
    <md-input-container flex>
        <label>Choose a point</label>
        <ma-point-list limit="200" ng-model="point1"></ma-point-list>
    </md-input-container>
</div>

<div layout="row" layout-xs="column" class="no-errors-spacer">
    <md-input-container flex>
       <label>Date preset</label>
       <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="1 minutes"></ma-date-range-picker>
    </md-input-container>
    <md-input-container flex>
       <label>From date</label>
       <ma-date-picker ng-model="from"></ma-date-picker>
    </md-input-container>
    <md-input-container flex>
        <label>To date</label>
        <ma-date-picker ng-model="to"></ma-date-picker>
    </md-input-container>
</div>

<ma-point-values point="point1" values="point1Values" from="from" to="to" rollup="AVERAGE" auto-rollup-interval="true">
</ma-point-values>

<ma-serial-chart style="height: 300px; width: 100%" series-1-values="point1Values" series-1-point="point1" legend="true" balloon="true" export="true">
</ma-serial-chart>

</dual-pane-editor>
