<h1 class="page-header" ma-tr="dashboards.v3.dox.liveUpdatingChart"></h1>

<dual-pane-editor>

<div layout="column">
  <md-input-container class="md-block">
    <label>Choose a point</label>
    <ma-point-list ng-model="point1"></ma-point-list>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Values to display</label>
    <input type="number" ng-model="count" ng-init="count=100">
  </md-input-container>
</div>

<ma-point-values point="point1" values="point1Values" latest="count">
</ma-point-values>

<ma-serial-chart style="height: 300px; width: 100%" series-1-values="point1Values" series-1-point="point1">
</ma-serial-chart>

</dual-pane-editor>
