<h1 ma-tr="dashboards.v3.dox.multistateRadio"></h1>
<p>This example showcases using angular material <a href="https://material.angularjs.org/latest/demo/radioButton" target="_blank">radio button components</a> to set the
value of multistate data points. Set the <code>ng-model</code> to the points <code>valueFn</code> property and
set <code ng-nonbinding>ng-model-options="{getterSetter:true}"</code>.
</p>
<p>The first example shows how to loop through the text renderer map of the multistate point to get the various
options. The second example shows how to use fixed values of 1-5.</p>
<dual-pane-editor>

<md-input-container class="md-block">
    <label>Choose a point</label>
    <ma-point-list limit="200" ng-model="myPoint"></ma-point-list>
</md-input-container>

<p><strong>Point value:</strong> <ma-point-value point="myPoint"></ma-point-value></p>

<h3>Using multistate/binary text renderer to get options</h3>
<md-radio-group ng-model="myPoint.valueFn" ng-model-options="{getterSetter:true}">
    <md-radio-button ng-repeat="value in myPoint.rendererMap()" ng-value="value.key" ng-style="value">{{value.text}}</md-radio-button>
</md-radio-group>

<h3>Using fixed values</h3>
<md-radio-group ng-model="myPoint.valueFn" ng-model-options="{getterSetter:true}">
    <md-radio-button ng-repeat="i in range(1,5)" value="{{i}}" ng-style="myPoint.valueRenderer(i)">{{myPoint.valueRenderer(i).text}}</md-radio-button>
</md-radio-group>

</dual-pane-editor>
