<h1 ma-tr="dashboards.v3.dox.pagesAndMenu"></h1>

<p>
	Under Admin tools > <a ui-sref="dashboard.admin.editPages">Edit Pages</a> you will find the page editor tool. You can use this tool to manage all of your custom pages, including creating new pages, setting permissions, deleting pages and modifying a
	pages menu item. You will need to enter the HTML into the code editor on the left. You will see a live preview on the right as you enter code. At any time you can save and view the page in full screen.
</p>
<p> A quick way to get started is to click the
	<code>Copy markup to new custom page</code> link from any of the example pages. You can then give the page a name, and hit save. You can then add a menu item for your new custom page by clicking the <code>ADD/EDIT MENU ITEM</code> button.
	</thead>
</p>

<p>
	You will then want to give the menu item a parent item, state URL, menu text, and menu icon. The entire menu is completely customizatble from the Admin tools > <a ui-sref="dashboard.admin.editMenu">Edit Menu</a> page. You can hide/show menu items, edit
	menu item text and icons, reorder menu items, add new menu items and delete custom menu items.
</p>

<h2>Permissions</h2>
<p>By default, all pages that are created can be viewed by all users and require the user to have the <strong>edit-pages</strong> permission to edit them. If you want to restrict the pages to be viewable only by
admin users, change the read permission to <strong>superadmin</strong>.</p>
<p>Users with the <strong>edit-menus</strong> permission can edit the menus. When editing the menu items you can set a permission for each menu item, if the user does not have this permission then the
menu item will not be shown.</p>