<h1 ma-tr="dashboards.v3.dox.pageTemplate"></h1>

<p>These are some basic templates which loads the necessary JavaScript files in order to use
the Mango v3 Dashboards.</p>

<div layout="row" layout-wrap>
    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><a href="https://material.angularjs.org/" target="_blank">Angular Material</a> template</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <div flex>
                    <div style="height:400px" live-editor="template1" src="views/examples/angularMaterialTemplate.html" target="_blank"></div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a> Template</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div style="height:400px" live-editor="template2" src="views/examples/bootstrapTemplate.html" target="_blank"></div>
            </md-card-content>
        </md-card>
    </div>
</div>
