<h1 ma-tr="dashboards.v3.dox.pointValues"></h1>

<p>
      The <code>&lt;ma-point-values&gt;</code> returns an array of historical values on a data point to its <code>values</code> attribute. <code>&lt;ma-point-values&gt;</code> is passed a <code>to</code> &amp; <code>from</code> value the date picker directives.
      Additionally, <code>rollup</code> &amp; <code>rollup-interval</code> is used to rollup the data to the average value over every past minute.
</p>

<p>
      The resulting array of data is stored in <code>point1Values</code>. To display this data we are using a table and <code>ng-repeat</code> to loop
      through the results and stamp out a table row for each value in the array. Angular's <a href="http://www.w3schools.com/angular/ng_ng-repeat.asp" target="_blank">ng-repeat</a> is fundamental angular directive. 
</p>

<dual-pane-editor>

<div layout="row">
      <md-input-container flex="" class="no-errors-spacer">
            <label>Choose a point</label>
            <ma-point-list limit="200" ng-model="point1"></ma-point-list>
      </md-input-container>
</div>

<div layout="row">
      <md-input-container flex="33" class="no-errors-spacer">
            <label>Date preset</label>
            <ma-date-range-picker from="from" to="to" preset="LAST_15_MINUTES" update-interval="1 minutes"></ma-date-range-picker>
      </md-input-container>
      <md-input-container flex="33" class="no-errors-spacer">
            <label>From date</label>
            <ma-date-picker ng-model="from"></ma-date-picker>
      </md-input-container>
      <md-input-container flex="33" class="no-errors-spacer">
            <label>To date</label>
            <ma-date-picker ng-model="to"></ma-date-picker>
      </md-input-container>
</div>

<ma-point-values point="point1" values="point1Values" from="from" to="to" rollup="AVERAGE" rollup-interval="1 minutes">
</ma-point-values>

<p>There are {{point1Values.length}} rows to display.</p>


<md-table-container ng-init="page.tableOrder='time'">
      <table md-table="">
            <thead md-head="">
                  <tr>
                        <th md-column="">TimeStamp</th>
                        <th md-column="">Point Value</th>
                  </tr>
            </thead>
            <tbody md-body="">
                  <tr ng-repeat="value in point1Values">
                        <td md-cell="">{{value.timestamp | moment:'format':'ll LTS'}}</td>
                        <td md-cell="">{{value.value}}</td>
                  </tr>
            </tbody>
      </table>
</md-table-container>

</dual-pane-editor>
