<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" ma-tr="dashboards.v3.dox.pointArrayTable"></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<dual-pane-editor>

<div class="form-group col-md-6">
	<label>Data source name</label>
    <input class="form-control" ng-init="dsName='myDevice'" ng-model="dsName" ng-model-options="{debounce:1000}">
</div>

<div class="form-group col-md-6">
	<label>Point name</label>
    <input class="form-control" ng-init="ptName='myPoint'" ng-model="ptName" ng-model-options="{debounce:1000}">
</div>

<div class="form-group col-md-12">
	<label>Time period</label>
    <ma-date-range-picker class="form-control" from="from" to="to" preset="LAST_5_MINUTES" update-interval="1 minutes"></ma-date-range-picker>
</div>

<ma-point-query query="dataSourceName=like=*{{dsName}}*&name=like=*{{ptName}}*" points="points"></ma-point-query>

<ma-point-values points="points" values="combined" from="from" to="to" rollup="AVERAGE" rollup-interval="1 minutes">
</ma-point-values>

<table class="table">
	<thead>
		<tr>
			<th>Time</th>
			<th ng-repeat="point in points">{{point.name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="value in combined">
			<td>{{value.timestamp | moment:'format':'ll LTS'}}</td>
			<td ng-repeat="point in points">{{value['value_' + point.xid]}}</td>
		</tr>
	</tbody>
</table>

</dual-pane-editor>
