<h1 ma-tr="dashboards.v3.dox.pointArrayTable"></h1>
<p>
  This is another more advanced example. The key component to pay attention to is
<code>&lt;ma-point-query&gt;</code> directive. This directive allows you to do server-side
searching and filtering for points on your Mango. The <code>limit</code> attr allows you to
limit the number of points returned.
</p>
<p>
  The <code>points</code> attribute returns an array that you can loop over with <code>ng-repeat</code>
  as in this example.
</p>
<p>
  The list of <code>points</code> outputted from <code>&lt;ma-point-query&gt;</code> is inputted into <code>&lt;ma-point-values&gt;</code> <code>points</code> property
  (plural points property takes an array of points). The combined values are then looped over in the table.
</p>

<p>
See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maPointQuery"><code>&lt;ma-point-query&gt;</code></a> and <a ui-sref="dashboard.docs.maDashboards.maPointValues"><code>&lt;ma-point-values&gt;</code></a>.
</p>
<dual-pane-editor>
<div layout="row">
    <md-input-container flex="33">
        <label>Device name</label>
        <input ng-init="dvName=''" ng-model="dvName" ng-model-options="{debounce:1000}">
    </md-input-container>
    <md-input-container flex="33">
        <label>Point name</label>
        <input ng-init="ptName=''" ng-model="ptName" ng-model-options="{debounce:1000}">
    </md-input-container>
    <md-input-container flex="33">
        <label>Time period</label>
        <ma-date-range-picker from="from" to="to" preset="LAST_5_MINUTES" update-interval="1 minutes"></ma-date-range-picker>
    </md-input-container>
</div>

<ma-point-query query="{$and: true, deviceName:dvName, name:ptName}" limit="5" points="points"></ma-point-query>

<ma-point-values points="points" values="combined" from="from" to="to" rollup="AVERAGE" rollup-interval="1 minutes">
</ma-point-values>

<p></p><em>Only the first 5 points matching points are shown.</em></p>

<md-table-container ng-init="tableOrder='timestamp'">
  <table md-table>
    <thead md-head md-order="tableOrder">
      <tr>
          <th md-column md-order-by="timestamp">Time</th>
          <th md-column md-order-by="value_{{point.xid}}" ng-repeat="point in points">{{point.name}}</th>
        </tr>
    </thead>
    <tbody md-body>
      <tr ng-repeat="value in combined | orderBy: tableOrder">
          <td>{{value.timestamp | moment:'format':'ll LTS'}}</td>
          <td ng-repeat="point in points">{{value['value_' + point.xid]}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
</dual-pane-editor>
