<h1 ma-tr="dashboards.v3.dox.pointList"></h1>

<p>The <code>&lt;ma-point-list&gt;</code> directive displays a list of data points which you can select from.</p>

<p>You can use the <code>query</code> attribute to filter the list of points using <a href="http://www.persvr.org/rql/">RQL</a>.</p>

<dual-pane-editor>

<div layout="column">
    <md-input-container class="md-block no-errors-spacer">
        <label>Choose a point</label>
        <ma-point-list ng-model="myPoint" class="form-control"></ma-point-list>
    </md-input-container>
    
    <p>You have chosen point "{{myPoint.name}}". It is {{myPoint.enabled ? 'enabled' : 'disabled'}} and belongs to device {{myPoint.deviceName}}</p>
    
    <md-input-container class="md-block no-errors-spacer">
        <label>Search by point name</label>
        <input ng-model="nameFilter" ng-model-options="{debounce:500}" class="form-control">
    </md-input-container>
    
    <md-input-container class="md-block no-errors-spacer">
        <label>Filtered point list</label>
        <ma-point-list ng-model="myPoint2" class="form-control" query="name=like=*{{nameFilter}}*"></ma-point-list>
    </md-input-container>
</div>

</dual-pane-editor>
