<h1 ma-tr="dashboards.v3.dox.pointValues"></h1>

<dual-pane-editor>

<div layout="row">
    <md-input-container flex class="no-errors-spacer">
        <label>Choose a point</label>
        <ma-point-list ng-model="point1"></ma-point-list>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container flex="33" class="no-errors-spacer">
       <label>Date preset</label>
       <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="1 minutes"></ma-date-range-picker>
    </md-input-container>
    <md-input-container flex="33" class="no-errors-spacer">
       <label>From date</label>
       <ma-date-picker ng-model="from"></ma-date-picker>
    </md-input-container>
    <md-input-container flex="33" class="no-errors-spacer">
        <label>To date</label>
        <ma-date-picker ng-model="to"></ma-date-picker>
    </md-input-container>
</div>

<ma-point-values point="point1" values="point1Values"
	from="from" to="to"
	rollup="AVERAGE" rollup-interval="1 minutes">
</ma-point-values>

<p>There are {{point1Values.length}} rows to display.</p>

<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="value in point1Values">
			<td>{{value.timestamp | moment:'format':'ll LTS'}}</td>
			<td>{{value.value}}</td>
		</tr>
	</tbody>
</table>

</dual-pane-editor>
