<h1 ma-tr="dashboards.v3.dox.input"></h1>
<p>
    The <code>&lt;ma-set-point-value&gt;</code> directive will create a form input element to set
    the value of a point. It can handle numeric, binary, and multistate point types and will create
    an appropriate interface element for each point type.
</p>
<p>
    Alternatively you can set the value of a point by calling the <code>setValue</code> method on a point.
    This function can be called from withing a <code>ng-click</code> expression for example.
</p>
<dual-pane-editor>

<ma-get-point-value point="myPoint"></ma-get-point-value>

<md-input-container class="md-block">
    <label>Choose a point</label>
    <ma-point-list limit="200" ng-model="myPoint"></ma-point-list>
</md-input-container>

<h3>Using &lt;ma-set-point-value&gt;</h3>
<ma-set-point-value point="myPoint"></ma-set-point-value>

<h3>Via function</h3>
<md-button ng-click="myPoint.setValue(5)" class="md-raised">Set to 5</md-button>

</dual-pane-editor>
