<h1 ma-tr="dashboards.v3.dox.stateChart"></h1>
<p><code>&lt;ma-state-chart&gt;</code> show the proportion of time over a time range a multistate or binary data point has been in a particular state.</p>

<p>
    See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maStateChart"><code>&lt;ma-state-chart&gt;</code></a>.
</p>

<dual-pane-editor>

<div layout="row" layout-xs="column" class="no-errors-spacer">
    <md-input-container flex>
       <label>From date</label>
       <ma-date-range-picker from="from" to="to" preset="LAST_5_MINUTES" update-interval="1 minutes"></ma-date-range-picker>
    </md-input-container>
    <md-input-container flex>
        <label>Multi-state point 1</label>
        <ma-point-list limit="200" ng-model="point1"></ma-point-list>
    </md-input-container>
    <md-input-container flex>
        <label>Multi-state point 2</label>
        <ma-point-list limit="200" ng-model="point2"></ma-point-list>
    </md-input-container>
</div>

<ma-point-values point="point1" values="point1Values" from="from" to="to">
</ma-point-values>
<ma-point-values point="point2" values="point2Values" from="from" to="to">
</ma-point-values>

<ma-state-chart style="height: 500px; width: 100%"
	series-1-title="{{point1.name}}" series-1-values="point1Values" series-1-labels="point1.rendererMap()"
	series-2-title="{{point2.name}}" series-2-values="point2Values" series-2-labels="point2.rendererMap()">
</ma-state-chart>

</dual-pane-editor>
