<h1 ma-tr="dashboards.v3.dox.statisticsTable"></h1>
<p><code>&lt;ma-statistics-table&gt;</code> will simply display a nicely formatted table with the values and timestamps from the statsObj.</p>

<p>
See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maPointStatistics"><code>&lt;ma-point-statistics&gt;</code></a> and <a ui-sref="dashboard.docs.maDashboards.maStatisticsTable"><code>&lt;ma-statistics-table&gt;</code></a>.
</p>

<dual-pane-editor>

<div layout="row">
    <md-input-container flex>
        <label>Choose a point</label>
        <ma-point-list limit="200" ng-model="myPoint"></ma-point-list>
    </md-input-container>
</div>

<div layout="row" layout-xs="column" class="no-errors-spacer">
    <md-input-container flex>
       <label>Date preset</label>
       <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="1 minutes"></ma-date-range-picker>
    </md-input-container>
    <md-input-container flex>
       <label>From date</label>
       <ma-date-picker ng-model="from"></ma-date-picker>
    </md-input-container>
    <md-input-container flex>
        <label>To date</label>
        <ma-date-picker ng-model="to"></ma-date-picker>
    </md-input-container>
</div>

<ma-point-statistics point="myPoint" from="from" to="to" statistics="statsObj"></ma-point-statistics>

<ma-statistics-table statistics="statsObj"></ma-statistics-table>

</dual-pane-editor>
