<h1 ma-tr="dashboards.v3.dox.tanks"></h1>

<p>Note you must give the tank a width and height, and you must use a <code>&lt;ma-get-point-value&gt;</code> tag to get the value.</p>

<p>Please see <a href="styles/examples.css">the examples.css file</a> for the CSS styles used for the pipe animations.</p>

<dual-pane-editor>

<div class="form-group">
	<label>Point for tank 1</label>
	<ma-point-list ng-model="myPoint" class="form-control"></ma-point-list>
</div>

<div class="form-group">
	<label>Point for tank 2</label>
	<ma-point-list ng-model="myPoint2" class="form-control"></ma-point-list>
</div>

<div class="form-group">
	<label>Maximum value</label>
	<input type="number" ng-model="max" ng-init="max=100" class="form-control">
</div>

<div class="form-group">
	<label>Tank color</label>
	<input type="color" ng-model="choosenColor" ng-init="choosenColor='#ff4d4d'" class="form-control">
</div>

<ma-get-point-value point="myPoint" display-type="none"></ma-get-point-value>
<ma-get-point-value point="myPoint2" display-type="none"></ma-get-point-value>

<div style="position:relative; height: 200px">
	<ma-tank-level point="myPoint" color="{{choosenColor}}" max="{{max}}" style="width:300px; height:200px; position:absolute; top:0; left:0px; z-index:2"></ma-tank-level>
	<div class="pipe-left-right" ng-style="{'background-color':choosenColor}" style="position:absolute; top:160px; left:180px; width: 250px; z-index: 1"></div>
	<ma-tank-level point="myPoint2" color="{{choosenColor}}" max="{{max}}" style="width:300px; height:200px; position:absolute; top:0; left:400px; z-index:2"></ma-tank-level>
</div>

</dual-pane-editor>