<h1 ma-tr="dashboards.v3.dox.tanks"></h1>

<p>An example of the <code>&lt;ma-tank-level&gt;</code> directive which internally uses SVG to create a custom data visualization.</p>

<p>
    Note you must give the tank a width and height, and you must use a <code>&lt;ma-get-point-value&gt;</code> tag to get the value.
</p>

<p>Please see <a href="../js/mango-3.0/maDashboards.css" target="_blank">maDashboards.css</a> for the CSS classes used for the
pipe animation used in this example.</p>

<dual-pane-editor>

<div layout="row">
    <md-input-container flex="50" class="no-errors-spacer">
        <label>Point for tank 1</label>
        <ma-point-list ng-model="myPoint"></ma-point-list>
    </md-input-container>
    <md-input-container flex="50" class="no-errors-spacer">
        <label>Point for tank 2</label>
        <ma-point-list ng-model="myPoint2"></ma-point-list>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container flex="50" class="no-errors-spacer">
	   <label>Maximum value</label>
	   <input type="number" ng-model="max" ng-init="max=100">
    </md-input-container>
    <md-input-container flex="50" class="no-errors-spacer">
	   <label>Tank color</label>
	   <input type="color" ng-model="choosenColor" ng-init="choosenColor='#ff4d4d'">
    </md-input-container>
</div>

<ma-get-point-value point="myPoint" display-type="none"></ma-get-point-value>
<ma-get-point-value point="myPoint2" display-type="none"></ma-get-point-value>

<div style="position:relative; height: 200px">
	<ma-tank-level point="myPoint" color="{{choosenColor}}" max="{{max}}" style="width:300px; height:200px; position:absolute; top:0; left:0px; z-index:2"></ma-tank-level>
	<div class="pipe-left-right" ng-style="{'background-color':choosenColor}" style="position:absolute; top:160px; left:180px; width: 250px; z-index: 1"></div>
	<ma-tank-level point="myPoint2" color="{{choosenColor}}" max="{{max}}" style="width:300px; height:200px; position:absolute; top:0; left:400px; z-index:2"></ma-tank-level>
</div>

</dual-pane-editor>
