<h1 ma-tr="dashboards.v3.dox.templating"></h1>

<p>This example uses some hard-coded device and points names. You will need to import the example virtual data sources <a href="../private/demoMangoConfig.json" target="_blank">from this JSON file</a> for it to work.</p>

<dual-pane-editor>

<div layout="row">
  <md-input-container class="no-errors-spacer">
    <label>Preset</label>
    <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="15 minutes"></ma-date-range-picker>
  </md-input-container>
  <md-input-container class="no-errors-spacer" flex>
    <label>From date</label>
    <ma-date-picker ng-model="from"></ma-date-picker>
  </md-input-container>
  <md-input-container class="no-errors-spacer" flex>
    <label>To date</label>
    <ma-date-picker ng-model="to"></ma-date-picker>
  </md-input-container>
</div>

<div layout="row">
    <md-input-container flex class="no-errors-spacer">
        <label>Choose a device</label>
        <md-select ng-model="deviceName" ng-init="deviceName='Meter 1'">
    	    <md-option ng-value="'Meter 1'">Meter 1</md-option>
    	    <md-option ng-value="'Meter 2'">Meter 2</md-option>
    	    <md-option ng-value="'Meter 3'">Meter 3</md-option>
    	</md-select>
    </md-input-container>
</div>

<!-- Server side query for points with given device name, and server side sort -->
<ma-point-query query="{deviceName:deviceName}" sort="'name'" points="points"></ma-point-query>
<ma-get-point-value points="points"></ma-get-point-value>

<!-- Client side filter by name -->
<ma-calc input="points | filter:{name:'Energy Accumulator (kWh)'} | first" output="energy"></ma-calc>
<ma-calc input="points | filter:{name:'Current Phase ' + phase + ' (A)'} | first" output="current"></ma-calc>
<ma-calc input="points | filter:{name:'Voltage ' + phase + '-N (V)'} | first" output="voltage"></ma-calc>
<ma-calc input="points | filter:{name:'Real Power ' + phase + ' (kW)'} | first" output="power"></ma-calc>
<ma-calc input="points | filter:{name:'Power Factor ' + phase + ''} | first" output="powerFactor"></ma-calc>

<h1>Details for {{deviceName}}</h1>
<p>There are {{points.length}} points for {{deviceName}}.</p>

<h2>Gauges</h2>

<div layout="row">
    <md-input-container flex class="no-errors-spacer">
        <label>Choose a phase</label>
        <md-select ng-model="phase" ng-init="phase='A'">
            <md-option ng-value="'A'">Phase A</md-option>
            <md-option ng-value="'B'">Phase B</md-option>
            <md-option ng-value="'C'">Phase C</md-option>
        </md-select>
    </md-input-container>
</div>

<div layout="row" layout-wrap>
	<div flex="50" layout="column" layout-align="center center">
		<strong>Current</strong>
		<ma-gauge-chart point="current" start="0"
		band-1-end="100" band-1-color="green"
		band-2-end="150" band-2-color="yellow"
		band-3-end="300" band-3-color="red"
		style="width:100%; height:200px"></ma-gauge-chart>
	</div>
	<div flex="50" layout="column" layout-align="center center">
		<strong>Voltage</strong>
		<ma-gauge-chart point="voltage" start="0"
		band-1-end="180" band-1-color="red"
		band-2-end="250" band-2-color="yellow"
		band-3-end="300" band-3-color="green"
		style="width:100%; height:200px"></ma-gauge-chart>
	</div>
	<div flex="50" layout="column" layout-align="center center">
		<strong>Power</strong>
		<ma-gauge-chart point="power" start="0"
		band-1-end="100" band-1-color="green"
		band-2-end="150" band-2-color="yellow"
		band-3-end="200" band-3-color="red"
		style="width:100%; height:200px"></ma-gauge-chart>
	</div>
	<div flex="50" layout="column" layout-align="center center">
		<strong>Power Factor</strong>
		<ma-gauge-chart point="powerFactor" start="0"
		band-1-end="0.3" band-1-color="red"
		band-2-end="0.8" band-2-color="yellow"
		band-3-end="1" band-3-color="green"
		style="width:100%; height:200px"></ma-gauge-chart>
	</div>
</div>

<ma-point-values point="energy" values="energyValues" from="from" to="to"
    rollup="DELTA" rollup-interval="1 hours"
></ma-point-values>

<h2>Energy</h2>
<ma-serial-chart series-1-point="energy" series-1-values="energyValues" series-1-type="column"
style="height:200px; width:100%">
</ma-serial-chart>

<h2>All points for device:</h2>
<div ng-repeat="pt in points">
    <label>{{pt.name}}: </label> {{pt.renderedValue}}
</div>
</dual-pane-editor>
