<h1 ma-tr="dashboards.v3.dox.toggle"></h1>

<dual-pane-editor>


<div class="form-group">
	<label>Choose a point</label>
	<ma-point-list ng-model="myPoint" class="form-control"></ma-point-list>
</div>

<div class="form-group">
	<label>Rendered point value</label>
	<p class="form-control-static">
        <ma-point-value point="myPoint"></ma-point-value>
    </p>
</div>


<div class="form-group">
	<label>Image toggle</label>
	<p class="form-control-static">
        <ma-switch-img point="myPoint" ng-click="myPoint.toggleValue()" src-false="img/ligthbulb_off.png" src-true="img/ligthbulb_on.png" default-src="img/close.png">
        </ma-switch-img>
	</p>
</div>

<div class="form-group">
	<label>Angular Bootstrap toggle button</label>
	<p class="form-control-static">
	    <button type="button" class="btn btn-primary" uib-btn-checkbox ng-model="myPoint.valueFn" ng-model-options="{getterSetter:true}">
        	Toggle
        </button>
	</p>
</div>

<div class="form-group">
	<label>Checkbox</label>
	<p class="form-control-static">
	    <input type="checkbox" ng-model="myPoint.valueFn" ng-model-options="{getterSetter:true}">
    </p>
</div>

</dual-pane-editor>
