<h1 ma-tr="dashboards.v3.dox.toggle"></h1>
<p>
    Binary data points can be set using various methods, some of which are shown below.
    The <code>toggleValue()</code> method can be used on a point, which works great via
    a <code>ng-click</code> on a <code>&lt;ma-switch-img&gt;</code> directive.
</p>
<p>
    HTML checkbox and angular material switch components can be used as well.
    Set the <code>ng-model</code> to the points <code>valueFn</code> property and
    set <code ng-nonbinding>ng-model-options="{getterSetter:true}"</code>.
</p>
<dual-pane-editor>

<div layout="column">
    <md-input-container class="md-block">
        <label>Choose a point</label>
        <ma-point-list limit="200" ng-model="myPoint"></ma-point-list>
    </md-input-container>
    <div>
        <strong>Rendered point value:</strong>
        <ma-point-value point="myPoint"></ma-point-value>
    </div>
    <div>
        <strong>Image toggle:</strong>
        <ma-switch-img point="myPoint" ng-click="myPoint.toggleValue()"
            src-false="img/ligthbulb_off.png"
            src-true="img/ligthbulb_on.png"
            default-src="img/close.png">
        </ma-switch-img>
    </div>
    <md-switch ng-model="myPoint.valueFn" ng-model-options="{getterSetter:true}">
        Point value: {{ myPoint.value }}
    </md-switch>
    <md-checkbox ng-model="myPoint.valueFn" ng-model-options="{getterSetter:true}">
        Point value: {{ myPoint.value }}
    </md-checkbox>
    <div>
        <label><input type="checkbox" ng-model="myPoint.valueFn" ng-model-options="{getterSetter:true}"> Plain checkbox</label>
    </div>
</div>

</dual-pane-editor>
