<h1 ma-tr="dashboards.v3.dox.translation"></h1>
<p>Add a <code>ma-tr</code> attribute to any HTML element to replace its contents with the translation.</p>

<p>
See API Documentation for <a ui-sref="dashboard.docs.maDashboards.maTr"><code>ma-tr</code></a>.
</p>

<dual-pane-editor>

<p>The translation for <code>header.title</code> is <em ma-tr="header.title"></em></p>
<p>The translation for <code>common.user.userDisabled</code>, using a single argument, is <em ma-tr="common.user.userDisabled" ma-tr-args="['joebloggs']"></em></p>
<p>The translation for <code>validate.between</code>, using 2 arguments, is <em ma-tr="validate.between" ma-tr-args="[0, 100]"></em></p>

</dual-pane-editor>
