<h1 ma-tr="dashboards.v3.dox.watchdog"></h1>
<p>There is a watchdog timer which resets every time an API response or WebSocket frame is received. Check the value of
<code>mangoWatchdog.loggedIn</code> to see if the watchdog timer has timed out.</p>
<p>If your page template is setup to display a message when the watchdog times out then you may want to call
<code>mangoWatchdog.disable()</code> on pages which do not make repeated requests.</p>

<p>
See API Documentation for the <a ui-sref="dashboard.docs.maServices.mangoWatchdog"><code>mangoWatchdog</code></a> service.
</p>

<dual-pane-editor>

<div ng-if="mangoWatchdog.loggedIn">
    <strong>Good</strong> Connection to Mango is OK.
</div>

<div ng-if="!mangoWatchdog.loggedIn">
    <strong>Failure</strong> Connection to Mango has failed.
</div>

</dual-pane-editor>
