<h1 ma-tr="dashboards.v3.dox.watchdog"></h1>
<p>There is a watchdog service which periodically pings an API endpoint to check if the Mango API is up and if
the user is logged in.</p>
<p>The mangoWatchdog object is on the root scope, you can check <code>mangoWatchdog.apiUp</code> to see if the API is up
and <code>mangoWatchdog.loggedIn</code> to see if the user is logged in. There is also a more detailed status string
available at <code>mangoWatchdog.status</code>.</p>

<p>
See API Documentation for the <a ui-sref="dashboard.docs.maServices.mangoWatchdog"><code>mangoWatchdog</code></a> service.
</p>

<dual-pane-editor>

<div>
  The watchdog status is <span ng-bind="mangoWatchdog.status"></span>.
</div>

<div ng-if="!mangoWatchdog.apiUp">
    <strong>Failure</strong> Connectivity to the Mango API has been lost.
</div>

<div ng-if="mangoWatchdog.apiUp">
    <strong>Good</strong> Connection to the Mango API is OK.
</div>

<div ng-if="mangoWatchdog.loggedIn">
    <strong>Good</strong> Connection to the Mango API is OK and the user is logged in.
</div>

</dual-pane-editor>
