<div class="container">
	<div class="row login-branding">
		<div class="col-sm-8 col-sm-offset-2">
			<img src="/images/logo.png" class="img-responsive center-block"></img>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <login></login>
                </div>
            </div>
        </div>
    </div>
</div>