<form name="pageEditForm" novalidate ng-submit="savePage()">

<div layout="row" class="page-editor-inputs">
  <md-input-container flex>
      <label ma-tr="dashboards.v3.app.choosePageToEdit"></label>
      <md-select ng-model="selectedPageSummary" ng-model-options="{trackBy: '$value.xid'}" ng-change="loadPage()">
        <md-option ng-repeat="page in pageSummaries track by page.xid" ng-value="page" ng-bind="page.name"></md-option>
      </md-select>
  </md-input-container>
  <md-input-container flex>
      <label ma-tr="dashboards.v3.app.pageName"></label>
      <input name="pageName" required ng-model="selectedPage.name">
      <div ng-messages="pageEditForm.pageName.$error">
        <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
      </div>
  </md-input-container>
  <!-- 
  <md-input-container flex>
      <label ma-tr="common.xid"></label>
      <input name="xid" required ng-model="selectedPage.xid" disabled>
      <div ng-messages="pageEditForm.xid.$error">
        <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
      </div>
  </md-input-container> -->
  
  <md-input-container flex>
      <label ma-tr="dashboards.v3.app.readPermission"></label>
      <input name="readPermission" ng-model="selectedPage.readPermission">
  </md-input-container>
  
  <md-input-container flex>
      <label ma-tr="dashboards.v3.app.editPermission"></label>
      <input name="editPermission" ng-model="selectedPage.editPermission">
  </md-input-container>
</div>

<div layout="row" layout-align="start center" layout-wrap style="margin-bottom:10px;">
    <md-button class="md-raised md-primary md-hue-1" type="submit">
        <md-icon>save</md-icon>
        <span ma-tr="common.save"></span>
    </md-button>
    <md-button ng-click="loadPage()" ng-disabled="selectedPage.isNew" class="md-raised md-warn">
        <md-icon>undo</md-icon>
        <span ma-tr="dashboards.v3.app.revert"></span>
    </md-button>
    <md-button class="md-raised md-warn md-hue-2" ng-click="confirmDeletePage($event)" ng-disabled="selectedPage.isNew">
      <md-icon>delete</md-icon>
      <span ma-tr="common.delete"></span>
    </md-button>
    <md-button ng-click="editMenuItem($event)" class="md-raised md-accent"
      ng-disabled="selectedPage.isNew || !User.current.hasPermission('edit-menus')">
      <md-icon>edit</md-icon>
      <span ma-tr="dashboards.v3.app.addEditMenuItem"></span>
    </md-button>
    <md-button ng-href="{{viewPageLink}}" target="_blank" class="md-raised md-primary md-hue-2" ng-disabled="selectedPage.isNew">
      <md-icon>remove_red_eye</md-icon>
      <span ma-tr="dashboards.v3.app.viewPage"></span>
    </md-button>
    <md-button class="md-raised md-primary md-hue-3" ng-click="createNewPage()">
      <md-icon>add</md-icon>
      <span ma-tr="dashboards.v3.app.newPage"></span>
    </md-button>
    <div flex></div>

    <md-switch ng-model="showEditor" ma-tr-aria-label="dashboards.v3.app.editor" ng-change="showPreview = showEditor ? showPreview : true"><span ma-tr="dashboards.v3.app.editor"></span></md-switch>
    <md-switch ng-model="showPreview" ma-tr-aria-label="dashboards.v3.app.preview" ng-change="showEditor = showPreview ? showEditor : true"><span ma-tr="dashboards.v3.app.preview"></span></md-switch>
</div>

<div layout="column" layout-gt-md="row">
    <div flex="100" layout="column" ng-show="showEditor" style="min-width: 50%;">
        <md-card flex layout="column">
            <md-card-title flex="nogrow">
              <md-card-title-text>
                <span class="md-headline" ma-tr="dashboards.v3.app.editor"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout="column">
              <live-editor flex style="height: 500px" ng-model="selectedPage.jsonData.markup" ng-model-options="{debounce: 1000}"></live-editor>
            </md-card-content>
        </md-card>
    </div>
    <div flex="100" ng-show="showPreview" style="min-width: 50%;">
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" ma-tr="dashboards.v3.app.preview"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div live-preview="selectedPage.jsonData.markup"></div>
            </md-card-content>
        </md-card>
    </div>
</div>

</form>