<md-input-container>
  <label>Choose a page to edit</label>
  <md-select ng-model="editPage" ng-model-options="{trackBy: '$value.xid'}" ng-change="loadPage()">
    <md-option ng-repeat="page in pages" ng-value="page" ng-bind="page.name"></md-option>
  </md-select>
</md-input-container>

<form name="pageEditForm" novalidate ng-submit="savePage()">

<md-input-container>
    <label>Page name</label>
    <input name="pageName" required ng-model="editPageContent.name">
    <div ng-messages="pageEditForm.pageName.$error">
      <div ng-message="required" ma-tr="dashboards.v3.app.required"></div>
    </div>
</md-input-container>

<md-input-container>
    <label>Read permission</label>
    <input name="readPermission" ng-model="editPageContent.readPermission">
</md-input-container>

<md-input-container>
    <label>Edit permission</label>
    <input name="editPermission" ng-model="editPageContent.editPermission">
</md-input-container>

<md-button ng-click="editMenuItem($event, editPageContent.xid, null, null, true, 'pageXid')" ng-disabled="editPageContent.isNew">Edit</md-button>

<span ng-bind="editPageContent.xid"></span>

<div layout="row" style="margin-bottom:10px;">
    <md-button class="md-raised md-primary md-hue-3" ng-click="createNewPage()">
        <md-icon>add</md-icon>
        <span ma-tr="common.add"></span>
    </md-button>
    <md-button class="md-raised md-primary md-hue-3" type="submit">
        <md-icon>save</md-icon>
        <span ma-tr="common.save"></span>
    </md-button>
    <md-button ng-click="loadPage()" ng-disabled="editPageContent.isNew">
        <md-icon>undo</md-icon>
        <span ma-tr="dashboards.v3.dox.revert"></span>
     </md-button>
     <md-button class="md-raised md-warn" ng-click="deletePage()" ng-disabled="editPageContent.isNew">
        <md-icon>delete</md-icon>
        <span ma-tr="common.delete"></span>
     </md-button>
</div>

<div layout="row" layout-wrap>
    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" ma-tr="dashboards.v3.dox.markup"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <div flex>
                    <div style="height:400px" live-editor="editPageContent.jsonData.markup"></div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" ma-tr="dashboards.v3.dox.result"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div live-preview="editPageContent.jsonData.markup"></div>
            </md-card-content>
        </md-card>
    </div>
</div>

</form>