<form name="loginForm">
	<div class="form-group" ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$dirty }">
		<label for="username" class="sr-only" ma-tr="login.userId"></label>
		<input id="username" name="username" ng-model="username" class="form-control" ma-tr="login.userId" autofocus required>
		<span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block"
			ma-tr="login.validation.noUsername"></span>
	</div>
	<div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty }">
		<label for="password" class="sr-only" ma-tr="login.password"></label>
		<input id="password" name="password" ng-model="password" class="form-control" ma-tr="login.password" type="password" required>
		<span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block"
			ma-tr="login.validation.noPassword"></span>
	</div>
	<div class="form-group" ng-class="{'has-error': invalidLogin || otherError}">
		<button ng-click="doLogin()" class="btn btn-lg btn-primary btn-block"
			ma-tr="login.loginButton"></button>
		<span ng-show="invalidLogin" class="help-block" ma-tr="login.validation.invalidLogin"></span>
		<span ng-show="otherError" class="help-block" ma-tr="login.error" ma-tr-args="[otherError]"></span>
	</div>
</form>